@model p41CreateViewModel

@{
    ViewData["Title"] = "Založit/naplánovat výrobní zakázky";
    Layout = "~/Views/Shared/_LayoutModal.cshtml";

}

@addTagHelper *, UI

<div class="bg-light" style="padding:10px;">
    <button id="cmdSave" type="submit" class="btn btn-success">Vygenerovat zakázky</button>
    <button id="cmdClose" onclick="_window_close()" class="btn btn-light">Zavřít</button>

</div>

<form id="form1" asp-controller="p41" asp-action="Create" method="POST">

    <div class="input-group">
        <div>
            <h4>Založit/naplánovat výrobní zakázky</h4>
        </div>
        <div style="float:right;">
            <button type="button" class="btn btn-light" onclick="p51_create()">Vytvořit objednávku +</button>
        </div>
    </div>



    <div class="modal_record_container">
        <div class="form-row">
            <label class="col-3 col-form-label">Pevný čas plánovaného začátku výroby:</label>
            <div class="col-3">
                <mydate asp-for="@Model.Date0" include-time="true"></mydate>
            </div>

        </div>

        <div class="form-row">
            <div class="col-10">
                <mycombo entity="p51Order" placeholder="Vybrat objednávku..." asp-for="@Model.p51ID" selectedtext="@Model.p51Code" event_after_changevalue="p51id_change"></mycombo>
            </div>
            <div class="col-2">

                @if (Model.RecP51 != null)
                {
                    <button id="cmdMoreP51" type="button" class="btn btn-light dropdown-toggle">
                        Info o objednávce
                    </button>
                }


            </div>


        </div>
        <div class="form-row">
            <div class="col-12">
                <mycombo entity="p52OrderItem" placeholder="Vybrat položku objednávky..." asp-for="@Model.p52ID" selectedtext="@Model.p52Code" masterprefix="p51" masterpid="@Model.p51ID" filter-flag="0" event_after_changevalue="p52id_change"></mycombo>
            </div>


        </div>

        <div id="divOrder" style="max-width:1050px;display:none;">
            @Html.DisplayFor(m => m.RecP51, "~/Views/Shared/_p51Info.cshtml")
            <hr />
            @Html.DisplayFor(m => m.RecP52, "~/Views/Shared/_p52Info.cshtml")
        </div>



        <div class="form-row" style="display:none;">
            <div class="col-10">
                <mycombo entity="p26Msz" placeholder="Vybrat stroj..." asp-for="@Model.p26ID" selectedtext="@Model.p26Name" filter-flag="1" event_after_changevalue="p26id_change"></mycombo>
            </div>
            <div class="col-2">

                @if (Model.RecP26 != null)
                {
                    <button id="cmdMoreP26" type="button" class="btn btn-light dropdown-toggle">
                        Info o stroji
                    </button>
                }


            </div>
        </div>
        <div id="divMsz" style="max-width:1050px;display:none;">
            @Html.DisplayFor(m => m.RecP26, "~/Views/Shared/_p26Info.cshtml")
            @foreach (var c in Model.lisP27)
            {
                @Html.DisplayFor(m => c, "~/Views/Shared/_p27Info.cshtml")
            }
        </div>


        <div class="input-group">
            <div style="margin-right:40px;padding:4px;">
                <button class="btn btn-light btn-sm" type="button" onclick="append_task(0)">Přidat ručně zakázku +</button>
            </div>
            @foreach (var c in Model.lisP27)
            {
                <div style="padding:4px;">
                    <button class="btn btn-light btn-sm" type="button" onclick="append_task(@(c.p27ID))">Přidat zakázku pro [@c.p27Name]</button>
                </div>
            }
        </div>



        <hr />
        <div class="input-group">
            <div style="padding:4px;">
                <button class="btn btn-primary" type="button" onclick="simulation_p52()">Navrhnout rozpis zakázek pro položku objednávky</button>
            </div>
            <div style="padding:4px;">
                <button class="btn btn-primary" type="button" onclick="simulation_p51()">Navrhnout rozpis zakázek pro celou objednávku</button>
            </div>
            <div style="padding:4px;">
                <button class="btn btn-light" type="button" onclick="clear_all()">Vyčistit</button>
            </div>
        </div>

        @for (var i = 0; i < Model.Tasks.Count; i++)
        {
            <div @Html.Raw(Model.Tasks[i].CssStyleDisplay)>
                <input type="hidden" asp-for="@Model.Tasks[i].IsTempDeleted" />
                <div class="form-row" style="border-top:solid 1px gray;">
                    <label class="col-sm-1 col-md-2 col-form-label" style="font-weight:bold;">Zakázka #@(i+1):</label>
                    <div class="col-sm-10 col-md-9">
                        <input class="form-control" asp-for="Tasks[i].p41Name" style="background-color:lightgoldenrodyellow;" placeholder="Název zakázky umí vyplnit systém..." />
                    </div>
                    <div class="col-sm-1 col-md-1">
                        <button type="button" class="btn btn-light btn-sm" onclick="delete_task(@(i))">Odstranit</button>
                    </div>

                </div>
                <div class="form-row" style="margin-top:4px;">
                    <label class="col-sm-1 col-md-2 col-form-label">Položka objednávky:</label>
                    <div class="col-sm-11 col-md-10">
                        <mycombo entity="p52OrderItem" view-flag="2" asp-for="Tasks[i].p52ID" selectedtext="Tasks[i].p52Code" masterprefix="p51" masterpid="@Model.p51ID"></mycombo>
                    </div>

                </div>
                <div class="form-row" style="margin-top:4px;">
                    <label class="col-sm-1 col-md-2 col-form-label">Středisko:</label>
                    <div class="col-sm-3 col-md-3">
                        <mycombo entity="p27MszUnit" view-flag="2" asp-for="Tasks[i].p27ID" selectedtext="Tasks[i].p27Name"></mycombo>
                    </div>
                    <label class="col-sm-1 col-md-2 col-form-label">Množství KG:</label>
                    <div class="col-sm-3 col-md-3">
                        <mynumber asp-for="Tasks[i].p41PlanUnitsCount"></mynumber>
                    </div>
                </div>
                <div class="form-row" style="margin-top:4px;">
                    <label class="col-sm-1 col-md-2 col-form-label">Plán zahájení:</label>
                    <div class="col-sm-3 col-md-3">
                        <mydate asp-for="Tasks[i].p41PlanStart" include-time="true"></mydate>
                    </div>
                    <label class="col-sm-1 col-md-2 col-form-label">Plán dokončení:</label>
                    <div class="col-sm-3 col-md-3">
                        <mydate asp-for="Tasks[i].p41PlanEnd" include-time="true"></mydate>
                    </div>
                    <label class="col-sm-1 col-md-1 col-form-label">Trvá (min):</label>
                    <div class="col-sm-1 col-md-1">
                        <span class="form-control bg-light">@(BO.BAS.Number2String(Model.Tasks[i].DurationMinutes))</span>
                        <input type="hidden" asp-for="@Model.Tasks[i].DurationMinutes" />
                    </div>

                </div>

            </div>

        }


    </div>
</form>





<script type="text/javascript">
    $(document).ready(function () {


        $("#cmdSave").click(function () {            
            $(this).text("Processing...");
            $(this).attr("disabled", true);
            form1.action = "/p41/Create?rec_oper=save";
            form1.submit();
            
        });

        $("#cmdMoreP51").click(function () {
            $("#divOrder").slideToggle();
        });
        $("#cmdMoreP26").click(function () {
            $("#divMsz").slideToggle();
        });

    });

    function append_task(p27id) {
        form1.action = "/p41/Create?rec_oper=newitem&p27id="+p27id;
        form1.submit();
    }

    function p52id_change(p52id) {
        form1.action = "/p41/Create?rec_oper=postback";
        form1.submit();

    }
    function p51id_change(p51id) {
        form1.action = "/p41/Create?rec_oper=p51id_change";
        form1.submit();

    }
    function p26id_change(p26id) {
        form1.action = "/p41/Create?rec_oper=postback";
        form1.submit();

    }

    function delete_task(index) {
        $("#Tasks_" + index + "__IsTempDeleted").val("True");

        form1.action = "/p41/Create?rec_oper=delete";
        form1.submit();
    }
    function clear_all() {
        form1.action = "/p41/Create?rec_oper=clear";
        form1.submit();
    }

    function simulation_p52() {
        form1.action = "/p41/Create?rec_oper=simulation_p52";
        form1.submit();
    }
    function simulation_p51() {
        form1.action = "/p41/Create?rec_oper=simulation_p51";
        form1.submit();
    }

    function p51_create() {
        _edit("p51", "0", "Založit objednávku");

    }

    function hardrefresh(pid, flag) {
        //zde volá modální okno otevřené z modálního okna (třetí vrstva) - to už si každá modální stránka řeší sama ve své režiji


    }
</script>

