@model p41PreviewViewModel

@{
    ViewData["Title"] = "Zakázka";
    Layout = "~/Views/Shared/_LayoutSubform.cshtml";
    if (Model.Rec == null) return;
}

    <div class="modal_record_container">


        <div class="form-row">
            <label class="col-sm-1 col-md-2 col-form-label">Zakázka:</label>
            <div class="col-sm-8 col-md-7">

                <span class="val-readonly">@(Model.Rec.p41Name)</span>
            </div>
            <div class="col-sm-3 col-md-3">
                <span class="val-readonly">@(Model.Rec.p41Code)</span>

            </div>
        </div>
        @if (Model.RecSuccessor != null)
        {
            <div class="form-row" style="margin-top:10px;">
                <label class="col-sm-1 col-md-2 col-form-label">Následovník:</label>
                <div class="col-sm-8 col-md-7">

                    <span class="val-readonly">@(Model.RecSuccessor.p41Name)</span>
                </div>
                <div class="col-sm-3 col-md-3">
                    <span class="val-readonly">@(Model.RecSuccessor.p41Code)</span>

                </div>
            </div>
        }
        @if (Model.RecPredecessor != null)
        {
            <div class="form-row" style="margin-top:10px;">
                <label class="col-sm-1 col-md-2 col-form-label">Předchůdce:</label>
                <div class="col-sm-8 col-md-7">

                    <span class="val-readonly">@(Model.RecPredecessor.p41Name)</span>
                </div>
                <div class="col-sm-3 col-md-3">
                    <span class="val-readonly">@(Model.RecPredecessor.p41Code)</span>

                </div>
            </div>
        }
        <div class="form-row" style="margin-top:10px;">
            <label class="col-sm-1 col-md-2 col-form-label">Zařízení:</label>
            <div class="col-sm-3 col-md-3">
                <span class="val-readonly">@(Model.Rec.p27Name)</span>
            </div>
            <label class="col-sm-1 col-md-1 col-form-label">Aktuální stav:</label>
            <div class="col-sm-5 col-md-5">
                <span class="val-readonly">@(Model.Rec.b02Name)</span>
            </div>
        </div>

        <div class="form-row" style="margin-top:10px;">
            <label class="col-sm-1 col-md-2 col-form-label">Plán zahájení:</label>
            <div class="col-sm-3 col-md-3">
                <span class="val-readonly">@(Model.Rec.p41PlanStart)</span>
            </div>
            <label class="col-sm-1 col-md-1 col-form-label">Dokončení:</label>
            <div class="col-sm-3 col-md-3">
                <span class="val-readonly">@(Model.Rec.p41PlanEnd)</span>
            </div>
            <label class="col-sm-1 col-md-1 col-form-label">Trvá (min):</label>
            <div class="col-sm-1 col-md-1">
                <span class="val-readonly">@(BO.BAS.Number2String(Model.Rec.p41Duration))</span>
            </div>
        </div>

        <div class="form-row" style="margin-top:10px;">
            @if (Model.RecP52 != null)
            {
                <label class="col-sm-1 col-md-2 col-form-label">Plánované množství @Model.RecP52.p20CodePro:</label>
            }
            else
            {
                <label class="col-sm-1 col-md-2 col-form-label">Plánované množství ??:</label>
            }

            <div class="col-sm-3 col-md-3">
                <span class="val-readonly">@(Model.Rec.p41PlanUnitsCount)</span>
            </div>

            <label class="col-sm-1 col-md-1 col-form-label">Kód skladu:</label>
            <div class="col-sm-6 col-md-6">
                <span class="val-readonly">@(Model.Rec.p41StockCode)</span>
            </div>

        </div>

        @Html.Raw(Model.Rec.TagHtml)
    </div>


@if (Model.Rec.p41Memo != null)
{
    <hr />

    <pre>@Html.DisplayFor(m => m.Rec.p41Memo, new { @class = "val-readonly-wrap" });</pre>


}


@Html.DisplayFor(m => m.Rec, "~/Views/Shared/_MyTimestamp.cshtml")


<div class="modal_record_container">
    @Html.DisplayFor(m => m.RecP52, "~/Views/Shared/_p52Info.cshtml")
    <hr />
    @Html.DisplayFor(m => m.RecP51, "~/Views/Shared/_p51Info.cshtml")


</div>

