@model p41TimelineViewModel

@addTagHelper *, UI

@{
    ViewData["Title"] = "Timeline zakázek";
    Layout = "~/Views/Shared/_Layout.cshtml";

    int _Month = Model.CurrentDate.Month;
    int _Year = Model.CurrentDate.Year;

    int _colsHours = 24;

    int x = 0;
    string strSlot = "00:00";
    string strNextSlot = "00:00";

    int intColPosun = 2;
    DateTime d = Model.CurrentDate;
    int intZpetPosunHourFrom = Model.HourFrom * 60 / 10;  //posun kvůli nastavené časové ose od-do
                                                          //int intCOlPosunUntil = (24 - Model.HourUntil) * 60 / 10;

    string strClass = "";
    double dblVytizenost = 0;

}

<style type="text/css">
    .grid-container-header {
        display: grid;
        grid-gap: 0px;
        background-color: transparent;
        border-bottom: solid 1px silver;
        border-top: solid 1px silver;
    }

        .grid-container-header > div {
            height: 20px;
            text-align: center;
        }

    .grid-container {
        display: grid;
        grid-gap: 0px;
        grid-auto-flow: row;
    }

        .grid-container > div {
            text-align: left;
            margin-bottom: 1px;
        }

    .colheader {
        border-left: solid 1px silver;
    }


    div.stredisko {
        background-color: transparent;
        font-weight: bold;
        color: black;
    }

    span.kapacita {
        background-color: khaki;
        border: solid 1px silver;
        border-radius: 3px;
        padding-left: 2px;
        padding-right: 2px;
        font-weight: normal;
    }

    span.vytizenost {
        border: solid 1px silver;
        border-radius: 3px;
        padding-left: 2px;
        padding-right: 2px;
        font-weight: normal;
    }

    div.popre {
        background-color: lawngreen;
    }

    div.popost {
        background-color: lightgreen;
    }

    div.pretask {
        background-color: khaki;
        border-top: solid 1px white;
        height: 50px;
    }

    div.posttask {
        background-color: darkkhaki;
        border-top: solid 1px white;
        height: 50px;
    }

    div.onetask {
        background-color: darkseagreen;
        border-top: solid 1px white;
        height: 50px;
    }

    div.onetask_overday {
        border-top: solid 1px white;
        background-color: orange;
        height: 50px;
    }



    div.fondin {
        border-left: solid 1px white;
        background-color: #B0C4DE;
        height: 20px;
    }

    div.fondout {
        border-left: solid 1px silver;
        background-color: #FFF0F7;
        height: 20px;
    }
</style>


<div class="input-group">
    <div style="padding-top: 4px;">
        <h4>Timeline zakázek</h4>
    </div>

    <div style="width:30px;">
        <button type="button" class="btn btn-light" title="Předchozí den" onclick="day_prev()">&lt;&lt;</button>
    </div>
    <div style="width: 120px;">

        <mydate asp-for="@Model.CurrentDate"></mydate>

    </div>
    <div style="width:30px;">
        <button type="button" class="btn btn-light" title="Následující den" onclick="day_next()">&gt;&gt;</button>
    </div>

    <button id="cmdView" type="button" class="btn btn-light dropdown-toggle" style="margin-left:10px;">

        Nastavit zobrazení
    </button>



</div>
<div id="divView" style="max-width:1050px;display:none;background-color:aliceblue;">
    <div style="padding:20px;">
        <h4>
            Nastavit Timeline zobrazení
            <button type="button" class="btn btn-primary" onclick="localquery_submit()">Uložit Timeline nastavení</button>
        </h4>
        <div class="input-group">
            <label>Hodina od:</label>
            <select asp-for="@Model.HourFrom">
                <option value="0">00:00</option>
                <option value="1">01:00</option>
                <option value="2">02:00</option>
                <option value="3">03:00</option>
                <option value="4">04:00</option>
                <option value="5">05:00</option>
                <option value="6">06:00</option>
                <option value="7">07:00</option>
                <option value="8">08:00</option>
                <option value="9">09:00</option>
                <option value="10">10:00</option>
                <option value="11">11:00</option>
            </select>
            <label>Hodina do:</label>
            <select asp-for="@Model.HourUntil">
                <option value="15">15:00</option>
                <option value="16">16:00</option>
                <option value="17">17:00</option>
                <option value="18">18:00</option>
                <option value="19">19:00</option>
                <option value="20">20:00</option>
                <option value="21">21:00</option>
                <option value="22">22:00</option>
                <option value="23">23:00</option>
                <option value="24">24:00</option>

            </select>
        </div>
        <div>
            <input type="checkbox" asp-for="@Model.localQuery.IsPoPre" />
            <label for="localQuery_IsPoPre">Zobrazovat zakázky s [PO-PRE] operacemi</label>
        </div>
        <div>
            <input type="checkbox" asp-for="@Model.localQuery.IsPoPost" />
            <label for="localQuery_IsPoPost">Zobrazovat zakázky s [PO-POST] operacemi</label>
        </div>
        <div>
            <input type="checkbox" asp-for="@Model.localQuery.IsTo" />
            <label for="localQuery_IsTo">Zobrazovat zakázky s [TO] operacemi</label>
        </div>

        <div>
            <mycombochecklist asp-for="@Model.localQuery.SelectedP26IDs" entity="p26Msz" selectedtext="@Model.localQuery.SelectedP26Names" placeholder="Skupiny zařízení..."></mycombochecklist>
        </div>
        <div>
            <mycombochecklist asp-for="@Model.localQuery.SelectedP27IDs" entity="p27MszUnit" selectedtext="@Model.localQuery.SelectedP27Names" placeholder="Zařízení..."></mycombochecklist>
        </div>
        <div>
            <mycombochecklist asp-for="@Model.localQuery.SelectedB02IDs" entity="b02Status" param1="p41" selectedtext="@Model.localQuery.SelectedB02Names" placeholder="Stavy zakázek..."></mycombochecklist>
        </div>

    </div>


</div>


<div class="grid-container-header" style="grid-template-columns:150px repeat(@_colsHours,60px);">

    <div style="grid-column: 1/span 1;" title="Vybraný den">@(BO.BAS.ObjectDate2String(Model.CurrentDate,"dd.MM. dddd"))</div>

    @for (int i = Model.HourFrom; i < Model.HourUntil; i++)
    {

        strSlot = BO.BAS.RightString("0" + i.ToString(), 2) + ":00";
        strNextSlot = BO.BAS.RightString("0" + (i + 1).ToString(), 2) + ":00";

        <div class="colheader" title="@(strSlot+" - "+strNextSlot)" style="grid-column: @(x+intColPosun)/span 1;">@strSlot</div>
        x += 1;

    }

</div>
@{
    x = 0;
}
<div class="grid-container-header" style="grid-template-columns:150px repeat(@(_colsHours*6),10px);">

    <div style="grid-column: 1/span 1;"></div>

    @for (int i = Model.HourFrom; i < Model.HourUntil; i++)
    {
        for (int j = 0; j < 60; j = j + 10)
        {
            strSlot = BO.BAS.RightString("0" + i.ToString(), 2) + ":" + BO.BAS.RightString("0" + j.ToString(), 2);
            if (j < 50)
            {
                strNextSlot = BO.BAS.RightString("0" + i.ToString(), 2) + ":" + BO.BAS.RightString("0" + (j + 10).ToString(), 2);
            }
            else
            {
                strNextSlot = BO.BAS.RightString("0" + (i + 1).ToString(), 2) + ":00";
            }


            <div class="colheader" title="@(strSlot+" - "+strNextSlot)" style="grid-column: @(x+intColPosun)/span 1;"></div>

            x += 1;
        }


    }
</div>



@foreach (var stredisko in Model.lisP27)
{
    x = 0;
    <div class="grid-container" style="grid-template-columns:150px repeat(@(_colsHours*6),10px);">
        <div class="stredisko" style="grid-column: 1/span 1;"></div>
        @for (int i = Model.HourFrom; i < Model.HourUntil; i++)
        {
            for (int j = 0; j < 60; j = j + 10)
            {
                d = Model.CurrentDate.AddHours(i).AddMinutes(j);
                if (Model.lisFond.Where(p => (p.p31ID == stredisko.p31ID && d >= p.p33DateTime && d <= p.p33DateTimeUntil)).Count() > 0)
                {


                    <div class="fondin" style="grid-column: @(x+intColPosun)/span 1;"></div>
                }
                else
                {
                    <div class="fondout" style="grid-column: @(x+intColPosun)/span 1;"></div>
                }

                x += 1;

            }



        }


    </div>

    <div class="grid-container" style="grid-template-columns:150px repeat(@(_colsHours*6),10px);border-bottom: dashed 1px silver;margin-bottom: 3px;">
        <div class="stredisko" style="grid-column: 1/span 1;">
            <div>
                @{
                    dblVytizenost = 100 * (double)Model.Slots.Where(p => p.p27ID == stredisko.pid).Sum(p => p.DurationHours) / ((double)Model.lisFond.Where(p => (p.p31ID == stredisko.p31ID && p.p33Date == Model.CurrentDate)).Count() / 2);
                }
                @if (dblVytizenost <= 30)
                {
                    <span class="vytizenost" style="color:red;" title="Vytíženost zařízení">
                        @(Convert.ToInt32(dblVytizenost).ToString()+"%")
                    </span>
                }
                @if (dblVytizenost > 30 && dblVytizenost <= 50)
                {
                    <span class="vytizenost" style="color:gold;" title="Vytíženost zařízení">
                        @(Convert.ToInt32(dblVytizenost).ToString()+"%")
                    </span>
                }
                @if (dblVytizenost > 50 && dblVytizenost <= 95)
                {
                    <span class="vytizenost" style="color:green;" title="Vytíženost zařízení">
                        @(Convert.ToInt32(dblVytizenost).ToString()+"%")
                    </span>
                }
                @if (dblVytizenost > 95)
                {
                    <span class="vytizenost" style="color:orange;" title="Vytíženost zařízení">
                        @(Convert.ToInt32(dblVytizenost).ToString()+"%")
                    </span>
                }
                <span>
                    @stredisko.p27Code
                </span>
            </div>
            <a class="cm" onclick="_cm(event,'p27',@stredisko.pid)">☰</a>
            @stredisko.p27Name <span class="kapacita">
                @stredisko.p27Capacity
            </span>



        </div>
        @foreach (var slot in Model.Slots.Where(p => p.p27ID == stredisko.pid).OrderBy(p => p.Start))
        {
            <div class="@slot.CssName" style="background-color:@(slot.b02Color); grid-column: @(slot.ColStart+intColPosun-intZpetPosunHourFrom)/span @slot.ColSpan;">
                <a class="cm" title="@slot.b02Name" onclick="_cm(event,'p41',@slot.p41ID)">☰</a>
                <a class="reczoom" data-title="@slot.Title" data-rel="/p41/Index?pid=@(slot.p41ID)&hover_by_reczoom=1" style="visibility:visible!important;">ℹ</a>
                @if (slot.ColSpan > 6)
                {
                    <small>@slot.p41Code</small>
                }
                @if (slot.ColEndPre > 0 || slot.ColStartPost > 0)
                {
                    <div class="grid-container-header" style="grid-template-columns:repeat(@(slot.ColSpan),10px);" title="@slot.TitlePre ☆ @slot.TitleClear ☆ @slot.TitlePost">
                        @for (int i = 1; i <= slot.ColSpan; i++)
                        {
                            strClass = "colheader";

                            if (slot.ColEndPre > 0 && slot.ColEndPre >= i)
                            {
                                strClass += " popre";

                            }
                            if (slot.ColStartPost > 0 && slot.ColStartPost <= i)
                            {
                                strClass += " popost";

                            }
                            <div class="@strClass" style="grid-column: @(i)/span 1;"></div>
                        }
                    </div>
                }

            </div>





        }





    </div>
}



@section Scripts{
    <script type="text/javascript">

        $(document).ready(function () {



            $("#cmdView").click(function () {
                $("#divView").slideToggle();
            });

            $("#CurrentDatehelper").change(function () {
                var d = $(this).val();

                reload(d);
            });


            
            _mainmenu_select("p41timeline");
        });

    function day_next() {
        var d = "@(BO.BAS.ObjectDate2String( Model.CurrentDate.AddDays(1)))";
        reload(d);
    }
    function day_prev() {
        var d = "@(BO.BAS.ObjectDate2String( Model.CurrentDate.AddDays(-1)))";
        reload(d);
    }
    function month_next() {
        var d = "@(BO.BAS.ObjectDate2String( Model.CurrentDate.AddMonths(1)))";
        reload(d);
    }
    function month_prev() {
        var d = "@(BO.BAS.ObjectDate2String( Model.CurrentDate.AddMonths(-1)))";
        reload(d);
    }



    function reload(d) {

        location.replace("/p41/p41Timeline?d=" + d);
        }


        function localquery_submit() {
            var keys = [];
            var vals = [];

            keys.push("p41Timeline-p27ids");
            vals.push($("#localQuery_SelectedP27IDs").val());
            keys.push("p41Timeline-p27names");
            vals.push($("#value_alias_localQuery_SelectedP27IDs").val());

            keys.push("p41Timeline-p26ids");
            vals.push($("#localQuery_SelectedP26IDs").val());
            keys.push("p41Timeline-p26names");
            vals.push($("#value_alias_localQuery_SelectedP26IDs").val());

            keys.push("p41Timeline-b02ids");
            vals.push($("#localQuery_SelectedB02IDs").val());
            keys.push("p41Timeline-b02names");
            vals.push($("#value_alias_localQuery_SelectedB02IDs").val());
            keys.push("p41Timeline-hourfrom");
            vals.push($("#HourFrom").val());
            keys.push("p41Timeline-houruntil");
            vals.push($("#HourUntil").val());
            keys.push("p41Timeline-ispopre");
            if ($("#localQuery_IsPoPre").prop("checked") == true) {
                vals.push("1");
            }else {
                vals.push("0");
            }
            keys.push("p41Timeline-isto");
            if ($("#localQuery_IsTo").prop("checked") == true) {
                vals.push("1");
            } else {
                vals.push("0");
            }
            keys.push("p41Timeline-ispopost");
            if ($("#localQuery_IsPoPost").prop("checked") == true) {
                vals.push("1");
            } else {
                vals.push("0");
            }

            $.post("/Common/SetUserParams", { keys: keys,values:vals }, function (data) {

                var d = "@(BO.BAS.ObjectDate2String( Model.CurrentDate))";
                reload(d);


            });
        }

    </script>
}
