@model p41RecordViewModel

@{
    ViewData["Title"] = "Zakázka";
    Layout = "~/Views/Shared/_LayoutModal.cshtml";
    if (Model.Rec == null || Model.RecP52 == null) return;
}

@addTagHelper *, UI

<form id="form1" asp-controller="p41" asp-action="Record" method="POST">
    <h4>Výrobní zakázka</h4>
    @Html.EditorFor(m => m.Toolbar, "~/Views/Shared/_MyToolbar.cshtml")
    @Html.HiddenFor(m => m.Rec.pid)

<div class="modal_record_container">
    <input type="hidden" asp-for="@Model.Rec.p52ID" />


    <div class="form-row">
        <label class="col-sm-1 col-md-2 col-form-label">Název:</label>
        <div class="col-sm-8 col-md-7">
            <input class="form-control" asp-for="Rec.p41Name" />
            <span asp-validation-for="Rec.p41Name" class="text-danger"></span>
        </div>
        <div class="col-sm-3 col-md-3">
            <input class="form-control" asp-for="Rec.p41Code" />
            <span asp-validation-for="Rec.p41Code" class="text-danger"></span>
        </div>
    </div>

    <div class="form-row" style="margin-top:10px;">
        <label class="col-sm-1 col-md-2 col-form-label">Středisko:</label>
        <div class="col-sm-3 col-md-3">
            <mycombo entity="p27MszUnit" view-flag="2" asp-for="Rec.p27ID" selectedtext="Rec.p27Name" masterprefix="p41" masterpid="@Model.Rec.pid"></mycombo>
        </div>
        <label class="col-sm-1 col-md-1 col-form-label">Aktuální stav:</label>
        <div class="col-sm-5 col-md-5">
            <mycombo entity="b02Status" view-flag="2" asp-for="Rec.b02ID" selectedtext="Rec.b02Name" param1="p41" masterprefix="p41" masterpid="@Model.Rec.pid"></mycombo>
        </div>
    </div>

    <div class="form-row" style="margin-top:10px;">
        <label class="col-sm-1 col-md-2 col-form-label">Plán zahájení:</label>
        <div class="col-sm-3 col-md-3">
            <mydate asp-for="Rec.p41PlanStart" include-time="true"></mydate>
        </div>
        <label class="col-sm-1 col-md-1 col-form-label">Trvá minut:</label>
        <div class="col-sm-2 col-md-2">
            <span class="form-control bg-light">@BO.BAS.Number2String(Model.Rec.p41Duration)</span>
        </div>
        <div class="col-sm-2 col-md-2">
            <span id="Rec_p41PlanEnd" class="form-control bg-light">@Model.Rec.p41PlanEnd</span>
        </div>

    </div>

    <div class="form-row" style="margin-top:10px;">
        <label class="col-sm-1 col-md-2 col-form-label">Plánované množství kg:</label>
        <div class="col-sm-3 col-md-3">
            <mynumber asp-for="Rec.p41PlanUnitsCount"></mynumber>
        </div>

        <label class="col-sm-1 col-md-1 col-form-label">Kód skladu:</label>
        <div class="col-sm-6 col-md-6">
            <input class="form-control" asp-for="Rec.p41StockCode" />
            <span asp-validation-for="Rec.p41StockCode" class="text-danger"></span>
        </div>

    </div>

    <mystitky entity="p41Task" asp-for="@Model.TagPids" tagnames="@Model.TagNames" taghtml="@Model.TagHtml"></mystitky>

    <div class="form-row" style="margin-top:10px;">
        <textarea asp-for="Rec.p41Memo" class="form-control" style="height:150px;" placeholder="Podrobný popis"></textarea>
        <span asp-validation-for="Rec.p41Memo" class="text-danger"></span>
    </div>



</div>


</form>

@Html.DisplayFor(m => m.Rec, "~/Views/Shared/_MyTimestamp.cshtml")

<button id="cmdMore" type="button" class="btn btn-secondary dropdown-toggle">
    
    Info o objednávce
</button>
<div id="divOrder" style="max-width:1050px;display:none;">
    @Html.DisplayFor(m => m.RecP52, "~/Views/Shared/_p52Info.cshtml")
    <hr />
    @Html.DisplayFor(m => m.RecP51, "~/Views/Shared/_p51Info.cshtml")
</div>









<script type="text/javascript">

    $("#cmdMore").click(function () {
        $("#divOrder").slideToggle();
    });


    $("[for-id=Rec_p41Duration]").blur(function () {
        var n = $("[for-id=Rec_p41Duration]").val();
        var d = _string_to_date($("#Rec_p41PlanStart").val());
        d = _date_add(d, "minute", parseFloat(n));
        $("#Rec_p41PlanEnd").text(_format_date(d,true));
        
    });



    function hardrefresh(pid, flag) {
        //zde volá modální okno otevřené z modálního okna (třetí vrstva) - to už si každá modální stránka řeší sama ve své režiji


    }
</script>