@model UI.Models.MyComboViewModel

<div id="@Model.ControlID_Dropdown" class="dropdown mycombo">
    <button class="btn btn-light dropdown-toggle" type="button" id="@(@Model.ControlID+"_cmdCombo")" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="text-align:left;width:100%;">
        @Model.SelectedText
    </button>
    <div class="dropdown-menu" aria-labelledby="@(@Model.ControlID+"_cmdCombo")" style="width:@Model.TableWidth;">

        <div class="form-row">
            <div class="col-10">
                <input type="text" id="@(@Model.ControlID+"_search")" class="form-control" placeholder="Najít..." autocomplete="off" />
            </div>
            <div class="col-2">
                <button type="button" id="@(@Model.ControlID+"_clear")" class="btn btn-light">Vyčistit</button>
            </div>
        </div>

        <div id="@(@Model.ControlID+"_divtab")" style="height:200px;overflow:auto;">

        </div>
    </div>
    <input type="hidden" asp-for="@Model.SelectedValue" />
    <input type="hidden" asp-for="@Model.SelectedText" />
    <input type="hidden" id="@(@Model.ControlID+"_entity")" asp-for="@Model.Entity" />
</div>




<script type="text/javascript">
        var _mycombo@(@Model.ControlID)={
            controlid: "@Model.ControlID",
            dropdownid: "@Model.ControlID_Dropdown",
            tableid: "@Model.ControlID_Table",
            posturl: "@Url.Action("GetComboHtmlItems", "Common")",
            param1: "@Model.Param1",
            onchange: "@Model.OnChange_Event"
        };

        _mycombo_init(_mycombo@(@Model.ControlID));


</script>
