@model p13PreviewViewModel

@{
    ViewData["Title"] = "Receptura";
    Layout = "~/Views/Shared/_LayoutSubform.cshtml";
    if (Model.Rec == null) return;
}

@Html.HiddenFor(m => m.Rec.pid)


<div class="modal_record_container">


    <div class="form-row">
        
        <div class="col-sm-6 col-md-6">
            <span class="form-control bg-light">@(Model.Rec.p13Name)</span>

        </div>
        <div class="col-sm-4 col-md-4">
            <span class="form-control bg-light">@(Model.Rec.p25Name)</span>

        </div>
        <div class="col-sm-2 col-md-2">
            <span class="form-control bg-light">@(Model.Rec.p13Code)</span>

        </div>
    </div>



</div>
@if (Model.Rec.p13Memo != null)
{
    <hr />

    <pre>@Html.DisplayFor(m => m.Rec.p13Memo, new { @class = "form-control" });</pre>


}

@Html.DisplayFor(m => m.Rec, "~/Views/Shared/_MyTimestamp.cshtml")

<table id="tab1" class="table table-sm table-hover table-bordered" style="min-width:900px;">
    <thead id="thead1" style="background-color:lightgray;">
        <tr>
            <th>RowNum</th>
            <th>OperNum</th>
            <th>OperCode</th>
            <th>Name</th>
            <th>OperPar</th>
            <th>Material</th>
            
            <th>UnitsCount</th>
            <th>DurationPreOper</th>
            <th>DurationOper</th>
            <th>DurationPostOper</th>

        </tr>
    </thead>

    <tbody id="tbody1">
        @foreach(var c in Model.lisP14)
        {
        <tr>
            <td style="text-align:right;">
                <a href="javascript:_window_open('/p14/Record?pid=@c.pid')">@c.p14RowNum</a>
                
            </td>
            <td style="text-align:right;">
                @c.p14OperNum
            </td>
            <td>
                @c.OperCode
            </td>
            <td>
                @c.p14Name
            </td>
            <td>
                @c.p14OperParam
            </td>
            <td>
                @c.Material
            </td>
            <td style="text-align:right;">
                @c.p14UnitsCount
            </td>
            <td style="text-align:right;">
                @c.p14DurationPreOper
            </td>
            <td style="text-align:right;">
                @c.p14DurationOper
            </td>
            <td style="text-align:right;">
                @c.p14DurationPostOper
            </td>
        </tr>
        }
    </tbody>
</table>



<script type="text/javascript">

    $(document).ready(function ()
    {
   
        });
</script>
