@model p13PreviewViewModel

@{
    ViewData["Title"] = "Receptura";
    Layout = "~/Views/Shared/_LayoutSubform.cshtml";
    if (Model.Rec == null) return;
}

@Html.HiddenFor(m => m.Rec.pid)


    <div class="modal_record_container">


        <div class="form-row">

            <div class="col-sm-6 col-md-6">
                <span class="form-control bg-light">@(Model.Rec.p13Name)</span>

            </div>
            <div class="col-sm-4 col-md-4">
                <span class="form-control bg-light">@(Model.Rec.p25Name)</span>

            </div>
            <div class="col-sm-2 col-md-2">
                <span class="form-control bg-light">@(Model.Rec.p13Code)</span>

            </div>
        </div>


        @Html.Raw(Model.Rec.TagHtml)
    </div>
@if (Model.Rec.p13Memo != null)
{
    <hr />

    <pre>@Html.DisplayFor(m => m.Rec.p13Memo, new { @class = "form-control" });</pre>


}

@Html.DisplayFor(m => m.Rec, "~/Views/Shared/_MyTimestamp.cshtml")


<div id="divP14Table"></div>



<script type="text/javascript">

    $(document).ready(function ()
    {

        
        $.post("/Common/GetWorkTable", { entity: "p14MasterOper", edit_function: "p14_edit", master_entity: "p13MasterTpv", master_pid:@Model.Rec.pid }, function (data) {
            $("#divP14Table").html(data);

        });


    });


    function p14_edit(pid) {
        _window_open("/p14/Record?pid=" + pid);
    }
</script>
