@model p13RecordViewModel

@{
    ViewData["Title"] = "Master TPV";
    Layout = "~/Views/Shared/_LayoutModal.cshtml";
    if (Model.Rec == null) return;


}

@addTagHelper *, UI


<form id="form1" asp-controller="p13" asp-action="Record" method="POST">
    <h4>TPV [Master]</h4>
    @Html.EditorFor(m => m.Toolbar, "~/Views/Shared/_MyToolbar.cshtml")
    @Html.HiddenFor(m => m.Rec.pid)


    <div class="modal_record_container">

        <div class="form-row">
            <label class="col-sm-1 col-md-2 col-form-label">Název:</label>
            <div class="col-sm-9 col-md-8">
                <input class="form-control" asp-for="Rec.p13Name" />
                <span asp-validation-for="Rec.p13Name" class="text-danger"></span>
            </div>
            <div class="col-sm-2 col-md-2">
                <input class="form-control" asp-for="Rec.p13Code" placeholder="Číslo postupu" />
                <span asp-validation-for="Rec.p13Code" class="text-danger"></span>
            </div>
        </div>


        <div class="form-row">
            <textarea asp-for="Rec.p13Memo" class="form-control" placeholder="Podrobný popis"></textarea>
            <span asp-validation-for="Rec.p13Memo" class="text-danger"></span>
        </div>



        
    </div>
    <hr />
    <button type="button" class="btn btn-primary" onclick="p14_add_row()">Přidat řádek</button>
    <table class="table table-sm table-hover" style="table-layout: fixed;width:100%;min-width:800px;">
        <tr style="display:table-row;">
            <th style="width:70px;">Row<br />Num</th>
            <th style="width:70px;">Oper<br />Num</th>
            <th style="width:100%px;">Oper<br />Code</th>
            <th>Name</th>
            <th style="width:70px;">Oper<br />Par</th>
            
            <th>Material</th>
            <th style="width:70px;">Units<br />Count</th>
            <th style="width:70px;">Duration<br />PreOper</th>
            <th style="width:70px;">Duration<br />Oper</th>
            <th style="width:70px;">Duration<br />PostOper</th>
            <th style="width:30px;"></th>
            <th style="width:30px;"></th>
            <th style="width:30px;"></th>
        </tr>
        @{ 
            int rowindex = -1;
        }
        @foreach (var c in Model.lisP14.OrderBy(p=>p.p14RowNum))
        {
            rowindex += 1;
            int i = 0;
            @for (var x = 0; x < Model.lisP14.Count(); x++)
            {
                if (c.TempRecGuid == Model.lisP14[x].TempRecGuid)
                {
                    i = x;
                }
            }

                <tr style="display:@Model.lisP14[i].TempRecDisplay">
                    <td>
                        <input type="text" class="form-control px-1 rownum" id="rownumber_@rowindex" asp-for="@Model.lisP14[i].p14RowNum" />
                        <input type="hidden" asp-for="@Model.lisP14[i].p14ID" />
                        <input type="hidden" id="@Model.lisP14[i].TempRecGuid" asp-for="@Model.lisP14[i].TempRecDisplay" />
                        <input type="hidden" asp-for="@Model.lisP14[i].TempRecGuid" />
                    </td>
                    <td>
                        <input type="text" class="form-control px-1" asp-for="@Model.lisP14[i].p14OperNum" />
                    </td>
                    <td>
                        <mycombo entity="p18OperCode" asp-for="@Model.lisP14[i].p18ID" selectedtext="@Model.lisP14[i].OperCode"></mycombo>
                    </td>
                    <td>
                        <input type="text" class="form-control px-1" asp-for="@Model.lisP14[i].p14Name" />
                    </td>
                    <td>
                        <input type="number" class="form-control px-1" step="0" asp-for="@Model.lisP14[i].p14OperParam" />
                    </td>
                    <td style="background-color:lightgoldenrodyellow;">
                        <mycombo entity="p19Material" asp-for="@Model.lisP14[i].p19ID" selectedtext="@Model.lisP14[i].Material"></mycombo>
                    </td>
                   
                    <td>
                        <mynumber asp-for="@Model.lisP14[i].p14UnitsCount"></mynumber>
                    </td>
                    <td>
                        <input type="number" class="form-control px-1" step="0" asp-for="@Model.lisP14[i].p14DurationPreOper" />
                    </td>
                    <td>
                        <input type="number" class="form-control px-1" step="0" asp-for="@Model.lisP14[i].p14DurationOper" />
                    </td>
                    <td>
                        <input type="number" class="form-control px-1" step="0" asp-for="@Model.lisP14[i].p14DurationPostOper" />
                    </td>

                    <td>
                        @if (rowindex > 0)
                        {
                            <button type="button" class="btn btn-primary" onclick="p14_up_row(@rowindex)">
                                ↑
                            </button>
                        }

                    </td>
                    <td>
                        @if (rowindex < Model.lisP14.Count() - 1)
                        {
                            <button type="button" class="btn btn-primary" onclick="p14_down_row(@rowindex)">
                                ↓
                            </button>
                        }

                    </td>
                    <td>
                        <button type="button" class="btn btn-danger" onclick="p14_delete_row('@Model.lisP14[i].TempRecGuid')">x</button>

                    </td>

                </tr>
            }
    </table>
</form>

@Html.DisplayFor(m => m.Rec, "~/Views/Shared/_MyTimestamp.cshtml")






<script type="text/javascript">   
   
    $(document).ready(function () {

    

    });



    function p14_add_row() {        
        form1.action = "/p13/Record?rec_oper=add";         
        form1.submit();
    }
    function p14_delete_row(guid) {         
        $("#" + guid).val("none");
        form1.action = "/p13/Record?rec_oper=postback";
        form1.submit();
    }
    function p14_down_row(rowindex) {        
        var x = 1;
        $(".rownum").each(function () {
            $(this).val(x);
            x += 1;
        });

        x = parseInt($("#rownumber_" + (rowindex+1)).val());
        $("#rownumber_" + rowindex).val(x);
        $("#rownumber_" + (rowindex + 1)).val(x - 1);

        form1.action = "/p13/Record?rec_oper=postback";
        form1.submit();
    }
    function p14_up_row(rowindex) {
        var x = 1;
        $(".rownum").each(function () {
            $(this).val(x);
            x += 1;
        });
        
        x = parseInt($("#rownumber_" + (rowindex - 1)).val());
        $("#rownumber_" + rowindex).val(x);
        $("#rownumber_" + (rowindex - 1)).val(x+1);

        form1.action = "/p13/Record?rec_oper=postback";
        form1.submit();
    }

    

</script>

