@model p18RecordViewModel

@{
    ViewData["Title"] = "Kód operace";
    Layout = "~/Views/Shared/_LayoutModal.cshtml";
    if (Model.Rec == null) return;
}
@addTagHelper *, UI

<h4>Kód operace</h4>
@using (Html.BeginForm())
{

    @Html.EditorFor(m => m.Toolbar, "~/Views/Shared/_MyToolbar.cshtml")
    @Html.HiddenFor(m => m.Rec.pid)

<div class="modal_record_container">

    <div class="form-row">
        <label class="col-sm-1 col-md-2 col-form-label">Název:</label>
        <div class="col-sm-9 col-md-8">
            <input class="form-control" asp-for="Rec.p18Name" />
            <span asp-validation-for="Rec.p18Name" class="text-danger"></span>
        </div>
        <div class="col-sm-2 col-md-2">
            <input class="form-control" asp-for="Rec.p18Code" placeholder="Kód" />
            <span asp-validation-for="Rec.p18Code" class="text-danger"></span>
        </div>
    </div>

    <div class="form-row" style="margin-top:10px;">
        <label class="col-sm-1 col-md-2 col-form-label">Typ zařízení:</label>
        <div class="col-sm-11 col-md-10">
            <mycombo entity="p25MszType" asp-for="Rec.p25ID" selectedtext="Rec.p25Name"></mycombo>
        </div>
    </div>
    <div class="form-row" style="margin-top:10px;">
        <textarea asp-for="Rec.p18Memo" class="form-control" placeholder="Podrobný popis"></textarea>
        <span asp-validation-for="Rec.p18Memo" class="text-danger"></span>
    </div>

    <div class="card">
        <div class="card-header">
            Výchozí hodnoty pro TPV záznam
        </div>
        <div class="card-body">
            <div class="form-row" style="margin-top:10px;">
                <label class="col-sm-1 col-md-2 col-form-label">Materiál:</label>
                <div class="col-sm-9 col-md-8">
                    <mycombo entity="p19Material" asp-for="Rec.p19ID" selectedtext="Rec.p19Name"></mycombo>
                </div>
            </div>


            <div class="form-row">
                <label class="col-sm-1 col-md-2 col-form-label">UnitsCount:</label>
                <div class="col-sm-9 col-md-8">
                    <mynumber asp-for="Rec.p18UnitsCount" decimal-digits="2"></mynumber>
                </div>
            </div>
            <div class="form-row">
                <label class="col-sm-1 col-md-2 col-form-label">DurationPreOper:</label>
                <div class="col-sm-9 col-md-8">
                    <mynumber asp-for="Rec.p18DurationPreOper" decimal-digits="3"></mynumber>
                </div>
            </div>
            <div class="form-row">
                <label class="col-sm-1 col-md-2 col-form-label">DurationOper:</label>
                <div class="col-sm-9 col-md-8">
                    <mynumber asp-for="Rec.p18DurationOper" decimal-digits="3"></mynumber>
                </div>
            </div>
            <div class="form-row">
                <label class="col-sm-1 col-md-2 col-form-label">DurationPostOper:</label>
                <div class="col-sm-9 col-md-8">
                    <mynumber asp-for="Rec.p18DurationPostOper" decimal-digits="3"></mynumber>
                </div>
            </div>
        </div>
    </div>
    <mystitky entity="p19Material" asp-for="@Model.TagPids" tagnames="@Model.TagNames" taghtml="@Model.TagHtml"></mystitky>
    <div class="card">
        <div class="card-header">
            Překlad do ostatních jazyků
        </div>
        <div class="card-body">
            <div class="form-row">
                <div class="col-sm-9 col-md-8">
                    <input class="form-control" asp-for="Rec.p18Lang1" placeholder="English" />

                </div>
            </div>
            <div class="form-row">
                <div class="col-sm-9 col-md-8">
                    <input class="form-control" asp-for="Rec.p18Lang2" placeholder="Deutsch" />

                </div>
            </div>
            <div class="form-row">
                <div class="col-sm-9 col-md-8">
                    <input class="form-control" asp-for="Rec.p18Lang3" placeholder="Slovenčina" />

                </div>
            </div>
            <div class="form-row">
                <div class="col-sm-9 col-md-8">
                    <input class="form-control" asp-for="Rec.p18Lang4" placeholder="????" />

                </div>
            </div>
        </div>
    </div>



</div>
}

@Html.DisplayFor(m => m.Rec, "~/Views/Shared/_MyTimestamp.cshtml")





