@model p18RecordViewModel

@{
    ViewData["Title"] = "Kód operace";
    Layout = "~/Views/Shared/_LayoutModal.cshtml";
    if (Model.Rec == null) return;
}
@addTagHelper *, UI

<h4>Kód operace</h4>
@using (Html.BeginForm())
{

    @Html.EditorFor(m => m.Toolbar, "~/Views/Shared/_MyToolbar.cshtml")
    @Html.HiddenFor(m => m.Rec.pid)

<div class="modal_record_container">
    <div class="form-row">
        <label class="col-sm-1 col-md-2 col-form-label">Atribut pro plánování:</label>
        <div class="col-sm-3 col-md-3">
            <select asp-for="Rec.p18Flag" class="form-control">
                <option value="1">Technologická operace (TO)</option>
                <option value="2">Plánovací operace PRE (PO-PRE)</option>
                <option value="3">Plánovací operace POST (PO-POST)</option>
                <option value="4">Plánovací operace POST (PO-COOP)</option>

            </select>
        </div>
        <div class="col-sm-3 col-md-3">
            <input asp-for="Rec.p18IsRepeatable" />
            <label for="Rec_p18IsRepeatable">Opakovatelná operace</label>
        </div>
        <div class="col-sm-4 col-md-4">
            <input asp-for="Rec.p18IsManualAmount" />
            <label for="Rec_p18IsManualAmount">Vyžaduje ruční zadání množství</label>
        </div>
    </div>
    
    <div class="form-row" style="margin-top:10px;">
        <label class="col-sm-1 col-md-2 col-form-label">Název operace:</label>
        <div class="col-sm-9 col-md-8">
            <input class="form-control" asp-for="Rec.p18Name" />
            <span asp-validation-for="Rec.p18Name" class="text-danger"></span>
        </div>
        <div class="col-sm-2 col-md-2">
            <input class="form-control" asp-for="Rec.p18Code" placeholder="Kód" />
            <span asp-validation-for="Rec.p18Code" class="text-danger"></span>
        </div>
    </div>

    <div class="form-row" style="margin-top:10px;">
        <label class="col-sm-1 col-md-2 col-form-label">Typ zařízení:</label>
        <div class="col-sm-11 col-md-10">
            <mycombo entity="p25MszType" asp-for="Rec.p25ID" selectedtext="Rec.p25Name"></mycombo>
        </div>
    </div>
    <div class="form-row" style="margin-top:10px;">
        <textarea asp-for="Rec.p18Memo" class="form-control" placeholder="Podrobný popis"></textarea>
        <span asp-validation-for="Rec.p18Memo" class="text-danger"></span>
    </div>

    <div class="card">
        <div class="card-header">
            Výchozí hodnoty pro TPV záznam
        </div>
        <div class="card-body">
            <div class="form-row" style="margin-top:10px;">
                <label class="col-sm-1 col-md-2 col-form-label">Materiál:</label>
                <div class="col-sm-9 col-md-8">
                    <mycombo entity="p19Material" asp-for="Rec.p19ID" selectedtext="Rec.p19Name"></mycombo>
                </div>
            </div>


            <div class="form-row">
                <label class="col-sm-1 col-md-2 col-form-label">Množství:</label>
                <div class="col-sm-9 col-md-8">
                    <mynumber asp-for="Rec.p18UnitsCount" decimal-digits="7"></mynumber>
                </div>
            </div>
            <div class="form-row">
                <label class="col-sm-1 col-md-2 col-form-label">Před Oper. Čas (min.):</label>
                <div class="col-sm-3 col-md-3">
                    <mynumber asp-for="Rec.p18DurationPreOper" decimal-digits="0"></mynumber>
                </div>
            </div>
            
            <div class="form-row">
                <label class="col-sm-1 col-md-2 col-form-label">Po Oper. Čas (min.):</label>
                <div class="col-sm-3 col-md-3">
                    <mynumber asp-for="Rec.p18DurationPostOper" decimal-digits="0"></mynumber>
                </div>
            </div>
            <div class="form-row" style="margin-top:10px;">
                <label class="col-sm-1 col-md-2 col-form-label">Parameter (oper-par):</label>
                <div class="col-sm-5 col-md-4">
                    <mynumber asp-for="Rec.p18OperParam" decimal-digits="1"></mynumber>
                </div>
            </div>
        </div>
    </div>
    <div class="card">
        <div class="card-header">
            Výpočet Oper. času pro jednu jednotku
        </div>
        <div class="card-body">
            <div class="form-row">
                <label class="col-sm-1 col-md-2 col-form-label">Počet minut:</label>
                <div class="col-sm-3 col-md-3">
                    <mynumber asp-for="Rec.p18DurOperMinutes" decimal-digits="4"></mynumber>
                </div>
            </div>
            <div class="form-row">
                <label class="col-sm-1 col-md-2 col-form-label">Počet jednotek:</label>
                <div class="col-sm-3 col-md-3">
                    <mynumber asp-for="Rec.p18DurOperUnits" decimal-digits="4"></mynumber>
                </div>
            </div>

            <div class="form-row">
                <label class="col-sm-1 col-md-2 col-form-label">Oper čas na jednotku (min.):</label>
                <div class="col-sm-3 col-md-3">
                    <mynumber asp-for="Rec.p18DurationOper" decimal-digits="4"></mynumber>
                </div>
                <div class="col-auto">
                    <i>[Počet minut]/[Počet jednotek]: Vypočte se po uložení záznamu.</i>
                </div>
            </div>
        </div>
    </div>
    <mystitky entity="p18OperCode" asp-for="@Model.TagPids" tagnames="@Model.TagNames" taghtml="@Model.TagHtml"></mystitky>
    <div class="card">
        <div class="card-header">
            Překlad do ostatních jazyků
        </div>
        <div class="card-body">
            <div class="form-row">
                <div class="col-sm-9 col-md-8">
                    <input class="form-control" asp-for="Rec.p18Lang1" placeholder="English" />

                </div>
            </div>
            <div class="form-row">
                <div class="col-sm-9 col-md-8">
                    <input class="form-control" asp-for="Rec.p18Lang2" placeholder="Deutsch" />

                </div>
            </div>
            <div class="form-row">
                <div class="col-sm-9 col-md-8">
                    <input class="form-control" asp-for="Rec.p18Lang3" placeholder="Slovenčina" />

                </div>
            </div>
            <div class="form-row">
                <div class="col-sm-9 col-md-8">
                    <input class="form-control" asp-for="Rec.p18Lang4" placeholder="????" />

                </div>
            </div>
        </div>
    </div>



</div>
}

@Html.DisplayFor(m => m.Rec, "~/Views/Shared/_MyTimestamp.cshtml")





