@model ChangePasswordViewModel

@{
    ViewData["Title"] = "ChangePassword";
    Layout = "~/Views/Shared/_Layout.cshtml";
}




<div class="row modal_record_container">
    <div class="col-md-4">
        <form asp-action="ChangePassword">
            <h4>Změna přihlašovacího hesla</h4>
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label class="control-label">Současné heslo:</label>
                <input asp-for="@Model.CurrentPassword" class="form-control" autocomplete="off" />
                <span asp-validation-for="@Model.CurrentPassword" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Nové heslo:</label>
                <input type="text" asp-for="@Model.NewPassword" class="form-control" autocomplete="off" />
                <span asp-validation-for="@Model.NewPassword" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Ověření nového hesla:</label>
                <input type="text" asp-for="@Model.VerifyPassword" class="form-control" autocomplete="off" />
                <span asp-validation-for="@Model.VerifyPassword" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Potvrdit" class="btn btn-default btn-primary" />
            </div>
        </form>
    </div>
</div>
