@model MyProfileViewModel

@{
    ViewData["Title"] = "MyProfile";
    Layout = "~/Views/Shared/_Layout.cshtml";




}




<div class="modal_record_container">
    <h4>@Model.CurrentUser.FullName</h4>

    <div class="form-row">
        <label class="col-sm-1 col-md-2 col-form-label">E-mail:</label>
        <div class="col-sm-11 col-md-10">
            <input class="form-control" asp-for="@Model.Rec.j02Email" readonly="readonly" />

        </div>

    </div>
    @if (Model.CurrentUser != null)
    {
        <div class="form-row">
            <label class="col-sm-1 col-md-2 col-form-label">Uživatel:</label>
            <div class="col-sm-11 col-md-10">
                <input class="form-control" asp-for="@Model.CurrentUser.j03Login" readonly="readonly" />

            </div>

        </div>
        <div class="form-row">
            <label class="col-sm-1 col-md-2 col-form-label">Aplikační role:</label>
            <div class="col-sm-11 col-md-10">
                <input class="form-control" asp-for="@Model.Rec.j04Name" readonly="readonly" />

            </div>

        </div>
    }

    <div class="form-row">
        <label class="col-sm-1 col-md-2 col-form-label">Firma/Licenční subjekt:</label>
        <div class="col-sm-11 col-md-10">
            <input class="form-control" asp-for="@Model.Rec.p28Name" readonly="readonly" />

        </div>

    </div>

    <div class="card">
        <div class="card-header">
            userAgent
        </div>
        <div class="card-body">

            <table>
                <tr>
                    <td>
                        Device:
                    </td>
                    <td>
                        <span id="infoMobile"></span> @Model.client_info.Device.Family

                    </td>
                </tr>
                <tr>
                    <td>
                        OS:
                    </td>
                    <td>
                        @Model.client_info.OS.Family @Model.client_info.OS.Major

                    </td>
                </tr>
                <tr>
                    <td>
                        Browser:
                    </td>
                    <td>
                        @Model.client_info.UA.Family @Model.client_info.UA.Major
                    </td>
                </tr>
                
                <tr>
                    <td>
                        Avail resolution:
                    </td>
                    <td>
                        <span id="infoAvailResolution"></span>
                    </td>
                </tr>
                <tr>
                    <td>
                        Inner resolution:
                    </td>
                    <td>
                        <span id="infoInnerResolution"></span>
                    </td>
                </tr>

            </table>
            <hr />
            <span>@Model.userAgent</span>
        </div>
    </div>


</div>


<script type="text/javascript">

    $(document).ready(function () {

        $("#infoAvailResolution").text(_device.availWidth + " x " + _device.availHeight);
        $("#infoInnerResolution").text(_device.innerWidth + " x " + _device.innerHeight);
        $("#infoMobile").text(_device.type);

    });


</script>


