@model p28PreviewViewModel
@{
    ViewData["Title"] = "Klient";
    Layout = "~/Views/Shared/_LayoutSubform.cshtml";
    if (Model.Rec == null) return;
}


    <div class="modal_record_container">
        @if (Model.IsPossible2SetupCloudID)
        {
            <div class="form-row" style="margin-bottom:10px;">
                <label class="col-sm-1 col-md-2 col-form-label">CLOUD ID:</label>
                <div class="col-sm-1 col-md-1">
                    <span class="val-readonly">@(Model.Rec.p28CloudID)</span>

                </div>
                <div class="col-sm-2">
                    <button type="button" class="btn btn-primary" onclick="setup_cloudid()">Nastavit CLOUD ID</button>


                </div>
                @if (Model.Rec.p28CloudID != null)
                {
                    <div class="col-sm-2">
                        <button type="button" class="btn btn-primary" onclick="clear_cloudid()">Vyčistit CLOUD ID</button>
                    </div>
                }

            </div>
        }

        @Html.HiddenFor(m => m.Rec.pid)

        <div class="form-row">
            <label class="col-sm-1 col-md-2 col-form-label">Název:</label>
            <div class="col-sm-7 col-md-6">
                <span class="val-readonly">@(Model.Rec.p28Name)</span>

            </div>
            @if (Model.Rec.p28ShortName != null)
            {
                <div class="col-sm-2 col-md-2">
                    <span class="val-readonly">@(Model.Rec.p28ShortName)</span>
                </div>
            }

            <div class="col-sm-2 col-md-2">
                <span class="val-readonly">@(Model.Rec.p28Code)</span>

            </div>
        </div>



        <div class="form-row">
            <label class="col-sm-1 col-md-2 col-form-label">IČ/DIČ:</label>
            <div class="col-sm-7 col-md-6">
                <span class="val-readonly">@(Model.Rec.p28RegID)</span>

            </div>
            <div class="col-sm-4 col-md-4">
                <span class="val-readonly">@(Model.Rec.p28VatID)</span>

            </div>
        </div>

        <div class="form-row">
            <label class="col-sm-1 col-md-2 col-form-label">Město:</label>
            <div class="col-sm-11 col-md-10">
                <span class="val-readonly">@(Model.Rec.p28City1)</span>
            </div>
        </div>
        <div class="form-row">
            <label class="col-sm-1 col-md-2 col-form-label">Ulice:</label>
            <div class="col-sm-11 col-md-10">
                <span class="val-readonly">@(Model.Rec.p28Street1)</span>
            </div>
        </div>

        <div class="form-row">
            <label class="col-sm-1 col-md-2 col-form-label"></label>
            <div class="col-sm-3 col-md-3">
                <span class="val-readonly">@(Model.Rec.p28PostCode1)</span>

            </div>
            <div class="col-sm-8 col-md-7">
                <span class="val-readonly">@(Model.Rec.p28Country1)</span>

            </div>
        </div>
        @if (Model.Rec.p28City2 != null || Model.Rec.p28Street2 != null)
        {
            <div style="padding:1px;text-decoration:underline;">Poštovní adresa:</div>
            <div class="form-row">
                <label class="col-sm-1 col-md-2 col-form-label">Město:</label>
                <div class="col-sm-11 col-md-10">
                    <span class="val-readonly">@(Model.Rec.p28City2)</span>
                </div>
            </div>
            <div class="form-row">
                <label class="col-sm-1 col-md-2 col-form-label">Ulice:</label>
                <div class="col-sm-11 col-md-10">
                    <span class="val-readonly">@(Model.Rec.p28Street2)</span>
                </div>
            </div>

            <div class="form-row">
                <label class="col-sm-1 col-md-2 col-form-label"></label>
                <div class="col-sm-3 col-md-3">
                    <span class="val-readonly">@(Model.Rec.p28PostCode2)</span>

                </div>
                <div class="col-sm-8 col-md-7">
                    <span class="val-readonly">@(Model.Rec.p28Country2)</span>
                </div>
            </div>
        }
        <table class="table table-hover">

            @foreach (var c in Model.Persons)
            {
                <tr>
                    <td>
                        <a title="Karta osoby" href="javascript:j02_record(@c.pid)">@(c.j02FirstName+" "+c.j02LastName)</a>

                    </td>
                    <td>
                        @if (c.j02Email != null)
                        {
                            <a href="mailto:@(c.j02Email)">@c.j02Email</a>
                        }

                    </td>
                    <td>
                        @c.j03Login
                    </td>
                    <td>
                        @c.j04Name
                    </td>
                    <td>
                        @c.j02JobTitle
                    </td>
                    <td>
                        @c.j02Tel1
                    </td>
                    <td>
                        @c.j02Tel2
                    </td>


                </tr>
            }
        </table>

        @Html.Raw(Model.Rec.TagHtml)

        <div class="form-row" style="margin-top:10px;">
            <label class="col-sm-1 col-md-2 col-form-label">Vlastník záznamu:</label>
            <div class="col-sm-11 col-md-10">
                <span class="val-readonly">@(Model.Rec.RecordOwner)</span>

            </div>

        </div>


    </div>
@Html.DisplayFor(m => m.Rec, "~/Views/Shared/_MyTimestamp.cshtml")


<script type="text/javascript">
    function setup_cloudid() {

        var s = prompt("Zadejte novou hodnotu CLOUD-ID","");
        var x = parseInt(s);

        if (x > 0) {
            $.post("/p28/UpdateCloudID", { p28id: @Model.Rec.pid, cloudid: x.toString() }, function (data) {
                if (data.flag == 1) {
                    location.replace(location.href);
                } else {
                    _notify_message(data.message);
                }

            });

        } else {
            _notify_message("Zadejte číslo.");
        }
    }
    function clear_cloudid() {
        $.post("/p28/UpdateCloudID", { p28id: @Model.Rec.pid, cloudid:"-1" }, function (data) {
                if (data.flag == 1) {
                    location.replace(location.href);
                } else {
                    _notify_message(data.message);
                }

            });
    }

    function j02_record(j02id) {
        _window_open("/j02/Record?pid=" + j02id)
    }
</script>

