@model p28RecordViewModel
@inject BL.Factory _f 

@{
    ViewData["Title"] = "Firma | Subjekt";
    Layout = "~/Views/Shared/_LayoutModal.cshtml";
    if (Model.Rec == null) return;
}

<h4>Firma | Subjekt</h4>

@addTagHelper *, UI

@using (Html.BeginForm())
{

    @Html.EditorFor(m => m.Toolbar, "~/Views/Shared/_MyToolbar.cshtml")

    @Html.HiddenFor(m => m.Rec.pid)
<div class="modal_record_container">

    <div class="form-row">
        <label class="col-sm-1 col-md-2 col-form-label">Název:</label>
        <div class="col-sm-6 col-md-5">
            <input class="form-control" asp-for="Rec.p28Name" />
            <span asp-validation-for="Rec.p28Name" class="text-danger"></span>
        </div>
        <div class="col-sm-3 col-md-3">
            <input class="form-control" asp-for="Rec.p28ShortName" placeholder="Zkrácený název" />
        </div>
        <div class="col-sm-2 col-md-2">
            <input class="form-control" asp-for="Rec.p28Code" placeholder="Kód" />
            <span asp-validation-for="Rec.p28Code" class="text-danger"></span>
        </div>
    </div>



    <div class="form-row">
        <label class="col-sm-1 col-md-2 col-form-label">IČ/DIČ:</label>
        <div class="col-sm-6 col-md-5">
            <input class="form-control" asp-for="Rec.p28RegID" placeholder="IČ" />
            <span asp-validation-for="Rec.p28RegID" class="text-danger"></span>
        </div>
        <div class="col-sm-5 col-md-5">
            <input class="form-control" asp-for="Rec.p28VatID" placeholder="DIČ" />
            <span asp-validation-for="Rec.p28VatID" class="text-danger"></span>
        </div>
    </div>
    <div class="card-header" style="padding:1px;">Primární adresa</div>
    <div class="form-row">
        <label class="col-sm-1 col-md-2 col-form-label">Město:</label>
        <div class="col-sm-11 col-md-10">
            <input class="form-control" asp-for="Rec.p28City1" />
        </div>
    </div>
    <div class="form-row">
        <label class="col-sm-1 col-md-2 col-form-label">Ulice:</label>
        <div class="col-sm-11 col-md-10">
            <input class="form-control" asp-for="Rec.p28Street1" />
        </div>
    </div>

    <div class="form-row">
        <label class="col-sm-1 col-md-2 col-form-label"></label>
        <div class="col-sm-3 col-md-3">
            <input class="form-control" asp-for="Rec.p28PostCode1" placeholder="PSČ" />
            <span asp-validation-for="Rec.p28PostCode1" class="text-danger"></span>
        </div>
        <div class="col-sm-8 col-md-7">
            <myautocomplete asp-for="Rec.p28Country1" o15flag="328" placeholder="Stát"></myautocomplete>
        </div>
    </div>
    <div class="card-header" style="padding:1px;">Poštovní adresa</div>
    <div class="form-row">
        <label class="col-sm-1 col-md-2 col-form-label">Město:</label>
        <div class="col-sm-1 col-md-10">
            <input class="form-control" asp-for="Rec.p28City2" />
        </div>
    </div>
    <div class="form-row">
        <label class="col-sm-1 col-md-2 col-form-label">Ulice:</label>
        <div class="col-sm-11 col-md-10">
            <input class="form-control" asp-for="Rec.p28Street2" />
        </div>
    </div>

    <div class="form-row">
        <label class="col-sm-1 col-md-2 col-form-label"></label>
        <div class="col-sm-3 col-md-3">
            <input class="form-control" asp-for="Rec.p28PostCode2" placeholder="PSČ" />
            <span asp-validation-for="Rec.p28PostCode2" class="text-danger"></span>
        </div>
        <div class="col-sm-8 col-md-7">
            <myautocomplete asp-for="Rec.p28Country2" o15flag="328" placeholder="Stát"></myautocomplete>
        </div>
    </div>

    <hr />
    <div class="form-row" style="margin-top:10px;">
        <label class="col-sm-1 col-md-2 col-form-label">Kategorie:</label>
        <div class="col-sm-11 col-md-10">
            <mystitky entity="p28Company" asp-for="@Model.TagPids" tagnames="@Model.TagNames" taghtml="@Model.TagHtml"></mystitky>
        </div>
    </div>
    <div class="form-row">
        <label class="col-sm-1 col-md-2 col-form-label">Vlastník záznamu:</label>
        <div class="col-sm-11 col-md-10">
            <mycombo entity="j02Person" asp-for="Rec.j02ID_Owner" selectedtext="Rec.RecordOwner"></mycombo>
        </div>
    </div>


    @if (Model.Rec.pid == 0)
    {
        <div class="card" style="margin-top:6px;">
            <div class="card-header">
                <input asp-for="@Model.IsFirstPerson" />
                <label for="IsFirstPerson">Založit první kontaktní osobu klienta?</label>

            </div>
            <div id="divFirstPerson" class="card-body">
                <div class="form-row" style="margin-bottom:10px;">
                    <div class="col-sm-2 col-md-2">
                        <myautocomplete asp-for="FirstPerson.j02TitleBeforeName" o15flag="1" placeholder="Titul"></myautocomplete>

                    </div>
                    <div class="col-sm-3 col-md-3">
                        <input class="form-control" asp-for="FirstPerson.j02FirstName" placeholder="Jméno" />

                    </div>
                    <div class="col-sm-5 col-md-5">
                        <input class="form-control" asp-for="FirstPerson.j02LastName" placeholder="Příjmení" />

                    </div>
                    <div class="col-sm-2 col-md-2">
                        <myautocomplete asp-for="FirstPerson.j02TitleAfterName" o15flag="2" placeholder="Za jménem"></myautocomplete>
                    </div>

                </div>
                <div class="form-row">
                    <label class="col-sm-1 col-md-2 col-form-label">E-mail:</label>
                    <div class="col-sm-6 col-md-5">
                        <input class="form-control" type="email" asp-for="FirstPerson.j02Email" />

                    </div>
                    <label class="col-sm-1 col-md-1 col-form-label">Pozice:</label>
                    <div class="col-sm-4 col-md-4">
                        <input class="form-control" type="tel" asp-for="FirstPerson.j02JobTitle" />

                    </div>
                </div>

                <div class="form-row">
                    <label class="col-sm-1 col-md-2 col-form-label">Tel1 (Mobil):</label>
                    <div class="col-sm-6 col-md-5">
                        <input class="form-control" type="tel" asp-for="FirstPerson.j02Tel1" />

                    </div>
                    <label class="col-sm-1 col-md-1 col-form-label">Tel2 (Pevná):</label>
                    <div class="col-sm-4 col-md-4">
                        <input class="form-control" type="tel" asp-for="FirstPerson.j02Tel2" />

                    </div>
                </div>


            </div>
        </div>
    }

</div>

}


@Html.DisplayFor(m => m.Rec, "~/Views/Shared/_MyTimestamp.cshtml")


<script type="text/javascript">
    $(document).ready(function () {

        $("#IsFirstPerson").on("click", function () {
            handle_person_state();
        });


        handle_person_state();


    });



    function handle_person_state() {
        if ($("#IsFirstPerson").prop("checked") == true) {
            $("#divFirstPerson").css("display", "block");

            
        } else {
            $("#divFirstPerson").css("display", "none");
        }
    }
</script>