@model p12PreviewViewModel

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_LayoutSubform.cshtml";
    if (Model.Rec == null) return;
}

@Html.HiddenFor(m => m.Rec.pid)


    <div class="modal_record_container">


        <div class="form-row">
            <label class="col-sm-1 col-md-2 col-form-label">Receptura:</label>
            <div class="col-sm-9 col-md-8">
                <span class="form-control bg-light">@(Model.Rec.p12Name)</span>


            </div>
            <div class="col-sm-2 col-md-2">
                <span class="form-control bg-light">@(Model.Rec.p12Code)</span>


            </div>
        </div>
        <div class="form-row" style="margin-top:10px;">
            <label class="col-sm-1 col-md-2 col-form-label">Licence:</label>
            <div class="col-sm-8 col-md-7">
                <span class="form-control bg-light">@(Model.RecP21.p21Name+" ["+Model.RecP21.p28Name+"]")</span>
            </div>
            <div class="col-sm-1 col-md-1">
                
                <span class="form-control bg-light">@(Model.RecP21.PermFlagAlias)</span>
            </div>
            <div class="col-sm-2 col-md-2">
                <span class="form-control bg-light">@(Model.RecP21.p21Code)</span>
            </div>
        </div>
        @if (Model.RecP13 !=null)
        {
            <div class="form-row" style="margin-top:10px;">
                <label class="col-sm-1 col-md-2 col-form-label">Vzorová Master receptura:</label>
                <div class="col-sm-5 col-md-4">
                    <span class="form-control bg-light">@(Model.RecP13.p13Name)</span>


                </div>
                <div class="col-sm-4 col-md-4">
                    <span class="form-control bg-light">@(Model.RecP13.p25Name)</span>


                </div>
                <div class="col-sm-2 col-md-2">
                    <span class="form-control bg-light">@(Model.RecP13.p13Code)</span>


                </div>

            </div>
        }





    </div>

@if (Model.Rec.p12Memo != null)
{
    <hr />

    <pre>@Html.DisplayFor(m => m.Rec.p12Memo, new { @class = "form-control" });</pre>


}

@Html.DisplayFor(m => m.Rec, "~/Views/Shared/_MyTimestamp.cshtml")

<table id="tab1" class="table table-sm table-hover table-bordered" style="min-width:900px;">
    <thead id="thead1" style="background-color:lightgray;">
        <tr>
            <th>RowNum</th>
            <th>OperNum</th>
            <th>OperCode</th>
            <th>Name</th>
            <th>OperPar</th>
            <th>MaterialCode</th>
            <th>MaterialName</th>
            <th>UnitsCount</th>
            <th>DurationPreOper</th>
            <th>DurationOper</th>
            <th>DurationPostOper</th>

        </tr>
    </thead>

    <tbody id="tbody1">
    </tbody>
</table>



<script type="text/javascript">

$(document).ready(function () {
    var url = "@Url.Action("GetBodyOfTale", "Common")";

    $.post(url, { entity: "p15ClientOper", tableid: "tabp14", queryfield: "p12id", queryvalue:@Model.Rec.pid }, function (data) {

            $("#tbody1").html(data);
        });


        });
</script>


