@model p12PreviewViewModel

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_LayoutSubform.cshtml";
    if (Model.Rec == null) return;
}
@addTagHelper *, UI

@Html.HiddenFor(m => m.Rec.pid)


<div class="modal_record_container">


    <div class="form-row">
        <label class="col-sm-1 col-md-2 col-form-label">Receptura:</label>
        <div class="col-sm-9 col-md-8">
            <span class="val-readonly">@(Model.Rec.p12Name)</span>


        </div>
        <div class="col-sm-2 col-md-2">
            <span class="val-readonly">@(Model.Rec.p12Code)</span>


        </div>
    </div>
    <div class="form-row" style="margin-top:10px;">
        <label class="col-sm-1 col-md-2 col-form-label">Licence:</label>
        <div class="col-sm-8 col-md-7">
            <myval value="@(Model.RecP21.p21Name+" ["+Model.RecP21.p28Name+"]")" hoverprefix="p21" hoverpid="@Model.Rec.p21ID"></myval>

        </div>
        <div class="col-sm-1 col-md-1">

            <span class="val-readonly">@(Model.RecP21.PermFlagAlias)</span>
        </div>
        <div class="col-sm-2 col-md-2">
            <span class="val-readonly">@(Model.RecP21.p21Code)</span>
        </div>
    </div>
    @if (Model.RecP13 != null)
    {
        <div class="form-row" style="margin-top:10px;">
            <label class="col-sm-1 col-md-2 col-form-label">Vzorová Master receptura:</label>
            <div class="col-sm-5 col-md-4">
                <span class="val-readonly">@(Model.RecP13.p13Name)</span>


            </div>
            <div class="col-sm-4 col-md-4">
                <span class="val-readonly">@(Model.RecP13.p25Name)</span>


            </div>
            <div class="col-sm-2 col-md-2">
                <span class="val-readonly">@(Model.RecP13.p13Code)</span>


            </div>

        </div>
    }
    @Html.Raw(Model.Rec.TagHtml)





</div>

@if (Model.Rec.p12Memo != null)
{
    <hr />

    <pre>@Html.DisplayFor(m => m.Rec.p12Memo, new { @class = "val-readonly-wrap" });</pre>


}

@Html.DisplayFor(m => m.Rec, "~/Views/Shared/_MyTimestamp.cshtml")


<div id="divP15Table"></div>


<script type="text/javascript">
    $(document).ready(function ()
    {


        $.post("/Common/GetWorkTable", { entity: "p15ClientOper", edit_function: "p15_edit", master_entity: "p12ClientTpv", master_pid:@Model.Rec.pid }, function (data) {
            $("#divP15Table").html(data);

        });


    });


    function p15_edit(pid) {
        _window_open("/p15/Record?pid=" + pid);
    }



</script>


