@model p12RecordViewModel

@{
    ViewData["Title"] = "Klientské TPV";
    Layout = "~/Views/Shared/_LayoutModal.cshtml";
    if (Model.Rec == null) return;
}

@addTagHelper *, UI


<form id="form1" asp-controller="p12" asp-action="Record" method="POST">
    <h4>TPV [Klient]</h4>
    @Html.EditorFor(m => m.Toolbar, "~/Views/Shared/_MyToolbar.cshtml")
    @Html.HiddenFor(m => m.Rec.pid)


    <div class="modal_record_container">

        <div class="form-row">
            <label class="col-sm-1 col-md-2 col-form-label">Název:</label>
            <div class="col-sm-9 col-md-8">
                <input class="form-control" asp-for="Rec.p12Name" />
                <span asp-validation-for="Rec.p12Name" class="text-danger"></span>
            </div>
            <div class="col-sm-2 col-md-2">
                <input class="form-control" asp-for="Rec.p12Code" placeholder="Číslo postupu" />
                <span asp-validation-for="Rec.p12Code" class="text-danger"></span>
            </div>
        </div>


        <div class="form-row">
            <textarea asp-for="Rec.p12Memo" class="form-control" placeholder="Podrobný popis"></textarea>
            <span asp-validation-for="Rec.p12Memo" class="text-danger"></span>
        </div>

    </div>

    <hr />
    <button type="button" class="btn btn-primary" onclick="p15_add_row()">Přidat řádek</button>
    <table class="table table-sm table-hover" style="table-layout: fixed;width:100%;min-width:1000px;overflow-x:auto;">
        <tr style="display:table-row;">
            <th style="width:70px;">Row<br />Num</th>
            <th style="width:70px;">Oper<br />Num</th>
            <th style="width:100px;">Oper<br />Code</th>
            <th>Name</th>
            <th style="width:70px;">Oper<br />Par</th>

            <th>Material</th>
            <th style="width:70px;">Units<br />Count</th>
            <th style="width:70px;">Duration<br />PreOper</th>
            <th style="width:70px;">Duration<br />Oper</th>
            <th style="width:70px;">Duration<br />PostOper</th>
            <th style="width:30px;"></th>
            <th style="width:30px;"></th>
            <th style="width:30px;"></th>
        </tr>
        @{
            int rowindex = -1;
        }
        @foreach (var c in Model.lisP15.OrderBy(p => p.p15RowNum))
        {
            rowindex += 1;
            int i = 0;
            @for (var x = 0; x < Model.lisP15.Count(); x++)
            {
                if (c.TempRecGuid == Model.lisP15[x].TempRecGuid)
                {
                    i = x;
                }
            }

            <tr style="display:@Model.lisP15[i].TempRecDisplay">
                <td>
                    <input type="text" class="form-control px-1 rownum" id="rownumber_@rowindex" asp-for="@Model.lisP15[i].p15RowNum" />
                    <input type="hidden" asp-for="@Model.lisP15[i].p15ID" />
                    <input type="hidden" id="@Model.lisP15[i].TempRecGuid" asp-for="@Model.lisP15[i].TempRecDisplay" />
                    <input type="hidden" asp-for="@Model.lisP15[i].TempRecGuid" />
                </td>
                <td>
                    <input type="text" class="form-control px-1" asp-for="@Model.lisP15[i].p15OperNum" />
                </td>
                <td style="background-color:lightgoldenrodyellow;">
                    <mycombo entity="p18OperCode" view-flag="2" asp-for="@Model.lisP15[i].p18ID" param1="@Model.Rec.p25ID" selectedtext="@Model.lisP15[i].OperCode" event_after_changevalue="p18id_change(#pid#,@(i))"></mycombo>
                </td>
                <td>
                    <input type="text" class="form-control px-1" asp-for="@Model.lisP15[i].p15Name" />
                </td>
                <td>
                    <input type="number" class="form-control px-1" step="0" asp-for="@Model.lisP15[i].p15OperParam" />
                </td>
                <td style="background-color:lightgoldenrodyellow;">
                    <mycombo entity="p19Material" asp-for="@Model.lisP15[i].p19ID" selectedtext="@Model.lisP15[i].Material" view-flag="2"></mycombo>
                </td>

                <td>
                    <mynumber asp-for="@Model.lisP15[i].p15UnitsCount"></mynumber>
                </td>
                <td>
                    <mynumber asp-for="@Model.lisP15[i].p15DurationPreOper" decimal-digits="3"></mynumber>
                    
                </td>
                <td>
                    <mynumber asp-for="@Model.lisP15[i].p15DurationOper" decimal-digits="3"></mynumber>
                </td>
                <td>
                    <mynumber asp-for="@Model.lisP15[i].p15DurationPostOper" decimal-digits="3"></mynumber>
                    
                </td>

                <td>
                    @if (rowindex > 0)
                    {
                        <button type="button" class="btn btn-primary" onclick="p15_up_row(@rowindex)">
                            ↑
                        </button>
                    }

                </td>
                <td>
                    @if (rowindex < Model.lisP15.Count() - 1)
                    {
                        <button type="button" class="btn btn-primary" onclick="p15_down_row(@rowindex)">
                            ↓
                        </button>
                    }

                </td>
                <td>
                    <button type="button" class="btn btn-danger" onclick="p15_delete_row('@Model.lisP15[i].TempRecGuid')">x</button>

                </td>

            </tr>
        }
    </table>


</form>

@Html.DisplayFor(m => m.Rec, "~/Views/Shared/_MyTimestamp.cshtml")





<script type="text/javascript">

    function p15_add_row() {
        form1.action = "/p12/Record?rec_oper=add";
        form1.submit();
    }


    function p15_delete_row(guid) {
        $("#" + guid).val("none");
        form1.action = "/p12/Record?rec_oper=postback";
        form1.submit();
    }
    function p15_down_row(rowindex) {
        var x = 1;
        $(".rownum").each(function () {
            $(this).val(x);
            x += 1;
        });

        x = parseInt($("#rownumber_" + (rowindex + 1)).val());
        $("#rownumber_" + rowindex).val(x);
        $("#rownumber_" + (rowindex + 1)).val(x - 1);

        form1.action = "/p12/Record?rec_oper=postback";
        form1.submit();
    }

    function p15_up_row(rowindex) {
        var x = 1;
        $(".rownum").each(function () {
            $(this).val(x);
            x += 1;
        });

        x = parseInt($("#rownumber_" + (rowindex - 1)).val());
        $("#rownumber_" + rowindex).val(x);
        $("#rownumber_" + (rowindex - 1)).val(x + 1);

        form1.action = "/p12/Record?rec_oper=postback";
        form1.submit();
    }

    function p18id_change(p18id, index) {

        $.post("/p13/load_p18_record", { p18id: p18id }, function (data) {

            $("#lisP15_" + index + "__p15Name").val(data.p18Name);
            var s = "";
            if (data.p18UnitsCount > 0) {
                s = data.p18UnitsCount.toString().replace(".", ",");
                $("#lisP15_" + index + "__p15UnitsCount").val(s);
                $("[for-id=lisP15_" + index + "__p15UnitsCount]").val(s);
            }
            if (data.p18DurationPreOper > 0) {
                s = data.p18DurationPreOper.toString().replace(".", ",");
                $("#lisP15_" + index + "__p15DurationPreOper").val(s);
                $("[for-id=lisP15_" + index + "__p15DurationPreOper]").val(s);
            }
            if (data.p18DurationOper > 0) {
                s = data.p18DurationOper.toString().replace(".", ",");
                $("#lisP15_" + index + "__p15DurationOper").val(s);
                $("[for-id=lisP15_" + index + "__p15DurationOper]").val(s);
            }
            if (data.p18DurationPostOper > 0) {
                s = data.p18DurationPostOper.toString().replace(".", ",");
                $("#lisP15_" + index + "__p15DurationPostOper").val(s);
                $("[for-id=lisP15_" + index + "__p15DurationPostOper]").val(s);
            }
            if (data.p19ID > 0) {
                $("#cmdCombolisP15_" + index + "__p19ID").text(data.p19Code + " - " + data.p19Name);
                $("#lisP15_" + index + "__p19ID").val(data.p19ID);
                $("[data-id=text_lisP15_" + index + "__p19ID]").val(data.p19Code + " - " + data.p19Name);

                document.getElementsByName("lisp15[" + index + "].Material").value = data.p19Code + " - " + data.p19Name;
            }

        });
    }

</script>



