@model p12RecordViewModel

@{
    ViewData["Title"] = "Klientské TPV";
    Layout = "~/Views/Shared/_LayoutModal.cshtml";
    if (Model.Rec == null) return;
}

@addTagHelper *, UI


<form id="form1" asp-controller="p12" asp-action="Record" method="POST">
    <h4>Receptura [Klient]</h4>
    @Html.EditorFor(m => m.Toolbar, "~/Views/Shared/_MyToolbar.cshtml")
    @Html.HiddenFor(m => m.Rec.pid)


<div class="modal_record_container">

    <div class="form-row">
        <label class="col-sm-1 col-md-2 col-form-label">Název:</label>
        <div class="col-sm-9 col-md-8">
            <input class="form-control" asp-for="Rec.p12Name" />
            <span asp-validation-for="Rec.p12Name" class="text-danger"></span>
        </div>
        <div class="col-sm-2 col-md-2">
            <input class="form-control" asp-for="Rec.p12Code" placeholder="Číslo postupu" />
            <span asp-validation-for="Rec.p12Code" class="text-danger"></span>
        </div>
    </div>

    <div class="form-row" style="margin-top:10px;">
        <label class="col-sm-1 col-md-2 col-form-label">Licence:</label>
        <div class="col-sm-11 col-md-10">
            <mycombo entity="p21License" asp-for="Rec.p21ID" selectedtext="Rec.p21Name"></mycombo>

        </div>
    </div>
    <div class="form-row" style="margin-top:10px;">
        <label class="col-sm-1 col-md-2 col-form-label">Typ zařízení:</label>
        <div class="col-sm-5 col-md-4">
            <mycombo entity="p25MszType" asp-for="Rec.p25ID" selectedtext="Rec.p25Name" view-flag="2" event_after_changevalue="p25id_change"></mycombo>
        </div>
    </div>
    <mystitky entity="p12ClientTpv" asp-for="@Model.TagPids" tagnames="@Model.TagNames" taghtml="@Model.TagHtml"></mystitky>


    <div class="form-row">
        <textarea asp-for="Rec.p12Memo" class="form-control" placeholder="Podrobný popis"></textarea>
        <span asp-validation-for="Rec.p12Memo" class="text-danger"></span>
    </div>

</div>

    


</form>

@Html.DisplayFor(m => m.Rec, "~/Views/Shared/_MyTimestamp.cshtml")





<script type="text/javascript">
    

    function p25id_change(p25id) {       
        //nic

    }

    

</script>



