@model BaseViewModel
@inject BL.Factory _f

@{


}
<!DOCTYPE html>

<html lang="cs" style="@_f.CurrentUser.getFontStyle()">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - [CC] Cormen Cloud</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />

    <link href="~/lib/datepicker/bootstrap-datepicker.min.css" rel="stylesheet" type="text/css" />



    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/css/thegrid.css" />

</head>

<body>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>

    <script src="~/lib/modal_bootstrap/bootstrap-show-modal.js"></script>

    <script src="~/lib/selection/ds.min.js"></script>
    <script src="~/lib/splitter/jquery-resizable.js"></script>
    <script src="~/lib/datepicker/bootstrap-datepicker.min.js"></script>
    <script src="~/lib/datepicker/bootstrap-datepicker.cs.min.js"></script>

    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/js/mycombo.js" asp-append-version="true"></script>
    <script src="~/js/thegrid.js" asp-append-version="true"></script>
    <script src="~/js/contextmenu.js" asp-append-version="true"></script>
    <script src="~/js/mycontrols.js" asp-append-version="true"></script>



    <button type="button" class="btn btn-secondary" id="cmdToggleLayoutSidebar" onclick="toggle_layout_sidebar1()">&#9776;</button>
    <div id="layout_sidebar">
        <div class="input-group">
            <div class="dropdown" style="padding:0px;">
                <button class="btn btn-light dropdown-toggle py-0" title="Velikost písma" type="button" id="cmdFontStyleFlag" onclick="render_fontstyle_menu()" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    A
                </button>
                <div class="dropdown-menu dropdown_menu_container" id="divFontStyleMenu" aria-labelledby="cmdFontStyleFlag" style="width:200px;background-color:aliceblue;">
                </div>

            </div>
            <div class="dropdown" style="padding:0px;">
                <button class="btn btn-light dropdown-toggle py-0" type="button" id="cmdCurrentUser" data-toggle="dropdown" onclick="render_currentuser_menu()" aria-haspopup="true" aria-expanded="false" style="max-width:140px;overflow:hidden;text-overflow:ellipsis;">
                    @_f.CurrentUser.j03Login
                </button>
                <div class="dropdown-menu dropdown_menu_container" id="divCurrentUserMenu" aria-labelledby="cmdCurrentUser" style="width:200px;background-color:aliceblue;">

                </div>

            </div>

        </div>
        @if (_f.CurrentUser.j03EnvironmentFlag == 2)
        {
            <div style="text-align:center;max-width:190px;overflow:hidden;text-overflow:ellipsis;">
                <span title="Držitel licence" style="color:darkkhaki;">[@_f.CurrentUser.p28Name]</span>
            </div>
            <hr />
        }
        else
        {
            <div style="text-align:center;background-color:green;color:white;margin-bottom:20px;">
                <span style="color:white;">[@_f.CurrentUser.p28Name]</span>
            </div>
        }
        @if (_f.CurrentUser.TestPermission(BO.UserPermFlag.MasterReader) || _f.CurrentUser.TestPermission(BO.UserPermFlag.MasterAdmin))
        {
    <div style="text-align:center;">
        @if (_f.CurrentUser.j03EnvironmentFlag == 1)
        {
            <a href="javascript:ToggleEnvironment()">Přepnout do rozhraní [CLIENT]</a>
        }
        else
        {
            <a href="javascript:ToggleEnvironment()">Přepnout do rozhraní [MASTER]</a>
        }
    </div>
            
            <hr />
        }



        @if (_f.CurrentUser.TestPermission(BO.UserPermFlag.MasterAdmin) || _f.CurrentUser.TestPermission(BO.UserPermFlag.ClientAdmin))
        {
            <div class="dropdown" style="padding:0px;">
                <button class="btn btn-light dropdown-toggle" type="button" id="cmdMainNew" data-toggle="dropdown" onclick="render_new_menu()" aria-haspopup="true" aria-expanded="false" style="width:100%;">
                    NOVÝ
                </button>
                <div class="dropdown-menu dropdown_menu_container" id="divMainNew" aria-labelledby="cmdMainNew">

                </div>

            </div>

        }

        <ul id="mainmenu1">
            @if (_f.CurrentUser.j03EnvironmentFlag == 1)
            {
                @Html.Display("mainmenu", "~/Views/Shared/_MainMenu_Master.cshtml");    //prostředí cormen mastera
            }
            else
            {

                @Html.Display("mainmenu", "~/Views/Shared/_MainMenu_Client.cshtml");    //prostředí klienta
            }
        </ul>


    </div>

    <div id="layout_main" role="main">


        @RenderBody()
    </div>



    <div id="myModalContainer" style="display:none;">

        <div id="myModalContent">
            <div style="height:30px;background-color: lightsteelblue;padding:3px;" ondblclick="_window_toggle()">
                <button class="btn btn-secondary btn-sm float-left" onclick="_window_close()" style="margin-left:3px;margin-right:3px;">&times;</button>
                <span>Okno</span>
                <button class="btn btn-secondary btn-sm float-right" onclick="_window_close()" style="margin-right:3px;">&times;</button>
                <button class="btn btn-secondary btn-sm float-right" onclick="_window_toggle()" style="margin-right:3px;">&#9600;</button>
            </div>
            <div id="myModalFrame" style="padding: 0px; margin:0px 0px 0px 10px; overflow: auto; -webkit-overflow-scrolling: touch;">
                <iframe id="fraModalContent" name="fraModalContent" frameborder="0"></iframe>
            </div>

        </div>


    </div>




    <script type="text/javascript">
        var _modal = document.getElementById("myModalContainer");


        //zabránit submit formuláře po stisknutí ENTER na jakémkoliv non-submit input elementu


        $(document).ready(function ()
        {
            _mainmenu_init();

           @if (_f.CurrentUser.Messages4Notify != null) {
           @foreach (var c in _f.CurrentUser.Messages4Notify) {  // <----  placed on the same line, WORKING !!!
            <text>
            _notify_message("@c.Value","@c.Key");
            </text>
            }
            }
            if ($("#toolbar_changeinfo").length) {
                //události na editačních formulářích
                $("form").submit(function () {
                    if ($(document.activeElement).attr("type") == "submit")
                        return true;
                    else return false;
                });

                $("textarea").each(function () {
                    this.style.height = "auto";
                    this.style.height = (this.scrollHeight) + "px";

                    $(this).on("input", function () {
                        this.style.height = "auto";
                        this.style.height = (this.scrollHeight) + "px";
                    });
                });
            }



        $(document).on("click", function (e) {
            if (e.target == _modal) {
                _window_close();
            }
        });
        $(document).on("keydown", function (e) {
            if (e.keyCode == 27 && _modal.style.display == "block") {
                _window_close();

            }
        });



    });






        function openNav()
        {
            document.getElementById("layout_sidebar").style.width = "200px";
            document.getElementById("layout_main").style.marginLeft = "200px";
        }

        function closeNav()
        {
            document.getElementById("layout_sidebar").style.width = "0";
            document.getElementById("layout_main").style.marginLeft = "0";
        }


    function searchbox1_destroy()
        {
        $("#searchbox_result").html("");
        $("#searchbox_result").css("display","none");
    }



        function hardrefresh(pid, flag) {    
            var url = window.location.href;
            if (pid !== null && pid !== 0) {
                url = _removeUrlParam("go2pid", url);
                if (url.indexOf("?") > 0) {
                    url = url + "&go2pid=" + pid;
                } else {
                    url = url + "?go2pid=" + pid;
                }
                
            }            
            location.replace(url);
            
        }

        function render_fontstyle_menu()
        {

            $.post("/Home/getHTML_FontStyleMenu", function (data) {
                $("#divFontStyleMenu").html(data);
            });

        }
        function save_fontstyle_menu(intFontStyleFlag2Save)
        {
            $.post("/Home/SaveCurrentUserFontStyle", { fontstyleflag: intFontStyleFlag2Save }, function (data) {
                location.replace(window.location.href);
            });

        }
        function render_currentuser_menu() {

            $.post("/Home/getHTML_CurrentUserMenu", function (data) {
                $("#divCurrentUserMenu").html(data);
            });

        }
        function render_new_menu() {
            $.post("/Home/getHTML_MainMenu_New", function (data) {
                $("#divMainNew").html(data);
            });
        }



        //vyvolání popup okna - na stránce musí být přítomen DIV: ID=myModalContainer
        function _window_close() {
            var iframe = document.getElementById("fraModalContent");
            var elmnt = iframe.contentWindow.document.getElementById("toolbar_changeinfo");
            if ($(elmnt).text() !== "") {
                if (confirm("Chcete zavřít okno bez uložení změn?")) {
                    $(_modal).css("display", "none");
                } else {
                    return;
                }
            }
            $(_modal).css("display", "none");

        }
        function _window_toggle() {
            var okno = $("#myModalContent");

            if (_device.innerWidth - $(okno).width() < 30) {
                _window_open("", 1);
            } else {
                _window_open("", 2);
            }

        }
        function _window_open(url, flag, header) {
            if (typeof flag === "undefined") flag = 1;

            if (!$(_modal).attr("initialized") && flag !== 2) {
                _make_element_draggable(document.getElementById("myModalContent"), document.getElementById("myModalFrame")); //předávání nefunguje přes jquery
                $(_modal).attr("initialized", true);
            }

            var okno = $("#myModalContent");
            var fra = $("#fraModalContent");

            var w = 1100;
            var h = 800;
            var x = 0;
            var y = 0;

            if (flag === 1) {   //centralizovat, max rozměr 1000x800
                //$("#myModalFrame").css("padding", "0px 10px 10px 10px;");
                if (_device.innerWidth < w) w = _device.innerWidth;
                if (_device.innerHeight < h) h = _device.innerHeight;
                x = (_device.innerWidth - w) / 2;
                y = (_device.innerHeight - h) / 2;
            }
            if (flag === 2) {   //okno na fullsreen 100%
                $("#myModalFrame").css("padding", "0");
                w = _device.innerWidth;
                h = _device.innerHeight;
                x = 0;
                y = 0;
            }

            $(okno).css("width", w);
            $(okno).css("height", h);
            $(okno).css("left", x);
            $(okno).css("top", y);
            $(fra).css("width", w-15);      
            $(fra).css("height", h - 30 - 10);    //10 padding dole, 30 div header

            if (url !== "") {
                $(fra).attr("src", url);
            }


            $(_modal).css("display", "block");
        }

        function toggle_layout_sidebar1() {
            $("#layout_sidebar").toggle();
        }
       

        function ToggleEnvironment() {
            $.post("/Home/ToggleEnvironment", function (data) {
                location.replace(window.location.href);
            });
        }
    </script>


    @RenderSection("Scripts", required: false)
</body>
</html>
