@model BaseViewModel
@inject BL.Factory _f

@{


}

<!DOCTYPE html>

<html lang="cs" style="@_f.CurrentUser.getFontStyle()">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link href="~/lib/datepicker/bootstrap-datepicker.min.css" rel="stylesheet" type="text/css" />
    <link href="~/lib/qtip/jquery.qtip.css" rel="stylesheet" type="text/css" />

    <link rel="stylesheet" href="~/css/site.css" />
    @if (_f.CurrentUser.j03GridSelectionModeFlag == 1)
    {
        <link rel="stylesheet" href="~/css/thegrid_clipboard.css" />
    }
    else
    {
        <link rel="stylesheet" href="~/css/thegrid.css" />
    }

</head>
<body>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/lib/modal_bootstrap/bootstrap-show-modal.js"></script>

    <script src="~/lib/selection/ds.min.js"></script>
    <script src="~/lib/datepicker/bootstrap-datepicker.min.js"></script>
    <script src="~/lib/datepicker/bootstrap-datepicker.cs.min.js"></script>
    <script src="~/lib/qtip/jquery.qtip.min.js"></script>

    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/js/mycombo.js" asp-append-version="true"></script>
    <script src="~/js/thegrid.js" asp-append-version="true"></script>
    <script src="~/js/contextmenu.js" asp-append-version="true"></script>
    <script src="~/js/mycontrols.js" asp-append-version="true"></script>

    <script type="text/javascript">
        @if(Model.Javascript_CallOnLoad != null)
    {
        @Html.Raw(Model.Javascript_CallOnLoad);


    }
    </script>


    <div>
        @RenderBody()
    </div>



    <script type="text/javascript">
        var _modal;

    $(document).ready(function ()
    {


        @if (_f.CurrentUser.Messages4Notify != null) {
            @foreach (var c in _f.CurrentUser.Messages4Notify) {  // <----  placed on the same line, WORKING !!!
            <text>
            _notify_message("@c.Value","@c.Key");
            </text>
             }
        }
        if ($("#toolbar_changeinfo").length) {
                //události na editačních formulářích
                $("form").submit(function () {
                if ($(document.activeElement).attr("type") == "submit")
                        return true;
                    else return false;
            });

                $("textarea").each(function () {
                this.style.height = "auto";
                this.style.height = (this.scrollHeight) + "px";

                    $(this).on("input", function () {
                    this.style.height = "auto";
                    this.style.height = (this.scrollHeight) + "px";
                });
            });
        }


        $(document).on("click", function (e) {
            if (e.target == _modal) {
                _window_in_modal_close();
            }
        });
        $(document).on("keydown", function (e) {
            if (e.keyCode == 27 && _modal.style.display == "block") {
                _window_in_modal_close();

            }
            if (e.keyCode == 13 && e.target.nodeName != "BUTTON" && e.target.nodeName != "TEXTAREA") {                //zabránit submit formuláře po stisknutí ENTER na jakémkoliv non-submit input elementu
                e.preventDefault();
                return false;
            }
        });


        _init_qtip_onpage();
    });



        function _window_close() {

            if (document.getElementById("myModalContainer")) {
                if ($(_modal).css("display") == "block") {  //test, zda o zavření volá modální okno nebo okno otevřené z modálního okna (3.vrstva)
                    _window_in_modal_close();
                    return;
                }
            }

            if (window != top) {

                window.parent._window_close();  //toto okno je uvnitř iframe
            } else {
                window.close();
            }
        }

        function _window_in_modal_close() {
            var iframe = document.getElementById("fraModalContent");
            var elmnt = iframe.contentWindow.document.getElementById("toolbar_changeinfo");
            if ($(elmnt).text() !== "") {
                if (confirm("Chcete zavřít okno bez uložení změn?")) {
                    $(_modal).css("display", "none");
                } else {
                    return;
                }
            }
            $(_modal).css("display", "none");
        }

        function _window_open(url, flag, header, layout) {
            if (typeof header === "undefined") header = "";
            if (document.getElementById("myModalContainer")) {
                //modal div na stránce již existuje
            } else {
                var el = document.createElement("DIV");
                $(el).css("position", "absolute");

                el.id = "myModalContainer";
                document.body.appendChild(el);

                var s = "<div id='myModalContent'>";
                s+= "<div style='height:30px;background-color: green;color:white;padding:3px;'>";
                s += "<button class='btn btn-success btn-sm float-left' onclick='_window_in_modal_close()' style='margin-left:3px;margin-right:3px;'>&times;</button>";
                s += "<span>" + header + "</span>";
                s += "<button class='btn btn-success btn-sm float-right' onclick='_window_in_modal_close()' style='margin-right:3px;'>&times;</button>";
                s += "</div>";
                s += "<div id='myModalFrame' style='padding: 0px; margin:0px 0px 0px 10px; overflow: auto; -webkit-overflow-scrolling: touch;'>";
                s += "<iframe id='fraModalContent' name='fraModalContent' frameborder='0'></iframe>";
                s += "</div>";
                s += "</div>";

                _modal = document.getElementById("myModalContainer");
                $(_modal).html(s);
                _make_element_draggable(document.getElementById("myModalContent"), document.getElementById("myModalFrame")); //předávání nefunguje přes jquery
            }


            var okno = $("#myModalContent");
            var fra = $("#fraModalContent");

            var w = window.innerWidth - 40;

            var h = window.innerHeight-30;
            var x = 0;
            var y = 0;

            $(okno).css("width", w);
            $(okno).css("height", h);
            $(okno).css("left", x);
            $(okno).css("top", y);
            $(fra).css("width", w - 15);
            $(fra).css("height", h - 30 - 10);    //10 padding dole, 30 div header

            if (url !== "") {
                $(fra).attr("src", url);
            }


            $(_modal).css("display", "block");
        }


    </script>

    @RenderSection("Scripts", required: false)
</body>
</html>
