@model BaseViewModel

<!DOCTYPE html>
<html lang="cs">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - [CC] Cormen Cloud</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.20/css/jquery.dataTables.min.css">
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/select/1.3.1/css/select.dataTables.min.css">




    <link rel="stylesheet" href="~/css/site.css" />

</head>

<body>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script type="text/javascript" language="javascript" src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript" language="javascript" src="https://cdn.datatables.net/select/1.3.1/js/dataTables.select.min.js"></script>

    <script type="text/javascript" language="javascript" src="https://cdn.datatables.net/plug-ins/1.10.20/api/row().show().js"></script>

    <script src="~/lib/modal_bootstrap/bootstrap-show-modal.js"></script>
    <script src="https://kit.fontawesome.com/688258440d.js" crossorigin="anonymous"></script>

    <script src="~/js/site.js" asp-append-version="true"></script>

    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light border-bottom box-shadow mb-3" style="background-color: #CCE5FF;">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index" style="color:blue;" title="Cormen Cloud">CC</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">

                    <partial name="_LoginPartial" />
                    <div class="dropdown">
                        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuSWITCH" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            CORMEN
                        </button>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuSWITCH">
                            <a class="dropdown-item" asp-action="Index" asp-controller="Home">Rozhraní CORMEN</a>
                            <a class="dropdown-item" asp-action="Client" asp-controller="Home">Rozhraní KLIENT</a>

                        </div>
                    </div>




                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item" style="width:150px;">
                            <input type="text" id="searchbox1" placeholder="Najít..." class="form-control" />
                            <div id="searchbox_result" style="position:absolute;left:70px;top:50px;z-index:1000;overflow:auto;height:200px;"></div>
                            
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownNOVY" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                NOVÝ
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdownNOVY">
                                <a class="dropdown-item" href="@Url.Action("Record","o23")">Dokument</a>
                                <a class="dropdown-item" href="@Url.Action("Record","p28")">Klient | Subjekt</a>
                                <a class="dropdown-item" href="@Url.Action("Record","p10")">Master produkt</a>
                                <a class="dropdown-item" href="@Url.Action("Record","p13")">TPV</a>
                                <a class="dropdown-item" href="@Url.Action("Record","p26")">Stroj | MSZ</a>
                                <a class="dropdown-item" href="@Url.Action("Record","p21")">Licence</a>
                                <a class="dropdown-item" href="@Url.Action("Record","j02")">Osoba | Uživatel</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="#">Something else here</a>
                            </div>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarVYROBA" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                VÝROBA
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarVYROBA">
                                <a class="dropdown-item" href="#">Grid s filtrováním</a>
                                <a class="dropdown-item" href="#">Reporting</a>
                            </div>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarPOSTUPY" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                POSTUPY
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarPOSTUPY">
                                <a class="dropdown-item" href="@(@Url.Action("Index","TheGrid")+"?entity=p13")">TPV</a>

                                <a class="dropdown-item" href="#">Import</a>
                            </div>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarPRODUKTY" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                PRODUKTY
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarPRODUKTY">
                                <a class="dropdown-item" href="@(@Url.Action("Index","TheGrid")+"?entity=p10")">Master produkty</a>

                                <a class="dropdown-item" href="#">Import</a>
                            </div>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarKLIENTI" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                KLIENTI
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarKLIENTI">
                                <a class="dropdown-item" href="@(@Url.Action("Index","TheGrid")+"?entity=p28")">Grid s filtrováním</a>

                            </div>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDOKUMENTY" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                LICENCE
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDOKUMENTY">

                                <a class="dropdown-item" href="@(@Url.Action("Index","TheGrid")+"?entity=p21")">Grid</a>
                            </div>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarMSZ" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                MSZ
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarMSZ">

                                <a class="dropdown-item" href="@(@Url.Action("Index","TheGrid")+"?entity=p26")">MSZ</a>
                            </div>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDOKUMENTY" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                DOKUMENTY
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDOKUMENTY">

                                <a class="dropdown-item" href="@(@Url.Action("Index","TheGrid")+"?entity=o23")">Grid</a>
                            </div>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownADMIN" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                ADMIN
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdownADMIN">
                                <a class="dropdown-item" href="@(@Url.Action("Index","TheGrid")+"?entity=p28")">Firmy | Subjekty</a>
                                <a class="dropdown-item" href="@(@Url.Action("Index","TheGrid")+"?entity=p10")">Master produkty</a>
                                <a class="dropdown-item" href="@(@Url.Action("Index","TheGrid")+"?entity=p13")">TPV</a>
                                <a class="dropdown-item" href="@(@Url.Action("Index","TheGrid")+"?entity=p26")">Stroje | MSZ</a>
                                <a class="dropdown-item" href="@(@Url.Action("Index","TheGrid")+"?entity=p21")">Licence</a>
                                <a class="dropdown-item" href="@(@Url.Action("Index","TheGrid")+"?entity=j02")">Lidé | Uživatelé</a>
                                <a class="dropdown-item" href="@(@Url.Action("Index","TheGrid")+"?entity=o23")">Dokumenty</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="@(@Url.Action("Index","TheGrid")+"?entity=b02")">Stavy</a>
                                <a class="dropdown-item" href="@(@Url.Action("Index","TheGrid")+"?entity=o12")">Kategorie | Skupiny</a>
                            </div>
                        </li>

                    </ul>

                </div>
            </div>
        </nav>
    </header>
    <div class="container-fluid">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>



    @RenderSection("Scripts", required: false)

<script type="text/javascript">
        //zabránit submit formuláře po stisknutí ENTER na jakémkoliv non-submit input elementu


    $(document).ready(function () {
           @if (Model.NotifyMessages != null) {
           @foreach (var c in Model.NotifyMessages) {  // <----  placed on the same line, WORKING !!!
            <text>
            _notify_message("@c.Value","@c.Key");
            </text>
            }
            }
            if ($("#toolbar_changeinfo").length) {
                //události na editačních formulářích
                $("form").submit(function () {
                    if ($(document.activeElement).attr("type") == "submit")
                        return true;
                    else return false;
                });

                $("textarea").each(function () {
                    this.style.height = "auto";
                    this.style.height = (this.scrollHeight) + "px";

                    $(this).on("input", function () {
                        this.style.height = "auto";
                        this.style.height = (this.scrollHeight) + "px";
                    });
                });
        }

        $("#searchbox1").on("input", function (e) {

            if (typeof _combo_ajax_input_timeout !== "undefined") {
                clearTimeout(_combo_ajax_input_timeout);

            }
            //start new time, to perform ajax stuff in 500ms
            _combo_ajax_input_timeout = setTimeout(function () {      //kvůli ochraně přetěžování serveru odchází dotaz na server až po půl sekundě, aby uživatel stihl napsat všechny znaky pro hledání
                //your ajax stuff
                
                var url = '@Url.Action("GetSearchBoxHtml", "Common")';
                _handle_searchbox(e.target.value, url,"searchbox_result");
                
            }, 500);

            return;

        });
        

        



    });

    
    function searchbox1_destroy() {
        $("#searchbox_result").html("");
    }


</script>
</body>
</html>
