@model BaseViewModel
@inject BL.Factory _f

@{
    string _fontstyle = "font: 0.75rem/1.0 var(--font-family-sans-serif)";
}
<!DOCTYPE html>

<html lang="cs" style="@_fontstyle">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - [CC] Cormen Cloud</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.20/css/jquery.dataTables.min.css">
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/select/1.3.1/css/select.dataTables.min.css">

    <link href="~/lib/kendo/styles/kendo.common-bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="~/lib/kendo/styles/kendo.bootstrap.min.css" rel="stylesheet" type="text/css" />

    <link href="~/lib/datepicker/bootstrap-datepicker.min.css" rel="stylesheet" type="text/css" />



    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/css/thegrid.css" />

</head>

<body>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script type="text/javascript" language="javascript" src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript" language="javascript" src="https://cdn.datatables.net/select/1.3.1/js/dataTables.select.min.js"></script>

    <script type="text/javascript" language="javascript" src="https://cdn.datatables.net/plug-ins/1.10.20/api/row().show().js"></script>

    <script src="~/lib/modal_bootstrap/bootstrap-show-modal.js"></script>
    <script src="https://kit.fontawesome.com/688258440d.js" crossorigin="anonymous"></script>




    <!--KENDO all-->


    <script src="~/lib/kendo/js/kendo.custom.min_plus_grid.js"></script>


    <script src="~/lib/kendo/js/cultures/kendo.culture.cs-CZ.min.js"></script>


    <script src="~/lib/selection/ds.min.js"></script>
    <script src="~/lib/splitter/jquery-resizable.js"></script>
    <script src="~/lib/datepicker/bootstrap-datepicker.min.js"></script>
    <script src="~/lib/datepicker/bootstrap-datepicker.cs.min.js"></script>



    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/js/mycombo.js" asp-append-version="true"></script>
    <script src="~/js/thegrid.js" asp-append-version="false"></script>
    <script src="~/js/contextmenu.js" asp-append-version="false"></script>
    <script src="~/js/mycontrols.js" asp-append-version="true"></script>





    <script type="text/javascript">
        //set culture of the Kendo UI
        kendo.culture("cs-CZ");
    </script>
    <div id="searchbox_result" style="position:absolute;display:none;left:0px;top:30px;z-index:1000;overflow:auto;height:80%;width:500px;"></div>
    <div id="layout_sidebar">
        <a href="javascript:void(0)" class="closebtn" onclick="closeNav()" style="display:none;">×</a>

        <div style="display:none;">
            <input type="text" id="searchbox1" placeholder="&#9906;" class="form-control" />

        </div>
       
    </div>

    <div id="layout_main" role="main">


        @RenderBody()
    </div>



    <div id="myModalContainer">
        
        <div id="myModalContent">
            <div style="height:30px;background-color: lightsteelblue;padding:3px;" ondblclick="_window_toggle()">
                <button class="btn btn-secondary btn-sm float-left" onclick="_window_close()" style="margin-left:3px;margin-right:3px;">&times;</button>
                <span>Okno</span>
                <button class="btn btn-secondary btn-sm float-right" onclick="_window_close()" style="margin-right:3px;">&times;</button>
                <button class="btn btn-secondary btn-sm float-right" onclick="_window_toggle()" style="margin-right:3px;">&#9600;</button>
            </div>
            <div id="myModalFrame" style="padding:0px 10px 10px 10px;">
                <iframe id="fraModalContent" name="fraModalContent" frameborder="0" scrolling="no"></iframe>
            </div>
            
        </div>


    </div>


    @RenderSection("Scripts", required: false)

    <script type="text/javascript">
        var _modal = document.getElementById("myModalContainer");
        

        //zabránit submit formuláře po stisknutí ENTER na jakémkoliv non-submit input elementu


        $(document).ready(function () {
            
           @if (_f.CurrentUser.Messages4Notify != null) {
           @foreach (var c in _f.CurrentUser.Messages4Notify) {  // <----  placed on the same line, WORKING !!!
            <text>
            _notify_message("@c.Value","@c.Key");
            </text>
            }
            }
            if ($("#toolbar_changeinfo").length) {
                //události na editačních formulářích
                $("form").submit(function () {
                    if ($(document.activeElement).attr("type") == "submit")
                        return true;
                    else return false;
                });

                $("textarea").each(function () {
                    this.style.height = "auto";
                    this.style.height = (this.scrollHeight) + "px";

                    $(this).on("input", function () {
                        this.style.height = "auto";
                        this.style.height = (this.scrollHeight) + "px";
                    });
                });
        }

        $("#searchbox1").on("input", function (e) {

            if (typeof _combo_ajax_input_timeout !== "undefined") {
                clearTimeout(_combo_ajax_input_timeout);

            }
            //start new time, to perform ajax stuff in 500ms
            _combo_ajax_input_timeout = setTimeout(function () {      //kvůli ochraně přetěžování serveru odchází dotaz na server až po půl sekundě, aby uživatel stihl napsat všechny znaky pro hledání
                //your ajax stuff

                var url = '@Url.Action("GetSearchBoxHtml", "Common")';
                _handle_searchbox(e.target.value, url,"searchbox_result");

            }, 500);

            return;

        });

        $(document).on("click", function (e) {
            if (e.target == _modal) {   
                _window_close();
            }
        });
        $(document).on("keydown", function (e) {
            if (e.keyCode == 27 && _modal.style.display == "block") {
                _window_close();
                
            }
        });

            

    });

        function _cm(e, entity, pid) { //otevře kontextové menu
            var ctl = e.target;

            var data = "<u><li>hovado</li><li>debil</li><li>hovado</li><li>debil</li><li>hovado</li><li>debil</li><li>hovado</li><li>debil</li><li>hovado</li><li>debil</li><li>hovado</li><li>debil</li><li>hovado</li><li>debil</li><li>hovado</li><li>debil</li></ul>";
            var w = $(window).width();
            var pos_left = e.clientX + $(window).scrollLeft();

            var menuid = "cm_left2right";
            if (pos_left + 300 >= w) menuid = "cm_right2left";

            if (!document.getElementById(menuid)) {
                //div na stránce neště existuje
                var el = document.createElement("DIV");
                el.id = menuid;
                el.style.display = "none";
                document.body.appendChild(el);
            }

            $("#" + menuid).html(data);

            if (ctl.getAttribute("menu_je_inicializovano") === "1") {
                return; // kontextové menu bylo již u tohoto elementu inicializováno - není třeba to dělat znovu.
            }

            $(ctl).contextMenu({
                menuSelector: "#" + menuid,
                menuClicker: ctl

            });

            ctl.setAttribute("menu_je_inicializovano", "1");



        }


        function openNav() {
            document.getElementById("layout_sidebar").style.width = "200px";
            document.getElementById("layout_main").style.marginLeft = "200px";
        }

        function closeNav() {
            document.getElementById("layout_sidebar").style.width = "0";
            document.getElementById("layout_main").style.marginLeft = "0";
        }


    function searchbox1_destroy() {
        $("#searchbox_result").html("");
        $("#searchbox_result").css("display","none");
    }


        function _window_close() {
            var iframe = document.getElementById("fraModalContent");
            var elmnt = iframe.contentWindow.document.getElementById("toolbar_changeinfo");
            if ($(elmnt).text() != "") {
                if (confirm("Chcete zavřít okno bez uložení změn?")) {
                    $(_modal).css("display", "none");
                } else {
                    return;
                }
            }
            $(_modal).css("display", "none");

            
        }
        function _window_toggle() {
            var okno = $("#myModalContent");
            
            if (_device.innerWidth - $(okno).width() < 30) {
                _window_open("", 1);
            } else {
                _window_open("", 2);
            }
            
        }
        function _window_open(url, flag, header) {  
            if (typeof flag === "undefined") flag = 1;                                
            
            if (!$(_modal).attr("initialized") && flag !=2) {
                _make_element_draggable(document.getElementById("myModalContent"), document.getElementById("myModalFrame")); //předávání nefunguje přes jquery
                $(_modal).attr("initialized", true);              
            }
            
            var okno = $("#myModalContent");
            var fra = $("#fraModalContent");
            
            var w = 1000;
            var h = 800;
            var x = 0;
            var y = 0;

            if (flag == 1) {   //centralizovat, max rozměr 1000x800    
                $("#myModalFrame").css("padding", "0px 10px 10px 10px;");
                if (_device.innerWidth < w) w = _device.innerWidth;
                if (_device.innerHeight < h) h = _device.innerHeight;
                x = (_device.innerWidth - w) / 2;
                y = (_device.innerHeight - h) / 2;
            }
            if (flag == 2) {   //okno na fullsreen 100%   
                $("#myModalFrame").css("padding", "0");
                w = _device.innerWidth;
                h = _device.innerHeight;                
                x = 0;
                y = 0;
            }

            $(okno).css("width", w);
            $(okno).css("height", h);
            $(okno).css("left", x);
            $(okno).css("top", y);
            $(fra).css("width", w-10-10);       //10 je padding
            $(fra).css("height", h - 30-10);    //10 padding dole, 30 div header

            if (url != "") {                
                $(fra).attr("src", url);
            }
            

            $(_modal).css("display", "block");
        }
    </script>
</body>
</html>
