@model BaseViewModel

<!DOCTYPE html>
<html lang="cs">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - [CC] Cormen Cloud</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.20/css/jquery.dataTables.min.css">
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/select/1.3.1/css/select.dataTables.min.css">




    <link rel="stylesheet" href="~/css/site.css" />

</head>

<body>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script type="text/javascript" language="javascript" src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript" language="javascript" src="https://cdn.datatables.net/select/1.3.1/js/dataTables.select.min.js"></script>

    <script type="text/javascript" language="javascript" src="https://cdn.datatables.net/plug-ins/1.10.20/api/row().show().js"></script>

    <script src="~/lib/modal_bootstrap/bootstrap-show-modal.js"></script>
    <script src="https://kit.fontawesome.com/688258440d.js" crossorigin="anonymous"></script>

    <script src="~/js/site.js" asp-append-version="true"></script>

    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light border-bottom box-shadow mb-3" style="background-color: #CCE5FF;">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Client" style="color:blue;" title="Cormen Cloud">CC<small> home</small></a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                    <partial name="_LoginPartial" />
                    <div class="dropdown">
                        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuSWITCH" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            KLIENT
                        </button>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuSWITCH">
                            <a class="dropdown-item" asp-action="Index" asp-controller="Home">Rozhraní CORMEN</a>
                            <a class="dropdown-item" asp-action="Client" asp-controller="Home">Rozhraní KLIENT</a>

                        </div>
                    </div>
                    <ul class="navbar-nav flex-grow-1">

                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownNOVY" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                NOVÝ
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdownNOVY">

                                <a class="dropdown-item" href="#">Something else here</a>
                            </div>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarVYROBA" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                VÝROBA
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarVYROBA">

                                <a class="dropdown-item" href="#">Grid zakázek s pojmenovanými filtry podle stavu<br /> (Objednávky/Plánované/Dokončené apod.)</a>
                                <a class="dropdown-item" href="#">Reporting</a>
                            </div>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarPOSTUPY" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                POSTUPY
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarPOSTUPY">

                                <a class="dropdown-item" href="#">Grid klientských TPV</a>


                            </div>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarPRODUKTY" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                PRODUKTY
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarPRODUKTY">

                                <a class="dropdown-item" href="#">Klientské produkty</a>
                            </div>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarSUROVINY" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                SUROVINY
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarSUROVINY">

                                <a class="dropdown-item" href="#">Something here</a>
                            </div>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarMSZ" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                MSZ
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarMSZ">

                                <a class="dropdown-item" href="#">Something here</a>
                            </div>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarMSZ" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                DOKUMENTY
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarMSZ">

                                <a class="dropdown-item" href="#">Grid dokumentů</a>
                            </div>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarADMIN" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Administrace klientského rozhraní
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarADMIN">

                                <a class="dropdown-item" href="#">Something here</a>
                            </div>
                        </li>

                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container-fluid">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>



    @RenderSection("Scripts", required: false)

    <script type="text/javascript">
        //zabránit submit formuláře po stisknutí ENTER na jakémkoliv non-submit input elementu


    $(document).ready(function () {
           @if (Model.NotifyMessages != null) {
           @foreach (var c in Model.NotifyMessages) {  // <----  placed on the same line, WORKING !!!
            <text>
            _notify_message("@c.Value","@c.Key");
            </text>
            }
            }
            if ($("#toolbar_changeinfo").length) {
                //události na editačních formulářích
                $("form").submit(function () {
                    if ($(document.activeElement).attr("type") == "submit")
                        return true;
                    else return false;
                });

                $("textarea").each(function () {
                    this.style.height = "auto";
                    this.style.height = (this.scrollHeight) + "px";

                    $(this).on("input", function () {
                        this.style.height = "auto";
                        this.style.height = (this.scrollHeight) + "px";
                    });
                });
            }




        });


    </script>
</body>
</html>
