@model UI.Models.MyAutoCompleteViewModel

    <div class="input-group">
        <div class="input-group-prepend">
            <div id="@Model.ControlID_Dropdown" class="dropdown mycombo">
                <button class="btn btn-light dropdown-toggle" type="button" id="@(@Model.ControlID+"_cmdCombo")" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="text-align:left;width:100%;">
                </button>
                <div class="dropdown-menu" aria-labelledby="@(@Model.ControlID+"_cmdCombo")" style="width:@Model.DropDownWidth;">

                    <input type="text" id="@(@Model.ControlID+"_search")" class="form-control" placeholder="Najít..." autocomplete="off" />

                    <div id="@(@Model.ControlID+"_divtab")" style="height:200px;overflow:auto;">

                    </div>
                </div>

            </div>
        </div>
        <input id="@(@Model.ControlID+"_txt1")" asp-for="@Model.SelectedText" class="form-control" placeholder="@Model.PlaceHolder" />
    </div>


    <script type="text/javascript">
        var _myac@(@Model.ControlID)={
            controlid: "@Model.ControlID",
            dropdownid: "@Model.ControlID_Dropdown",
            tableid: "@Model.ControlID_Table",
            posturl: "@Url.Action("GetAutoCompleteHtmlItems", "Common")",
            o15flag: "@Model.o15Flag"
        };

        _myac_init(_myac@(@Model.ControlID));

    </script>
