@model UI.Models.MyComboViewModel
<!--MyCombo @Model.ControlID začátek-->
<div id="@Model.ControlID_Dropdown" class="dropdown mycombo">
    <button class="btn btn-light dropdown-toggle" type="button" id="@(@Model.ControlID+"_cmdCombo")" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="text-align:left;width:100%;">
        @Model.SelectedText
    </button>
    <div class="dropdown-menu" aria-labelledby="@(@Model.ControlID+"_cmdCombo")" style="width:@Model.TableWidth;">

        <div class="form-row">
            <div class="col-10">
                <input type="text" id="@(@Model.ControlID+"_search")" class="form-control" placeholder="Najít..." autocomplete="off" />
            </div>
            <div class="col-2">
                <button type="button" id="@(@Model.ControlID+"_clear")" class="btn btn-light">Vyčistit</button>
            </div>
        </div>

        <div id="@(@Model.ControlID+"_divtab")" style="height:200px;overflow:auto;">

        </div>
    </div>
    <input type="hidden" asp-for="@Model.SelectedValue" />
    <input type="hidden" asp-for="@Model.SelectedText" />
</div>




<script type="text/javascript">

    $("#@Model.ControlID_Dropdown").on("show.bs.dropdown", function (e) {
        var strCurValue = $("#hidSelectedValue").val();

        if ($("#@Model.ControlID_Dropdown").prop("filled") == true) {

            focusAndCursor(document.getElementById("@(@Model.ControlID+"_search")"));
            return;    //combo už bylo dříve otevřeno
        }


        var url = '@Url.Action("GetComboHtmlItems", "Common")';
        $.post(url, { entity: "@Model.Entity", curvalue: strCurValue, tableid:"@Model.ControlID_Table", param1:"@Model.Param1" }, function (data) {
            $("#@(@Model.ControlID+"_divtab")").html(data);

            $("#@Model.ControlID_Dropdown").prop("filled", true);

            $("#@Model.ControlID_Table .txz").on("click", function () {
                var v = $(this).attr("data-v");
                var t = $(this).attr("data-t");
                if (t == "" || t==null) t = $(this).find("td:first").text();

                var ctl = $("#@Model.ControlID_Dropdown :input[type='hidden']");
                $(ctl[0]).val(v);
                $(ctl[1]).val(t);
                $("#@(@Model.ControlID+"_cmdCombo")").text(t);
                if ($("#toolbar_changeinfo").length) $("#toolbar_changeinfo").text("Změny potvrďte tlačítkem [Uložit změny]...");
            });

            $("#@(@Model.ControlID+"_search")").focus();

            

        });


    })

    $("#@(@Model.ControlID+"_search")").on("focus", function () {
        document.getElementById("@(@Model.ControlID+"_search")").select();
    });

    $("#@(@Model.ControlID+"_search")").on("keyup", function () {
        var value = $(this).val().toLowerCase();
        $("#@Model.ControlID_Table tr").filter(function () {
            $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
        });
    });


    $("#@(@Model.ControlID+"_clear")").on("click", function () {

        var ctl = $("#@Model.ControlID_Dropdown :input[type='hidden']");
        $(ctl[0]).val("");
        $("#@(@Model.ControlID+"_cmdCombo")").text("");
        
    });





</script>
<!--MyCombo @Model.ControlID konec-->