@model UI.Models.MyToolbarViewModel


    <nav class="navbar navbar-expand navbar-toggleable navbar-light border-bottom box-shadow mb-3 @Model.BG" id="nav1" style="margin-bottom:10px;">
        <div class="navbar-brand" style="margin: 0px;">
            
        </div>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">


            <div>
                @if (Model.IsGrid)
                {
                    <div class="btn-group">
                        <a asp-action="Index" asp-controller="TheGrid" onclick="before_clicked(event)" class="btn btn-light" asp-route-pid="@Model.Record.pid" asp-route-entity="@Model.Record.entity">Grid</a>
                    </div>
                }

                <div class="btn-group" style="margin-left: 7px;">
                    <button type="submit" action="@Model.ControllorName" class="btn btn-success">Uložit změny</button>

                </div>

                @if (Model.IsDelete)
                {
                    <div class="btn-group" style="margin-left: 7px;">
                        <button type="button" class="btn btn-danger" onclick="toolbar_try_delete()">Odstranit</button>

                    </div>
                }
                @if (Model.IsRefresh)
                {
                    <div class="btn-group" style="margin-left: 7px;">
                        <a asp-action="@Model.ControllorName" onclick="before_clicked(event)" class="btn btn-light" asp-route-pid="@Model.Record.pid">Občerstvit</a>
                    </div>
                }
                @if (Model.IsClone)
                {
                    <div class="btn-group" style="margin-left: 7px;">
                        <a asp-action="@Model.ControllorName" onclick="before_clicked(event)" class="btn btn-light" asp-route-pid="@Model.Record.pid" asp-route-isclone="true">Kopírovat</a>
                    </div>
                }
                @if (Model.IsToArchive)
                {
                    <div class="btn-group" style="margin-left: 7px;">
                        <button type="button" onclick="toolbar_handle_archive(1)" class="btn btn-light">Přesunout do archivu</button>
                    </div>
                }
                @if (Model.IsFromArchive)
                {
                    <div class="btn-group" style="margin-left: 7px;">
                        <button type="button" onclick="toolbar_handle_archive(2)" class="btn btn-warning">Obnovit z archivu</button>
                    </div>
                }
                @if (Model.IsRefresh)
                {
                    <div class="btn-group" style="margin-left: 7px;">
                        <a asp-controller="@Model.Record.entity" asp-action="Index" onclick="before_clicked(event)" class="btn btn-light" asp-route-pid="@Model.Record.pid">Stránka záznamu</a>
                    </div>
                }


                <div class="btn-group">
                    <span id="toolbar_message" class="badge-info">@Model.Message</span>

                </div>

            </div>
        </div>
        <code id="toolbar_changeinfo" style="float:right;"></code>
    </nav>

<input type="hidden" id="hidArchiveFlag" asp-for="@Model.ArchiveFlag" />


<script type="text/javascript">
    $(document).ready(function () {
        $("input, textarea").change(function () {
            _toolbar_warn2save_changes();

        });

    })


    function toolbar_try_delete() {
        $.showConfirm({
            title: "Rozhodněte se...", body: "Opravdu chcete nenávratně odstranit tento záznam?", textTrue: "ANO", textFalse: "NE",
            onSubmit: function (result) {
                if (result) {
                    var url = '@Url.Action("DeleteRecord", "Common")';

                    $.post(url, { entity:"@Model.Record.entity", pid: @Model.Record.pid }, function (data) {

                        if (data == "1") {
                            var url = "@Url.ActionLink("Index", "TheGrid")";
                            url = url + "?entity=@Model.Record.entity";
                            location.replace(url);

                        } else {
                            alert(data);
                        }

                    });


                } else {
                    //nechce odstranit
                }
            },
            onDispose: function () {
                //nic
            }
        })
    }

    function toolbar_handle_archive(flag) {
        $("#hidArchiveFlag").val(flag);
        if (flag == 1) { $("#toolbar_message").text("Po uložení dojde k přesunutí záznamu do archivu.") };
        if (flag == 2) { $("#toolbar_message").text("Po uložení dojde k obnovení záznamu z archivu.") };
    }
    function before_clicked(e) {
        if ($("#toolbar_changeinfo").text() != "") {
            if (!confirm("Chcete pokračovat bez uložení změn?")) e.preventDefault();
        }
    }
</script>
