@model BO.p52OrderItem
@{
    if (Model == null) return;
}

<div class="form-row">
    <label class="col-sm-1 col-md-2 col-form-label">Produkt:</label>
    <div class="col-sm-6 col-md-6">
        <span class="form-control bg-light">@(Model.p11Name + " [" + Model.p11Code + "]")</span>

    </div>
    <label class="col-sm-1 col-md-1 col-form-label">Obj. množství:</label>
    <div class="col-sm-2 col-md-2">
        <span class="form-control bg-light" style="text-align:right;">@(BO.BAS.Number2String(Model.p52UnitsCount)+" "+ @Model.p20Code)</span>

    </div>
    <div class="col-sm-1 col-md-1">

        <span class="form-control bg-light font-weight-bold" style="text-align:right;">@(BO.BAS.Number2String(Model.Recalc2Kg)+Model.p20CodePro)</span>

    </div>
</div>
<div class="form-row">
    <label class="col-sm-1 col-md-2 col-form-label">Položka objednávky:</label>
    <div class="col-sm-2 col-md-2">
        <span class="form-control bg-light">@(Model.p52Code)</span>

    </div>
    @if (Model.p52Task_UnitsCount > 0)
    {
        <label class="col-sm-1 col-md-1 col-form-label">Naplánováno:</label>
        <div class="col-sm-2 col-md-2">
            <span class="form-control bg-light text-primary" style="text-align:right;">@(BO.BAS.Number2String(Model.p52Task_UnitsCount)+" "+ Model.p20Code)</span>
        </div>
    }
    else
    {
        <div class="col-sm-3 col-md-3">
        </div>
    }


    <label class="col-sm-2 col-md-2 col-form-label">Zbývá naplánovat zakázky:</label>
    <div class="col-sm-2 col-md-2">
        <span class="form-control bg-light text-success" style="text-align:right;">@(BO.BAS.Number2String(Model.p52UnitsCount-Model.p52Task_UnitsCount) + " "+ @Model.p20Code)</span>
    </div>
    <div class="col-sm-1 col-md-1">
        <span class="form-control bg-light font-weight-bold text-success" style="text-align:right;">@(BO.BAS.Number2String(Model.Recalc2Kg - Model.p52Task_Kg) + Model.p20CodePro)</span>
    </div>
</div>
