@model x40RecordViewModel

@{
    ViewData["Title"] = "Odeslaná zpráva";
    Layout = "~/Views/Shared/_LayoutModal.cshtml";
}

@addTagHelper *, UI


<h4>
    Odeslaná poštovní zpráva
    <button type="button" class="btn btn-primary" onclick="eml()">Otevřít poštovní zprávu (@(BO.BAS.FormatFileSize(Model.Rec.x40EmlFileSize)))</button>

    <button type="button" class="btn btn-light" style="margin-left:10px;" onclick="_window_close()">Zavřít</button>
</h4>



<div class="modal_record_container">

    <div class="form-row">
        <label class="col-sm-1 col-md-2 col-form-label">Čas:</label>
        <div class="col-sm-11 col-md-10">
            <span class="form-control bg-light">
                @Model.Rec.x40WhenProceeded
                <strong style="margin-left:40px;">@Model.Rec.StateAlias</strong>
                <span style="margin-left:40px;">Velikost: @(BO.BAS.FormatFileSize(Model.Rec.x40EmlFileSize))</span>
            </span>

        </div>

    </div>
    @if (Model.Rec.x40ErrorMessage != null)
    {
        <div class="form-row" style="margin-top:10px;">
            <label class="col-sm-1 col-md-2 col-form-label">Chyba:</label>
            <div class="col-sm-11 col-md-10">
                <span class="form-control bg-light text-danger">@Model.Rec.x40ErrorMessage</span>

            </div>

        </div>
    }

    <div class="form-row" style="margin-top:10px;">
        <label class="col-sm-1 col-md-2 col-form-label">Odesílatel:</label>
        <div class="col-sm-11 col-md-10">
            <span class="form-control bg-light">@Html.Raw(Model.Rec.x40SenderName + " <" + Model.Rec.x40SenderAddress + ">")</span>
        </div>
    </div>

    <div class="form-row" style="margin-top:10px;">
        <label class="col-sm-1 col-md-2 col-form-label">Komu (To):</label>
        <div class="col-sm-11 col-md-10">
            <span class="form-control bg-light">@Model.Rec.x40To</span>

        </div>

    </div>
    <div class="form-row" style="margin-top:10px;">
        <label class="col-sm-1 col-md-2 col-form-label">Kopie (Cc):</label>
        <div class="col-sm-11 col-md-10">
            <span class="form-control bg-light">@Model.Rec.x40Cc</span>

        </div>

    </div>
    <div class="form-row" style="margin-top:10px;">
        <label class="col-sm-1 col-md-2 col-form-label">Skrytá kopie (Bcc):</label>
        <div class="col-sm-11 col-md-10">
            <span class="form-control bg-light">@Model.Rec.x40Bcc</span>

        </div>

    </div>
    <div class="form-row" style="margin-top:10px;">
        <label class="col-sm-1 col-md-2 col-form-label">Předmět zprávy:</label>
        <div class="col-sm-11 col-md-10">
            <span class="form-control bg-light">@Model.Rec.x40Subject</span>

        </div>

    </div>
    

    @if (Model.MimeMessage != null && Model.MimeAttachments.Count() > 0)
    {
        <div class="form-row" style="margin-top:10px;">
            <label class="col-sm-1 col-md-2 col-form-label">Přílohy:</label>
            <div class="col-sm-11 col-md-10">
                @foreach (var item in Model.MimeAttachments)
                {
                    <div>
                        <a target="_blank" href="/o23/FileDownloadTempFile?tempfilename=@(Model.Rec.x40MessageGuid+"_"+item.Value)&guid=@(Model.Rec.x40MessageGuid)&contenttype=@(item.Key)">@(item.Value)</a>
                        
                    </div>
                }





            </div>

        </div>
    }






    <div class="form-row" style="margin-top:10px;">
        <textarea asp-for="Rec.x40Body" class="form-control" placeholder="Text zprávy" style="height:200px;"></textarea>

    </div>



</div>



<script type="text/javascript">
    $(document).ready(function () {


    });


    function eml() {
        location.replace("/Mail/DownloadEmlFile?guid=@Model.Rec.x40MessageGuid");
    }


</script>
