@model UI.Models.p11PreviewViewModel

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_LayoutSubform.cshtml";
    if (Model.Rec == null) return;
}
@addTagHelper *, UI

    <div class="modal_record_container">

        <div class="form-row">
            <label class="col-sm-1 col-md-2 col-form-label">Název:</label>
            <div class="col-sm-6 col-md-5">
                <span class="val-readonly">@(Model.Rec.p11Name)</span>

            </div>
            <div class="col-sm-2 col-md-2" style="overflow:hidden;">
                <span title="@Model.Rec.p20Name" class="val-readonly">@(Model.Rec.p20Code+" ["+Model.Rec.p20Name+"]")</span>

            </div>
            <div class="col-sm-1 col-md-1">
                <span class="val-readonly">@(Model.Rec.p11RecalcUnit2Kg)@(Model.Rec.p20CodePro)</span>

            </div>
            <div class="col-sm-2 col-md-2">
                <span class="val-readonly">@(Model.Rec.p11Code)</span>

            </div>
        </div>




        <div class="form-row" style="margin-top:10px;">
            <label class="col-sm-1 col-md-2 col-form-label">Jednotková cena:</label>
            <div class="col-sm-3 col-md-2">
                <span class="val-readonly">@(Model.Rec.p11UnitPrice)</span>

            </div>
            <label class="col-sm-1 col-md-1 col-form-label">Typ:</label>
            <div class="col-sm-2 col-md-2">
                <span class="val-readonly">@(Model.Rec.p11TypeFlag)</span>
            </div>
            <label class="col-sm-1 col-md-1 col-form-label">Stav:</label>
            <div class="col-sm-4 col-md-4">
                <span class="val-readonly">@(Model.Rec.b02Name)</span>
            </div>

        </div>
        <div class="form-row" style="margin-top:10px;">
            <label class="col-sm-1 col-md-2 col-form-label">Licence:</label>
            <div class="col-sm-8 col-md-7">
                <span class="val-readonly">@(Model.RecP21.p21Name+" ["+Model.RecP21.p28Name+"]")</span>
            </div>
            <div class="col-sm-1 col-md-1">
                <span class="val-readonly">@(Model.RecP21.PermFlagAlias)</span>

            </div>
            <div class="col-sm-2 col-md-2">
                <span class="val-readonly">@(Model.RecP21.p21Code)</span>

            </div>
        </div>

        <div class="form-row" style="margin-top:10px;">
            <label class="col-sm-1 col-md-2 col-form-label">Receptura:</label>
            <div class="col-sm-9 col-md-8">
                <span class="val-readonly">@(Model.Rec.p12Name)</span>
            </div>
            <div class="col-sm-2 col-md-2">
                <span class="val-readonly">@(Model.Rec.p12Code)</span>

            </div>
        </div>
        @Html.Raw(Model.Rec.TagHtml)

        @if (Model.Rec.p10ID_Master > 0)
        {
            <div class="form-row" style="margin-top:10px;">
                <label class="col-sm-1 col-md-2 col-form-label">Vzorový Master produkt:</label>
                <div class="col-sm-6 col-md-5">
                    <span class="val-readonly">@(Model.RecP10.p10Name)</span>

                </div>
                <div class="col-sm-2 col-md-2" style="overflow:hidden;">
                    <span title="@Model.RecP10.p20Name" class="val-readonly">@(Model.RecP10.p20Code+" ["+ Model.RecP10.p20Name+"]")</span>

                </div>
                <div class="col-sm-1 col-md-1">
                    <span class="val-readonly">@(Model.RecP10.p10RecalcUnit2Kg)@(Model.RecP10.p20CodePro)</span>

                </div>
                <div class="col-sm-2 col-md-2">
                    <span class="val-readonly">@(Model.RecP10.p10Code)</span>

                </div>
            </div>
        }




    </div>
@if (Model.Rec.p11Memo != null)
{
    <hr />

    <pre>@Html.DisplayFor(m => m.Rec.p11Memo, new { @class = "val-readonly-wrap" })</pre>


}

@Html.DisplayFor(m => Model.Rec, "~/Views/Shared/_MyTimestamp.cshtml")








<script type="text/javascript">

    

</script>

