@model p11RecordViewModel

@{
    ViewData["Title"] = "Klientský produkt";
    Layout = "~/Views/Shared/_LayoutModal.cshtml";
    if (Model.Rec == null) return;
}

@addTagHelper *, UI

<h4>Produkt [Klient]</h4>
@using (Html.BeginForm())
{

    @Html.EditorFor(m => m.Toolbar, "~/Views/Shared/_MyToolbar.cshtml")
    @Html.HiddenFor(m => m.Rec.pid)


<div class="modal_record_container">

    <div class="form-row">
        <label class="col-sm-1 col-md-2 col-form-label">Název:</label>
        <div class="col-sm-9 col-md-8">
            <input class="form-control" asp-for="Rec.p11Name" />
            <span asp-validation-for="Rec.p11Name" class="text-danger"></span>
        </div>
        <div class="col-sm-2 col-md-2">
            <input class="form-control" asp-for="Rec.p11Code" placeholder="Kód" />
            <span asp-validation-for="Rec.p11Code" class="text-danger"></span>
        </div>
    </div>

    <div class="form-row" style="margin-top:10px;">
        <label class="col-sm-1 col-md-2 col-form-label">Jednotková cena:</label>
        <div class="col-sm-2 col-md-1">
            <mynumber asp-for="Rec.p11UnitPrice" decimal-digits="2"></mynumber>

        </div>
        <label class="col-sm-1 col-md-2 col-form-label">Měrná jednotka (MJ):</label>
        <div class="col-sm-3 col-md-3">
            <mycombo entity="p20Unit" asp-for="Rec.p20ID" selectedtext="Rec.p20Code" view-flag="2"></mycombo>
        </div>
        <label class="col-sm-1 col-md-2 col-form-label">Přepočet MJ na KG:</label>
        <div class="col-sm-2 col-md-2">
            <mynumber asp-for="Rec.p11RecalcUnit2Kg" decimal-digits="3"></mynumber>
        </div>
    </div>

    @if (Model.Rec.p10ID_Master > 0)
    {

        <div class="form-row" style="margin-top:10px;">
            <label class="col-sm-1 col-md-2 col-form-label">Licence:</label>
            <div class="col-sm-9 col-md-8">
                <span class="form-control bg-light">@(Model.Rec.p21Name)</span>
                <input type="hidden" asp-for="Rec.p21ID" />

            </div>
            <div class="col-sm-2 col-md-2">
                <span class="form-control bg-light">@(Model.Rec.p21Code)</span>
            </div>
        </div>
        <div class="form-row" style="margin-top:10px;">
            <label class="col-sm-1 col-md-2 col-form-label">Receptura:</label>
            <div class="col-sm-9 col-md-8">
                <span class="form-control bg-light">@(Model.Rec.p12Name)</span>
                <input type="hidden" asp-for="Rec.p12ID" />

            </div>
            <div class="col-sm-2 col-md-2">
                <span class="form-control bg-light">@(Model.Rec.p12Code)</span>
            </div>
        </div>
        <div class="form-row" style="margin-top:10px;">
            <label class="col-sm-1 col-md-2 col-form-label">Vzorový Master produkt:</label>
            <div class="col-sm-9 col-md-8">
                <span class="form-control bg-light">@(Model.Rec.p10Name)</span>
                <input type="hidden" asp-for="Rec.p10ID_Master" />

            </div>
            <div class="col-sm-2 col-md-2">
                <span class="form-control bg-light">@(Model.Rec.p10Code)</span>
            </div>
        </div>
    }
    else
    {

        <div class="form-row" style="margin-top:10px;">
            <label class="col-sm-1 col-md-2 col-form-label">Receptura+Licence:</label>
            <div class="col-sm-11 col-md-10">
                <mycombo entity="p12ClientTpv" asp-for="Rec.p12ID" selectedtext="Rec.p12Name"></mycombo>

            </div>
        </div>

    }





    <div class="form-row" style="margin-top:10px;display:none;">
        <label class="col-sm-1 col-md-2 col-form-label">Aktuální stav:</label>
        <div class="col-sm-11 col-md-10">
            <mycombo entity="b02Status" asp-for="Rec.b02ID" selectedtext="Rec.b02Name" param1="p11"></mycombo>
        </div>
    </div>


    <div class="form-row" style="margin-top:10px;">
        <textarea asp-for="Rec.p11Memo" class="form-control" placeholder="Podrobný popis"></textarea>
        <span asp-validation-for="Rec.p11Memo" class="text-danger"></span>
    </div>

    @if (Model.Rec.p10ID_Master == 0)
    {
        <div>
            <hr />
            <i>Produkt s vazbou na Master produkt vytvoříte jednoduše z GRIDu zkopírováním vašeho vybraného produktu!</i>
            <br />
            <i>Zde se předpokládá založení/úprava produktu bez vazby na Master produkt.</i>
        </div>
    }



</div>
}

@Html.DisplayFor(m => m.Rec, "~/Views/Shared/_MyTimestamp.cshtml")



