@model p26PreviewViewModel

@{
    ViewData["Title"] = "Skupina typů zařízení";
    Layout = "~/Views/Shared/_LayoutSubform.cshtml";
    if (Model.Rec == null) return;
}

    <div class="modal_record_container">


        <div class="form-row">
            <label class="col-sm-1 col-md-2 col-form-label">Název skupiny:</label>
            <div class="col-sm-6 col-md-6">
                <span class="val-readonly">@(Model.Rec.p26Name)</span>

            </div>
            <div class="col-sm-5 col-md-4">
                <span class="val-readonly">@(Model.Rec.p26Code)</span>

            </div>
        </div>
        
        <div class="form-row" style="margin-top:10px;">
            <label class="col-sm-1 col-md-2 col-form-label">Klient:</label>
            <div class="col-sm-11 col-md-10">
                <span class="val-readonly">@(Model.Rec.p28Name)</span>
            </div>

        </div>

        <div class="form-row" style="margin-top:10px;">
            <label class="col-sm-1 col-md-2 col-form-label">Stav:</label>
            <div class="col-sm-11 col-md-10">
                <span class="val-readonly">@(Model.Rec.b02Name)</span>
            </div>

        </div>

        @Html.Raw(Model.Rec.TagHtml)


    </div>
@if (Model.Rec.p26Memo != null)
{
    <hr />

    <pre>@Html.DisplayFor(m => m.Rec.p26Memo, new { @class = "form-control" });</pre>


}


@Html.DisplayFor(m => m.Rec, "~/Views/Shared/_MyTimestamp.cshtml")
<kbd>Svázaná střediska:</kbd>
<div id="divP27Table"></div>



<script type="text/javascript">
    $(document).ready(function ()
    {


        $.post("/Common/GetWorkTable", { entity: "p27MszUnit", master_entity: "p26Msz", master_pid:@Model.Rec.pid }, function (data) {
            $("#divP27Table").html(data);

        });


    });
</script>
