@model p26RecordViewModel


@{
    ViewData["Title"] = "Skupina zařízení";
    Layout = "~/Views/Shared/_LayoutModal.cshtml";
    if (Model.Rec == null) return;
}

@addTagHelper *, UI



<form id="form1" asp-controller="p26" asp-action="Record" method="POST">
    <h4>Skupina zařízení</h4>
    @Html.EditorFor(m => m.Toolbar, "~/Views/Shared/_MyToolbar.cshtml")
    @Html.HiddenFor(m => m.Rec.pid)

<div class="modal_record_container">

    <div class="form-row">
        <label class="col-sm-1 col-md-2 col-form-label">Název:</label>
        <div class="col-sm-8 col-md-7">
            <input class="form-control" asp-for="Rec.p26Name" />
            <span asp-validation-for="Rec.p26Name" class="text-danger"></span>
        </div>
        <div class="col-sm-3 col-md-3">
            <input class="form-control" asp-for="Rec.p26Code" />
            <span asp-validation-for="Rec.p26Code" class="text-danger"></span>
        </div>
    </div>

    <div class="form-row" style="margin-top:10px;">
        <label class="col-sm-1 col-md-2 col-form-label">Střediska ve skupině:</label>
        <div class="col-sm-11 col-md-10">
            <mycombochecklist asp-for="@Model.SelectedP27IDs" entity="p27MszUnit" selectedtext="@Model.SelectedP27Names" placeholder="Vybrat střediska..."></mycombochecklist>
        </div>
    </div>

    

    <div class="form-row" style="margin-top:10px;">
        <label class="col-sm-1 col-md-2 col-form-label">Klient stroje:</label>
        <div class="col-sm-11 col-md-10">
            <mycombo entity="p28Company" asp-for="Rec.p28ID" selectedtext="Rec.p28Name" filter-flag="1"></mycombo>
        </div>
    </div>

   

    <mystitky entity="p26Msz" asp-for="@Model.TagPids" tagnames="@Model.TagNames" taghtml="@Model.TagHtml"></mystitky>



    <div class="form-row" style="margin-top:10px;">
        <textarea asp-for="Rec.p26Memo" class="form-control" style="height:150px;" placeholder="Podrobný popis"></textarea>
        <span asp-validation-for="Rec.p26Memo" class="text-danger"></span>
    </div>





</div>
</form>



@Html.DisplayFor(m => m.Rec, "~/Views/Shared/_MyTimestamp.cshtml")



