@model p21PreviewViewModel

@{
    ViewData["Title"] = "Licence";
    Layout = "~/Views/Shared/_LayoutSubform.cshtml";
    if (Model.Rec == null) return;
}



<div class="modal_record_container">

    <div class="form-row">
        <label class="col-sm-1 col-md-2 col-form-label">Licence:</label>
        <div class="col-sm-6 col-md-6">
            <span class="form-control bg-light">@(Model.Rec.p21Name)</span>

        </div>
        <div class="col-sm-5 col-md-4">
            <span class="form-control bg-light">@(Model.Rec.p21Code)</span>

        </div>
    </div>

    <div class="form-row" style="margin-top:10px;">
        <label class="col-sm-1 col-md-2 col-form-label">Klient:</label>
        <div class="col-sm-6 col-md-5">
            <span class="form-control bg-light">@(Model.Rec.p28Name)</span>
        </div>
        <label class="col-sm-1 col-md-1 col-form-label">Typ licence:</label>
        <div class="col-sm-4 col-md-4">
            <span class="form-control bg-light">@(Model.Rec.PermFlagAlias)</span>
        </div>
    </div>

    <div class="form-row" style="margin-top:10px;">
        <label class="col-sm-1 col-md-2 col-form-label">Platnost:</label>
        <div class="col-sm-6 col-md-5">
            <div class="btn-group">
                <span class="form-control bg-light">@(BO.BAS.ObjectDate2String(@Model.Rec.ValidFrom)+" - "+ BO.BAS.ObjectDate2String(@Model.Rec.ValidUntil))</span>


            </div>


        </div>
        <label class="col-sm-1 col-md-1 col-form-label">Stav:</label>
        <div class="col-sm-4 col-md-4">
            <span class="form-control bg-light">@(Model.Rec.b02Name)</span>
        </div>



    </div>

    @Html.DisplayFor(m => m.Rec.TagHtml, "~/Views/Shared/_TagHtml.cshtml")


</div>
@if (Model.Rec.p21Memo != null)
{
    <hr />

    <pre>@Html.DisplayFor(m => m.Rec.p21Memo, new { @class = "form-control" });</pre>


}


@Html.DisplayFor(m => m.Rec, "~/Views/Shared/_MyTimestamp.cshtml")

<div id="divP10Table"></div>




<script type="text/javascript">
    $(document).ready(function () {

        $.post("/Common/GetWorkTable", { entity: "p10MasterProduct", master_entity: "p21License", master_pid:@Model.Rec.pid }, function (data) {
            $("#divP10Table").html(data);

        });

    });



</script>





