@model p21RecordViewModel


@{
    ViewData["Title"] = "Licence";
    Layout = "~/Views/Shared/_LayoutModal.cshtml";
    if (Model.Rec == null) return;

}

@addTagHelper *, UI

@using (Html.BeginForm())
{
    <h4>Licence</h4>
    @Html.EditorFor(m => m.Toolbar, "~/Views/Shared/_MyToolbar.cshtml")
    @Html.HiddenFor(m => m.Rec.pid)

    <div class="modal_record_container">

        <div class="form-row">
            <label class="col-sm-1 col-md-2 col-form-label">Název:</label>
            <div class="col-sm-8 col-md-7">
                <input class="form-control" asp-for="Rec.p21Name" />
                <span asp-validation-for="Rec.p21Name" class="text-danger"></span>
            </div>
            <div class="col-sm-3 col-md-3">
                <input class="form-control" asp-for="Rec.p21Code" placeholder="Kód" />
                <span asp-validation-for="Rec.p21Code" class="text-danger"></span>
            </div>
        </div>

        <div class="form-row" style="margin-top:10px;">
            <label class="col-sm-1 col-md-2 col-form-label">Klient:</label>
            <div class="col-sm-11 col-md-10">
                <mycombo entity="p28Company" asp-for="Rec.p28ID" selectedtext="Rec.p28Name"></mycombo>
            </div>
        </div>


        <div class="form-row" style="margin-top:10px;">
            <label class="col-sm-1 col-md-2 col-form-label">Rozsah platnosti:</label>
            <div class="col-sm-3 col-md-3">
                <mydate asp-for="Rec.ValidFrom"></mydate>



            </div>

            <div class="col-sm-3 col-md-3">
                <mydate asp-for="Rec.ValidUntil"></mydate>
            </div>
            <label class="col-sm-1 col-md-1 col-form-label">Stav:</label>
            <div class="col-sm-4 col-md-3">
                <mycombo entity="b02Status" asp-for="Rec.b02ID" selectedtext="Rec.b02Name" param1="p21" view-flag="2"></mycombo>
            </div>
        </div>
        <div class="form-row" style="margin-top:10px;">
            <label class="col-sm-1 col-md-2 col-form-label">Cena:</label>
            <div class="col-sm-3 col-md-2">
                <mynumber asp-for="Rec.p21Price" decimal-digits="2"></mynumber>
            </div>
            <div class="col-sm-4 col-md-4"></div>
            <label class="col-sm-1 col-md-1 col-form-label">Kategorie:</label>
            <div class="col-sm-3 col-md-3">
                <mycombo entity="o12Category" asp-for="Rec.o12ID" selectedtext="Rec.o12Name" param1="p21" view-flag="2"></mycombo>
            </div>
        </div>


        <div class="form-row">
            <textarea asp-for="Rec.p21Memo" class="form-control" placeholder="Podrobný popis"></textarea>
            <span asp-validation-for="Rec.p21Memo" class="text-danger"></span>
        </div>



    </div>



    <div class="card">
        <div class="card-header">
            Master produkty v licenci
            <button type="button" class="btn btn-primary" onclick="handle_create_client_products()">Založit klientovi jeho produkty a TPV</button>
        </div>
        <div class="card-body">
            <div style="width:100%;">
                <mycombo entity="p10MasterProduct" asp-for="@Model.SelectedP10ID" selectedtext="@Model.SelectedP10Name" event_after_changevalue="handle_append_product" placeholder="Vybrat Master produkty do licence..."></mycombo>
                
            </div>
            <div id="divP10" style="margin-top:20px;"></div>
            
        </div>
    </div>
    
    <input type="hidden" id="hidP10IDs" asp-for="@Model.p10IDs" />

    
  


}






@Html.DisplayFor(m => m.Rec, "~/Views/Shared/_MyTimestamp.cshtml")




<script type="text/javascript">
   

    $(document).ready(function () {
        

        if ($("#hidP10IDs").val() != "") {
            $("#cmdCreateClientProducts").css("display", "block");
            refresh_p10_table();
        }

      


    });

    function handle_select_product(e) {
        _notify_message("handle_select_product");
    }
    function handle_append_product(p10id) {        
        if (p10id == "") {
            _notify_message("Musíte vybrat produkt.");
            return;
        }
        var p10ids = [];
        if ($("#hidP10IDs").val() != "") p10ids = $("#hidP10IDs").val().split(",");
        if (p10ids.includes(p10id)) {
            _notify_message("Tento produkt je již v seznamu.", "info");
            return;
        }
        p10ids.push(p10id);
        $("#hidP10IDs").val(p10ids.join(","));
        refresh_p10_table();


        $("#cbxProduct_clear").click(); //kliknout na vyčistit


    }
    function handle_delete_product(p10id) {
        var p10ids = [];
        p10ids = $("#hidP10IDs").val().split(",");
        var x = p10ids.indexOf(p10id.toString());
        p10ids.splice(x, 1);

        $("#hidP10IDs").val(p10ids.join(","));
        refresh_p10_table();
        _toolbar_warn2save_changes();

    }

    function refresh_p10_table() {
        var url = "@Url.Action("GetWorkTable", "Common")";
        var pids = $("#hidP10IDs").val();
        
        if (pids == "") {
            $("#divP10").html("");
            return;
        }
        $.post(url, { entity: "p10", tableid: "tabP10IDs", pids: pids, delete_function: "handle_delete_product" }, function (data) {
            $("#divP10").html(data);

        });
    }

    function handle_create_client_products() {


        if (confirm("Chcete zkopírovat Master produkty a jejich TPV do klientských produktů?") == true) {
            var url = "@Url.Action("CreateClientProducts", "p21")";
            $.post(url, { p21id:@Model.Rec.pid}, function (data) {
                alert(data.message);


            });
        }

    }
</script>






