@model p21RecordViewModel


@{
    ViewData["Title"] = "Licence";
    Layout = "~/Views/Shared/_Layout.cshtml";
    if (Model.Rec == null) return;

}

@addTagHelper *, UI

@using (Html.BeginForm())
{
    <h4>Licence</h4>
    @Html.EditorFor(m => m.Toolbar, "~/Views/Shared/_MyToolbar.cshtml")
    @Html.HiddenFor(m => m.Rec.pid)

    <div class="modal_record_container">

        <div class="form-row">
            <label class="col-sm-1 col-md-2 col-form-label">Název:</label>
            <div class="col-sm-8 col-md-7">
                <input class="form-control" asp-for="Rec.p21Name" />
                <span asp-validation-for="Rec.p21Name" class="text-danger"></span>
            </div>
            <div class="col-sm-3 col-md-3">
                <input class="form-control" asp-for="Rec.p21Code" placeholder="Kód" />
                <span asp-validation-for="Rec.p21Code" class="text-danger"></span>
            </div>
        </div>

        <div class="form-row" style="margin-top:10px;">
            <label class="col-sm-1 col-md-2 col-form-label">Klient:</label>
            <div class="col-sm-11 col-md-10">
                <input type="text" asp-for="Rec.p28ID" />
                <input type="text" asp-for="@Model.Rec.p28Name" />
                <vc:the-combo input="Model.TheComboP28ID"></vc:the-combo>
            </div>
        </div>


        <div class="form-row" style="margin-top:10px;">
            <label class="col-sm-1 col-md-2 col-form-label">Rozsah platnosti:</label>
            <div class="col-sm-3 col-md-3">
                @(Html.Kendo().DatePickerFor(m=>m.Rec.ValidFrom)
                    .Format("dd.MM.yyyy")


                 )


            </div>

            <div class="col-sm-3 col-md-3">
                @(Html.Kendo().DatePickerFor(m=>m.Rec.ValidUntil)
                    .Format("dd.MM.yyyy")

                 )
            </div>
            <label class="col-sm-1 col-md-1 col-form-label">Stav:</label>
            <div class="col-sm-4 col-md-3">

                <input type="text" asp-for="Rec.b02ID" />
                <input type="text" asp-for="@Model.Rec.b02Name" />
                <vc:the-combo input="Model.TheComboB02"></vc:the-combo>
            </div>
        </div>


        <div class="form-row">
            <textarea asp-for="Rec.p21Memo" class="form-control" placeholder="Podrobný popis"></textarea>
            <span asp-validation-for="Rec.p21Memo" class="text-danger"></span>
        </div>



    </div>

    

    <input type="hidden" id="hidP10IDs" asp-for="@Model.p10IDs" />



    @Html.EditorFor(m => m.ComboSelectP10ID, "~/Views/Shared/_MyCombo.cshtml")

}


<div id="divP10" style="margin-top:20px;"></div>
<h1 id="products">nazdar</h1>
<div>
    <button type="button" id="cmdCreateClientProducts" class="btn btn-primary py-0" style="display:none;" onclick="handle_create_client_products()">Zkopírovat produkty z licence do klientského katalogu</button>

</div>


<hr />

@(Html.Kendo().Window()
    .Name("window")
    .Title("Hovado jsem")
    .Content("loading user info...")
    .LoadContentFrom("Record", "p28")
    .Draggable()
    .Events(ev => ev.Close("onClose"))
    .Resizable()
    .Modal(false)
    .Visible(false)
    .Iframe(true)
    .Width(900)
    .Height(600)


)

<button type="button" id="undo">Click here to open the window.</button>

@(Html.Kendo().MultiColumnComboBox()
          .Name("products")
          .Placeholder("Klient...")
          .DataTextField("p28Name")
          .DataValueField("pid")
          .Columns(columns =>
          {
              columns.Add().Field("p28Name").Title("Název");
              columns.Add().Field("p28RegID").Title("IČ");
              columns.Add().Field("p28Street1").Title("Ulice");
              columns.Add().Field("p28City1").Title("Město");

          })
          .HtmlAttributes(new { style = "width:100%;" })
          .Filter(FilterType.Contains)
          .AutoBind(false)
          .MinLength(1)

          .DataSource(source =>
          {
              source.Read(read =>
              {

                  read.Action("GetData", "Common");
              })

              .ServerFiltering(true);
          })
    )


@Html.DisplayFor(m => m.Rec, "~/Views/Shared/_MyTimestamp.cshtml")




<script type="text/javascript">
    function onClose() {
        $("#undo").show();
    }

    $(document).ready(function () {
        $("#undo").click("click", function () {
            //$("#window").data("kendoWindow").loadcontentfrom("Record", "j02");

            $("#window").kendoWindow({
                content: {
                    url: "/j02/Record",
                    iframe:true
                }
            });
            $("#window").data("kendoWindow").open();
            $("#window").data("kendoWindow").center();

        });


        if ($("#hidP10IDs").val() != "") {
            $("#cmdCreateClientProducts").css("display", "block");
            refresh_p10_table();
        }

        $("#Rec_ValidFrom").on("focus", function () {
            $(this).data("kendoDatePicker").open();

        });
        $("#Rec_ValidUntil").on("focus", function () {
            $(this).data("kendoDatePicker").open();

        });


    });
    function handle_append_product(p10id) {
        var p10ids = [];
        if ($("#hidP10IDs").val() != "") p10ids = $("#hidP10IDs").val().split(",");
        if (p10ids.includes(p10id)) {
            _notify_message("Tento produkt je již v seznamu.", "info");
            return;
        }
        p10ids.push(p10id);
        $("#hidP10IDs").val(p10ids.join(","));
        refresh_p10_table();


        $("#cbxProduct_clear").click(); //kliknout na vyčistit


    }
    function handle_delete_product(p10id) {
        var p10ids = [];
        p10ids = $("#hidP10IDs").val().split(",");
        var x = p10ids.indexOf(p10id.toString());
        p10ids.splice(x, 1);

        $("#hidP10IDs").val(p10ids.join(","));
        refresh_p10_table();
        _toolbar_warn2save_changes();

    }

    function refresh_p10_table() {
        var url = "@Url.Action("GetWorkTable", "Common")";
        var pids = $("#hidP10IDs").val();

        if (pids == "") {
            $("#divP10").html("");
            return;
        }
        $.post(url, { entity: "p10", tableid: "tabP10IDs", pids: pids, delete_function: "handle_delete_product" }, function (data) {
            $("#divP10").html(data);

        });
    }

    function handle_create_client_products() {


        if (confirm("Chcete zkopírovat Master produkty a jejich TPV do klientských produktů?") == true) {
            var url = "@Url.Action("CreateClientProducts", "p21")";
            $.post(url, { p21id:@Model.Rec.pid}, function (data) {
                alert(data.message);


            });
        }

    }
</script>






