@model p52RecordViewModelcs

@{
    ViewData["Title"] = "Položka objednávky";
    Layout = "~/Views/Shared/_LayoutModal.cshtml";
    if (Model.Rec == null) return;
}

@addTagHelper *, UI


    <form id="form1" asp-controller="p52" asp-action="Record" method="POST">
        <h4>Položka objednávky [@Model.Rec.p52Code]</h4>

        @Html.EditorFor(m => m.Toolbar, "~/Views/Shared/_MyToolbar.cshtml")
        @Html.HiddenFor(m => m.Rec.pid)
       
        <input type="hidden" asp-for="Rec.p51ID" />

        <div class="modal_record_container">

            <div class="form-row">
                <label class="col-sm-1 col-md-2 col-form-label">Produkt:</label>
                <div class="col-sm-11 col-md-10">
                    <mycombo entity="p11ClientProduct" asp-for="Rec.p11ID" selectedtext="Rec.p11Name" event_after_changevalue="p11id_change"></mycombo>
                </div>
               
            </div>
            <div class="form-row my-2">
                <div class="col-sm-1 col-md-2"></div>
                <div class="col-sm-2 col-md-2">
                    @Model.Rec.p11Code
                </div>
                <div class="col-sm-6 col-md-6">
                    @Model.Rec.p11Name
                </div>
            </div>

            <div class="form-row" style="margin-top:10px;">
                <label class="col-sm-1 col-md-2 col-form-label">Množství:</label>
                <div class="col-sm-3 col-md-2">
                    <mynumber asp-for="Rec.p52UnitsCount" decimal-digits="2"></mynumber>
                </div>
                <div class="col-2">
                    <span id="p20Code">@Model.Rec.p20Code</span>
                    <span> x </span>
                    <span id="p11RecalcUnit2Kg">@Model.Rec.p11RecalcUnit2Kg</span>
                    <span>@Model.Rec.p20CodePro</span>
                </div>

                <div class="col-2">
                    <span> = </span>
                    <strong id="Recalc2Kg">@(BO.BAS.Number2String(Model.Rec.Recalc2Kg))</strong>
                    <span>@Model.Rec.p20CodePro</span>
                </div>
                @if (Model.Rec.p52Task_UnitsCount > 0)
                {
                    <div class="col-2">
                        <span>Již naplánováno:</span>
                        <strong class="text-primary">@(BO.BAS.Number2String(Model.Rec.p52Task_UnitsCount))</strong>

                    </div>
                }
            </div>
            <div class="form-row" style="margin-top:10px;">
                <label class="col-sm-1 col-md-2 col-form-label">Datum potřeby:</label>
                <div class="col-sm-3 col-md-3">
                    <mydate asp-for="Rec.p52DateNeeded" include-time="true"></mydate>
                </div>
            </div>
            @if (Model.RecP51 != null)
            {

                <div class="card" style="margin-top:10px;">
                    <div class="card-header">
                        Hlavička objednávky [@Model.RecP51.p51Code]
                        <a style="margin-left:20px;" href="/p51/Record?pid=@Model.Rec.p51ID">Upravit</a>
                    </div>
                    <div class="card-body">
                        @Html.DisplayFor(m => m.RecP51, "~/Views/Shared/_p51Info.cshtml")
                    </div>
                </div>
            }




        </div>
        
    </form>

@Html.DisplayFor(m => m.Rec, "~/Views/Shared/_MyTimestamp.cshtml")


<script type="text/javascript">
    function p11id_change(p11id) {
        form1.action = "/p52/Record?rec_oper=postback";
        form1.submit();

        
    }
    
    $("[for-id=Rec_p52UnitsCount]").blur(function () {
        
        form1.action = "/p52/Record?rec_oper=postback";
        form1.submit();
    });

    
</script>
