@inject BL.RunningApp _app
@{
    Layout = null;
    var _files = new List<string>();

    foreach (string file in System.IO.Directory.EnumerateFiles(_app.TempFolder, ViewBag.guid+"_*",System.IO.SearchOption.AllDirectories))
    {
        if (!file.EndsWith(".infox"))
        {
            _files.Add(System.IO.Path.GetFileName(file).Replace(ViewBag.guid + "_", ""));
        }


    }
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    
    <script src="~/js/site.js" asp-append-version="true"></script>

    <form method="post" id="frmUpload" enctype="multipart/form-data" asp-controller="o23" asp-action="DoUpload" asp-route-guid="@ViewBag.guid" asp-route-prefix="@ViewBag.prefix">
        
        <div class="form-group">
            <div>Nahrát jednu nebo více souborových příloh:</div>
            <input id="upload1" type="file" name="files" multiple />
        </div>
        <div class="form-group">
            <input type="submit" id="cmdUpload" class="btn btn-primary py-0" value="Nahrát na server" style="display:none;" />
        </div>

        <input type="hidden" id="Guid" name="Guid" />
    </form>

    <ul>
        @foreach (var s in _files)
        {
            <li>
            <a asp-action="FileDownloadTempFile" asp-controller="o23" asp-route-tempfilename="@(ViewBag.guid+"_"+@s)" asp-route-guid="@ViewBag.guid">@s</a>
            </li>
        }
    </ul>

    <script type="text/javascript">
        $(document).ready(function () {
            $("#upload1").change(function () {
                $("#cmdUpload").css("display", "block");
                $("#cmdUpload").click();
            });

            $("#Guid").val("@ViewBag.guid");

            @if (_files.Count > 0 && ViewBag.prefix=="o23")
            {
                <text>
            _notify_message("Nahrané přílohy (@_files.Count) uložíte k dokumentu až tlačítkem [Uložit změny]. ","info");
                </text>
            }
            
        });
    </script>
</body>
</html >
