@model o23RecordViewModel
@inject BL.Factory _f
 
@{
    ViewData["Title"] = "Dokument";
    Layout = "~/Views/Shared/_LayoutModal.cshtml";
    if (Model.Rec == null) return;
    string _displayMore = "none";
    if (Model.Rec.o12ID > 0 || Model.Rec.o23Memo != null)
    {
        _displayMore = "block";
    }


}
@addTagHelper *, UI

    <form id="form1" asp-controller="o23" asp-action="Record" method="POST">
        <h4>Dokument</h4>
        @Html.EditorFor(m => m.Toolbar, "~/Views/Shared/_MyToolbar.cshtml")
        @Html.HiddenFor(m => m.Rec.pid)


        <div class="modal_record_container">
            <div class="form-row">
                <label class="col-sm-1 col-md-2 col-form-label">Název dokumentu:</label>
                <div class="col-sm-11 col-md-10">
                    <input class="form-control" asp-for="Rec.o23Name" />
                    <span asp-validation-for="Rec.o23Name" class="text-danger"></span>
                </div>
            </div>

            <div class="form-row">
                <label class="col-sm-1 col-md-2 col-form-label">Vazba:</label>
                <div class="col-sm-11 col-md-10">
                    @if (_f.CurrentUser.j03EnvironmentFlag == 1)
                    {
                    <select asp-for="Rec.o23Entity" class="form-control" style="background-color:khaki;">
                        <option value="p28Company">Klient | Subjekt</option>
                        <option value="p26Msz">Stroj | MSZ</option>
                        <option value="p10MasterProduct">Master produkt</option>
                        <option value="p13MasterTpv">Master receptura</option>
                        <option value="p21License">Licence</option>
                        <option value="j02Person">Osoba | Uživatel</option>
                        <option value="p51Order">Objednávka</option>
                        <option value="p41Task">Výrobní zakázka</option>
                    </select>
                    }
                    else
                    {
                <select asp-for="Rec.o23Entity" class="form-control" style="background-color:khaki;">
                    <option value="p41Task">Výrobní zakázka</option>
                    <option value="p51Order">Objednávka</option>
                    <option value="p28Company">Klient | Subjekt</option>
                    <option value="p26Msz">Stroj | MSZ</option>
                    <option value="p11ClientProduct">Klientský produkt</option>
                    <option value="p12ClientTpv">Klientská receptura</option>
                    <option value="p21License">Licence</option>
                    <option value="j02Person">Osoba | Uživatel</option>

                </select>
                    }

                    <span asp-validation-for="Rec.o23Entity" class="text-danger"></span>
                </div>
            </div>
            <div class="form-row">
                <label class="col-sm-1 col-md-2 col-form-label">Svázaný záznam:</label>
                <div class="col-sm-11 col-md-10">
                    <mycombo entity="@Model.Rec.o23Entity" asp-for="Rec.o23RecordPid" selectedtext="Rec.RecordPidAlias"></mycombo>

                </div>
            </div>




            <button id="cmdMore" type="button" class="btn btn-light" style="width:100px;">
                <i class="fas fa-caret-down"></i>
                Více
            </button>
            <div id="divMore" style="display:@_displayMore;">
                <div class="form-row" style="margin-top:10px;">
                    <label class="col-sm-1 col-md-2 col-form-label">Kategorie:</label>
                    <div class="col-sm-11 col-md-10">
                        <mycombo entity="o12Category" asp-for="Rec.o12ID" selectedtext="Rec.o12Name" param1="o23"></mycombo>
                    </div>
                </div>
                <div class="form-row" style="margin-top:10px;">
                    <label class="col-sm-1 col-md-2 col-form-label">Datum:</label>
                    <div class="col-sm-4 col-md-4">
                        <mydate asp-for="Rec.o23Date" include-time="true"></mydate>
                    </div>
                </div>
                <div class="form-row" style="margin-top:10px;">
                    <label class="col-sm-1 col-md-2 col-form-label">Aktuální stav:</label>
                    <div class="col-sm-11 col-md-10">
                        <mycombo entity="b02Status" asp-for="Rec.b02ID" selectedtext="Rec.b02Name" param1="o23"></mycombo>
                    </div>
                </div>
                <div class="form-row">
                    <label class="col-sm-1 col-md-2 col-form-label">Kód:</label>
                    <div class="col-sm-4 col-md-4">
                        <input class="form-control" asp-for="Rec.o23Code" />
                        <span asp-validation-for="Rec.o23Code" class="text-danger"></span>
                    </div>
                </div>
                
                <div class="form-row">
                    <label class="col-sm-1 col-md-2 col-form-label">Vlastník záznamu:</label>
                    <div class="col-sm-11 col-md-10">
                        <mycombo entity="j02Person" asp-for="Rec.j02ID_Owner" selectedtext="Rec.RecordOwner"></mycombo>
                    </div>
                </div>


                <div class="form-row">
                    <textarea asp-for="Rec.o23Memo" class="form-control" placeholder="Podrobný popis" style="height:150px;"></textarea>
                    <span asp-validation-for="Rec.o23Memo" class="text-danger"></span>
                </div>
            </div>
            @if (Model.lisO27 != null)
            {
                <div class="card" style="margin-top:10px;">
                    <div class="card-header">
                        Přílohy/soubory k dokumentu
                    </div>
                    <div class="card-body">
                        <table class="table table-sm table-hover">

                            @foreach (var c in Model.lisO27)
                            {
                                <text>
                                    <tr id="@("tr"+@c.pid)">
                                        <td style="width:30px;">
                                            <a title="Stáhnout" asp-action="FileDownload" asp-route-guid="@c.o27GUID"><i class="fas fa-download"></i></a>
                                        </td>
                                        <td style="width:60px;">
                                            <small>@BO.BAS.FormatFileSize(c.o27FileSize)</small>
                                        </td>
                                        <td>
                                            <a title="Stáhnout a otevřít v přidružené aplikaci" asp-action="FileDownloadInline" target="_blank" asp-route-guid="@c.o27GUID">@c.o27Name</a>
                                        </td>
                                        <td>
                                            <button type="button" class="btn btn-sm" onclick="remove(@c.pid)" title="Odstranit soubor z dokumentu"><i class="fas fa-trash-alt"></i></button>
                                        </td>
                                    </tr>
                                </text>

                            }

                        </table>
                    </div>
                </div>
            }



        </div>

        <input type="hidden" asp-for="Guid" />
        <input type="hidden" asp-for="o27IDs4Delete" />
    </form>

       

        <hr />
        <iframe id="fraUpload" src="/o23/DoUpload?guid=@Model.Guid" frameborder="0" height="200"></iframe>


        @Html.DisplayFor(m => m.Rec, "~/Views/Shared/_MyTimestamp.cshtml")


        <script type="text/javascript">
            $("#Rec_o23Entity").on("change", function () {
                var url = "@Url.Action("Record","o23", new {change_entity_only=true})";
                form1.action = url;
                
                form1.submit();

            });

            $("#fraUpload").width(window.innerWidth - 50);
            $("#cmdMore").click(function () {
                $("#divMore").slideToggle();
            });

            function start_upload() {
                $("#frmUpload").submit();

            }
            function remove(o27id) {
                if ($("#o27IDs4Delete").val() != "") {
                    $("#o27IDs4Delete").val($("#o27IDs4Delete").val() + "," + o27id);
                } else {
                    $("#o27IDs4Delete").val(o27id);
                }
                $("#tr" + o27id).css("display", "none");
                _toolbar_warn2save_changes();

            }
        </script>
