@model FileUploadSingleViewModel
@inject BL.Factory _f

@{

    Layout = "~/Views/Shared/_LayoutSubform.cshtml";
}


@addTagHelper *, UI


<div class="modal_record_container">

    <div>

        <form method="post" id="frmUpload" enctype="multipart/form-data" asp-controller="o23" asp-action="SingleUpload">

            <input type="hidden" asp-for="@Model.Guid" />
            <input type="hidden" asp-for="@Model.TempFileName" />
            <input type="hidden" asp-for="@Model.OrigFileName" />

            <input id="upload1" type="file" name="files" />

            <input type="submit" id="cmdUpload" class="btn btn-primary" value="Nahrát přílohu na server" style="display:none;" />


        </form>
    </div>
    <div>
        @if (Model.TempFileName !=null)
        {

            <code>Nahraná příloha, která čeká na uložení:</code>

            <div style="margin-top:20px;">
                <a target="_blank" asp-action="FileDownloadTempFile" asp-controller="o23" asp-route-tempfilename="@Model.TempFileName">@Model.OrigFileName</a>
            </div>



        }

    </div>






</div>

<script type="text/javascript">
    $(document).ready(function () {
        $("#upload1").change(function () {
            $("#cmdUpload").css("display", "inline");
            //$("#cmdUpload").click();
        });





    });





</script>
