@model x31RecordViewModel

@{
    ViewData["Title"] = "Tisková sestava";
    Layout = "~/Views/Shared/_LayoutModal.cshtml";
    if (Model.Rec == null) return;
}

@addTagHelper *, UI


<form id="form1" asp-controller="x31" asp-action="Record" method="POST">
    <input type="hidden" asp-for="@Model.UploadGuid" />
    <h4>Tisková sestava</h4>
    @Html.EditorFor(m => m.Toolbar, "~/Views/Shared/_MyToolbar.cshtml")
    @Html.HiddenFor(m => m.Rec.pid)

<div class="modal_record_container">

    <div class="form-row">
        <label class="col-sm-1 col-md-2 col-form-label">Název:</label>
        <div class="col-sm-8 col-md-7">
            <input class="form-control" asp-for="Rec.x31Name" />

        </div>
        <div class="col-sm-3 col-md-3">
            <input class="form-control" asp-for="Rec.x31Code" />

        </div>
    </div>

    <div class="form-row my-2">
        <label class="col-sm-1 col-md-2 col-form-label">Formát:</label>
        <div class="col-sm-3 col-md-3">
            <select id="x31ReportFormat" asp-for="Rec.x31ReportFormat" class="form-control">
                <option value="Telerik">TELERIK</option>

            </select>
        </div>


    </div>
    <div class="form-row my-2">
        <div>
            <input type="checkbox" asp-for="Rec.x31Is4SingleRecord" onchange="handle_x31Is4SingleRecord_change()" />
            <label class="col-form-label" for="Rec_x31Is4SingleRecord">Sestava pro účely zobrazení jednoho vybraného záznamu</label>
        </div>
        
    </div>
    <div class="form-row my-2">
        <label class="col-sm-1 col-md-2 col-form-label">Entita:</label>
        <div class="col-sm-11 col-md-10">
            <select asp-for="Rec.x31Entity" class="form-control">
                <option value="p51Order">Objednávka (p51)</option>
                <option value="p41Task">Výrobní zakázka (p41)</option>
                <option value="p44TaskOperPlan">Plán výrobních operací (p44)</option>
                <option value="p11ClientProduct">Produkt (p11)</option>
                <option value="p28Company">Klient (p28)</option>
            </select>
        </div>
    </div>


    <div class="form-row my-2">
        <textarea asp-for="Rec.x31Description" class="form-control" placeholder="Podrobný popis"></textarea>
        <span asp-validation-for="Rec.x31Description" class="text-danger"></span>
    </div>
    @if (Model.Rec.x31FileName != null)
    {
        <div class="form-row my-2">
            <label class="col-sm-1 col-md-2 col-form-label">Soubor report šablony:</label>
            <div class="col-sm-10 col-md-10">
                <a target="_blank" href="/o23/FileDownloadReport?filename=@Model.Rec.x31FileName">@Model.Rec.x31FileName</a>
            </div>
        </div>

    }


    <hr />



    <iframe id="fraUpload" src="/o23/SingleUpload?guid=@Model.UploadGuid" height="350" scrolling="no"></iframe>



</div>


</form>

@Html.DisplayFor(m => m.Rec, "~/Views/Shared/_MyTimestamp.cshtml")

<script type="text/javascript">

    function handle_x31Is4SingleRecord_change() {
        form1.action = "/x31/Record?oper=postback";
        form1.submit();

    }
</script>