@model ReportContextViewModel
@inject BL.Factory _f

@{
    Layout = null;
}
@addTagHelper *, UI


<!DOCTYPE html>

<html lang="cs" style="@_f.CurrentUser.getFontStyle()">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Tisková sestava</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link href="~/lib/datepicker/bootstrap-datepicker.min.css" rel="stylesheet" type="text/css" />
    <link href="~/lib/qtip/jquery.qtip.css" rel="stylesheet" type="text/css" />

    <link rel="stylesheet" href="~/css/site.css" />

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/lib/modal_bootstrap/bootstrap-show-modal.js"></script>

    <script src="~/lib/datepicker/bootstrap-datepicker.min.js"></script>
    <script src="~/lib/datepicker/bootstrap-datepicker.cs.min.js"></script>
    <script src="~/lib/qtip/jquery.qtip.min.js"></script>

    <script src="/js/reporting/resources.en.js"></script>
    <script src="/js/reporting/resources.cs.js"></script>

    <link href="https://kendo.cdn.telerik.com/2020.1.114/styles/kendo.common.min.css" rel="stylesheet" />
    <link href="https://kendo.cdn.telerik.com/2020.1.114/styles/kendo.blueopal.min.css" rel="stylesheet" />

    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/js/mycombo.js" asp-append-version="true"></script>

    <script src="~/js/contextmenu.js" asp-append-version="true"></script>
    <script src="~/js/mycontrols.js" asp-append-version="true"></script>

    <script src="/api/reports/resources/js/telerikReportViewer"></script>

    <style>
        #reportViewer1 {
            position: absolute;
            left: 5px;
            right: 5px;
            top: 50px;
            bottom: 5px;
            overflow: hidden;
            font-family: Verdana, Arial;
        }
    </style>
</head>

<body>
    @if (Model.RecX31 != null && Model.RecX31.x31ReportFormat == BO.x31ReportFormatEnum.Telerik)
    {
        <div id="reportViewer1">

            loading...

        </div>
    }


    <script type="text/javascript">
        @if(Model.Javascript_CallOnLoad != null)
    {
        @Html.Raw(Model.Javascript_CallOnLoad);


    }
    </script>


    <form id="form1" asp-controller="x31" asp-action="ReportContext" method="POST">
        <input type="hidden" asp-for="@Model.rec_prefix" />
        <input type="hidden" asp-for="@Model.rec_pid" />
        <input type="hidden" asp-for="@Model.UserParamKey" />
        <input type="hidden" asp-for="@Model.GeneratedTempFileName" />

        <div class="modal_record_container">
            <div class="form-row">
                <label class="col-sm-1 col-md-2 col-form-label">Tisková sestava:</label>
                <div class="col-sm-10 col-md-9">

                    <mycombo entity="x31Report" asp-for="@Model.SelectedX31ID" selectedtext="@Model.SelectedReport" view-flag="2" param1="x31Is4SingleRecord=1" event_after_changevalue="x31id_change"></mycombo>
                </div>
                <div class="col-sm-1 col-md-1 btn-group">
                    <button id="cmdClose" type="button" onclick="window.parent._window_close()" class="btn btn-secondary">Zavřít</button>
                    
                </div>

            </div>
            @if (Model.RecX31 != null && Model.RecX31.x31ReportFormat == BO.x31ReportFormatEnum.DOC)
            {
                <button type="button" class="btn btn-primary" onclick="generate_docx()">Vygenerovat dokument</button>
            }
            @if (string.IsNullOrEmpty(Model.GeneratedTempFileName)==false)
            {
                <a type="button" class="btn btn-success" href="/FileUpload/FileDownloadTempFile?tempfilename=@Model.GeneratedTempFileName" target="_blank">Stáhnout vygenerovaný dokument</a>
            }
        </div>

    </form>

    <script type="text/javascript">


    $(document).ready(function ()
    {
       @if(Model.RecX31 !=null && Model.RecX31.x31ReportFormat==BO.x31ReportFormatEnum.Telerik)
       {
           <text>
        $("#reportViewer1")
            .telerik_ReportViewer(
                {
                serviceUrl: "/api/reports/",
                reportSource: {
                    report: "@(Model.RecX31.x31FileName+"###"+_f.CurrentUser.j03Login)",
                    parameters: { pid: @Model.rec_pid }
                },
                viewMode: telerikReportViewer.ViewModes.INTERACTIVE,
                scaleMode: telerikReportViewer.ScaleModes.SPECIFIC,
                scale: 1.0,
                enableAccessibility: false,
                sendEmail: { enabled: false }
                }
            );

            </text>
       }





        @if (_f.CurrentUser.Messages4Notify != null) {
            @foreach (var c in _f.CurrentUser.Messages4Notify) {  // <----  placed on the same line, WORKING !!!
            <text>
            _notify_message("@c.Value","@c.Key");
            </text>
             }
        }



    });



        function x31id_change(x31id) {
            form1.action = "/x31/ReportContext?oper=change_x31id";
            form1.submit();
        }

        function generate_docx() {
            form1.action = "/x31/ReportContext?oper=generate_docx";
            form1.submit();
        }

    </script>


</body>
</html>

