@model TheGridInstanceViewModel

@{
    ViewData["Title"] = "Grid";
    Layout = "~/Views/Shared/_Layout.cshtml";

    if (Model.entity == null)
    {
        return;
    }
}


@addTagHelper *,UI

    
<vc:the-grid entity="@Model.entity" j72id="0" go2pid="@Model.go2pid"></vc:the-grid>

<div id="divContextMenuStatic" style="display:none;">
    <ul style="border:0px;">
        <li>
            <a href="javascript: _edit('@Model.prefix',#pid#)">Upravit/Odstranit/Archivovat</a>
        </li>
        <li>
            <a href="javascript: _clone('@Model.prefix',#pid#)">Kopírovat</a>
        </li>
        <li>
            <hr />
        </li>
        <li>
            <a href="javascript: _preview('@Model.prefix',#pid#)">Náhled</a>
        </li>
    </ul>
</div>



@section Scripts{ 

    <script type="text/javascript">
    $(document.body).css("overflow", "hidden");

    $(document).ready(function () {

        _mainmenu_select("@Model.prefix","grid1");
        

    });

        

    </script>

}

