@model TheGridInstanceViewModel

@{

    Layout = "~/Views/Shared/_LayoutSubform.cshtml";

    if (Model.entity == null || Model.master_pid==0)
    {
        return;
    }

}

@addTagHelper *,UI

<vc:the-grid entity="@Model.entity" j72id="0" go2pid="@Model.go2pid" master_entity="@Model.master_entity" master_pid="@Model.master_pid" contextmenuflag="@Model.contextmenuflag" ondblclick="@Model.dblclick"></vc:the-grid>

<div id="divContextMenuStatic" style="display:none;">
    <ul style="border:0px;">
        <li>
            <a href="javascript: _edit('@Model.prefix',#pid#)">Upravit/Archivovat/Odstranit</a>
        </li>
        <li>
            <a href="javascript: _clone('@Model.prefix',#pid#)">Kopírovat</a>
        </li>
        <li>
            <hr />
        </li>
        <li>
            <a href="javascript: _preview('@Model.prefix',#pid#)">Náhled</a>
        </li>
    </ul>
</div>

@section Scripts{

    <script type="text/javascript">
  
    $(document).ready(function () {

        


    });



        /*automaticky volaná událost z thegrid controlu*/
        function thegrid_handle_event(event_name, pid) {
            
        }


    </script>

}

