@model p51PreviewViewModel
@{
    ViewData["Title"] = "Objednávka";
    Layout = "~/Views/Shared/_LayoutSubform.cshtml";
    if (Model.Rec == null) return;
}

    <div class="modal_record_container">

        @Html.HiddenFor(m => m.Rec.pid)

        @Html.DisplayFor(m => m.Rec, "~/Views/Shared/_p51Info.cshtml")

        <button class="btn btn-primary" type="button" onclick="p52_record_new()">Přidat položku</button>
        <table class="table table-hover">

            @foreach (var c in Model.OrderItems)
            {
            <tr>
                <td>
                    <a title="Upravit/Odstranit" href="javascript:p52_record(@c.pid)">@c.p52Code</a>

                </td>
                <td>
                    @c.p11Code
                </td>
                <td>
                    <small>@c.p11Name</small>
                </td>
                <td class="text-right">
                    @(BO.BAS.Number2String(c.p52UnitsCount))
                </td>
                <td class="text-right text-primary" title="Již naplánováno">
                    @(BO.BAS.Number2String(c.p52Task_UnitsCount))
                </td>
                <td class="text-success text-right" title="Zbývá naplánovat">
                    @if (c.p52Task_UnitsCount > 0)
                    {
                        @(BO.BAS.Number2String(c.p52UnitsCount-c.p52Task_UnitsCount))
                    }

                </td>
                <td>
                    @c.p20Code
                </td>
                <td style="text-align:right;">
                    ->
                    @(BO.BAS.Number2String(c.Recalc2Kg))
                    kg
                </td>
                <td class="text-primary text-right" title="Již naplánováno kg">
                    @(BO.BAS.Number2String(c.p52Task_Kg)+"kg")

                </td>
                <td class="text-success text-right" title="Zbývá naplánovat kg">
                    @(BO.BAS.Number2String(c.Recalc2Kg - c.p52Task_Kg)+"kg")

                </td>
            </tr>
            }
        </table>

    </div>

@if (Model.Rec.p51Memo != null)
{
    <hr />

    <pre>@Html.DisplayFor(m => m.Rec.p51Memo, new { @class = "form-control" });</pre>


}

@Html.DisplayFor(m => m.Rec, "~/Views/Shared/_MyTimestamp.cshtml")


<script type="text/javascript">
    function p52_record(p52id) {
        _window_open("/p52/Record?pid="+p52id)
    }
    function p52_record_new() {
        _window_open("/p52/Record?p51id=@Model.Rec.pid&pid=0")
    }
</script>

