@model TagsBatch

@{
    ViewData["Title"] = "Oštítkovat hromadně";
    Layout = "~/Views/Shared/_LayoutModal.cshtml";
}


@addTagHelper *,UI




    <form id="form1" asp-controller="o51" asp-action="Batch" method="POST">

        <div class="bg-light" style="padding:10px;">
            <button type="submit" class="btn btn-success" asp-route-oper="append">Záznamům přidat vybrané štítky</button>

            <button type="submit" class="btn btn-primary" asp-route-oper="replace">V záznamech nahradit štítky vybranými</button>

            <button type="submit" class="btn btn-warning" asp-route-oper="remove">V záznamech vyjmout vybrané štítky</button>

            <button type="submit" class="btn btn-danger" asp-route-oper="clear">V záznamech vyčistit štítky</button>

            <button type="button" onclick="_window_close()" class="btn btn-light">Zavřít</button>



        </div>

        <mycheckboxlist asp-for="@Model.SelectedO51IDs" textfield="HtmlText" valuefield="pid" groupfield="o53Name" datasource="@Model.ApplicableTags"></mycheckboxlist>


        <input type="hidden" asp-for="@Model.Record_Entity" />
        <input type="hidden" asp-for="@Model.Record_Pids" />
        <input type="hidden" asp-for="@Model.j72ID" />


    </form>


    




