@model UI.Models.TheGridViewModel
@{

   var _cols = Model.Columns;
}
<div id="container_grid">
    <table id="tabgrid0" class="tabgrid_auto">
        <thead id="tabgrid1_thead">
            <tr id="tr_header_headline">
                <th class="th0" style="width:20px;">
                    <input type="checkbox" id="tg_chkAll" onchange="tg_select_all(this)" style="cursor: pointer;" />
                </th>
                <th class="th0" style="width:20px;">

                </th>
                <th class="th0" style="width:20px;">

                </th>
                @{
                    string strClass = "";
                    string strStyle = "";

                }
                @foreach (var c in Model.Columns)
                {
                    strStyle = "width:" + c.ColumnWidthPixels;
                    if (Model.GridState.j72SortDataField == c.UniqueName)
                    {
                        strStyle += ";background-color:silver;";
                        if (Model.GridState.j72SortOrder == "desc")
                        {
                            c.Header += "&#8595";
                        }
                        else
                        {
                            c.Header += "&#8593;";
                        }


                    }
                    if (c.IsSortable)
                    {
                        strClass = "class='sortcolumn'";
                    }
                    else
                    {
                        strClass = "nonsortable";
                    }


                    <th class="@strClass" id="th_@c.Field" title="@c.Header" columntypename="@c.FieldType" style="@strStyle">@c.Header</th>
                }

            </tr>
          

        </thead>
    </table>
    <div id="container_vScroll">
        <table id="tabrid1" class="tabgrid_auto">
            <tbody id="tabrid1_tbody"></tbody>

            
        </table>
    </div>
</div>


<script type="text/javascript">
    $(document).ready(function () {
        var _entity = "@Model.Entity";
        var _url = "@Url.Action("GetHtml4TheGrid", "TheGrid")";
        var _j72id = "@Model.GridState.j72ID";

        $.post(_url, { entity: _entity,j72id:_j72id }, function (data) {
            
            $("#tabrid1_tbody").html(data);

           


        });

    });
</script>