@model p10PreviewViewModel
@{
    ViewData["Title"] = "Master produkt";
    Layout = "~/Views/Shared/_LayoutSubform.cshtml";
    if (Model.Rec == null) return;
}


    <div class="modal_record_container">

        <div class="form-row">
            <label class="col-sm-1 col-md-2 col-form-label">Název:</label>
            <div class="col-sm-9 col-md-8">
                
                <span class="form-control bg-light">@(Model.Rec.p10Name)</span>
            </div>
            <div class="col-sm-2 col-md-2">
                <span class="form-control bg-light">@(Model.Rec.p10Code)</span>

            </div>
        </div>

        <div class="form-row" style="margin-top:10px;">
            <label class="col-sm-1 col-md-2 col-form-label">Receptura:</label>
            <div class="col-sm-9 col-md-8">
                <span class="form-control bg-light">@(Model.Rec.p13Name)</span>
            </div>
            <div class="col-sm-2 col-md-2">
                <span class="form-control bg-light">@(Model.Rec.p13Code)</span>

            </div>
        </div>
        <div class="form-row" style="margin-top:10px;">
            <label class="col-sm-1 col-md-2 col-form-label">Aktuální stav:</label>
            <div class="col-sm-11 col-md-10">
                <span class="form-control bg-light">@(Model.Rec.b02Name)</span>
            </div>
        </div>
        <div class="form-row" style="margin-top:10px;">
            <label class="col-sm-1 col-md-2 col-form-label">Kategorie/Skupina:</label>
            <div class="col-sm-11 col-md-10">
                <span class="form-control bg-light">@(Model.Rec.o12Name)</span>
            </div>
        </div>
        @if (Model.Rec.p10SwLicenseFlag > 0)
        {
            <div class="form-row" style="margin-top:10px;">
                <label class="col-sm-1 col-md-2 col-form-label">Kód SW licence:</label>
                <div class="col-sm-11 col-md-10">
                    <span class="form-control bg-light">@(Model.Rec.p10SwLicenseFlag)</span>
                </div>
            </div>
        }



    </div>
@if (Model.Rec.p10Memo != null)
{
    <hr />

    <pre>@Html.DisplayFor(m => m.Rec.p10Memo, new { @class = "form-control" });</pre>


}

@Html.DisplayFor(m => m.Rec, "~/Views/Shared/_MyTimestamp.cshtml")


<script type="text/javascript">
    $(document).ready(function () {


    });
</script>

