@model p10RecordViewModel

@{
    ViewData["Title"] = "Master produkt";
    Layout = "~/Views/Shared/_LayoutModal.cshtml";
    if (Model.Rec == null) return;
}

@addTagHelper *, UI

<h4>Produkt [Master]</h4>
@using (Html.BeginForm())
{

    @Html.EditorFor(m => m.Toolbar, "~/Views/Shared/_MyToolbar.cshtml")
    @Html.HiddenFor(m => m.Rec.pid)

<div class="modal_record_container">

    <div class="form-row">
        <label class="col-sm-1 col-md-2 col-form-label">Název:</label>
        <div class="col-sm-9 col-md-8">
            <input class="form-control" asp-for="Rec.p10Name" />
            <span asp-validation-for="Rec.p10Name" class="text-danger"></span>
        </div>
        <div class="col-sm-2 col-md-2">
            <input class="form-control" asp-for="Rec.p10Code" placeholder="Kód" />
            <span asp-validation-for="Rec.p10Code" class="text-danger"></span>
        </div>
    </div>

    <div class="form-row" style="margin-top:10px;">
        <label class="col-sm-1 col-md-2 col-form-label">Aktuální stav:</label>
        <div class="col-sm-11 col-md-10">
            <mycombo entity="b02Status" asp-for="Rec.b02ID" selectedtext="Rec.b02Name" param1="p10"></mycombo>
        </div>
    </div>
    <div class="form-row" style="margin-top:10px;">
        <label class="col-sm-1 col-md-2 col-form-label">Receptura:</label>
        <div class="col-sm-11 col-md-10">
            <mycombo entity="p13MasterTpv" asp-for="Rec.p13ID" selectedtext="Rec.p13Name"></mycombo>
        </div>
    </div>
    <div class="form-row" style="margin-top:10px;">
        <label class="col-sm-1 col-md-2 col-form-label">Měrná jednotka (MJ):</label>
        <div class="col-sm-3 col-md-3">
            <mycombo entity="p20Unit" asp-for="Rec.p20ID" selectedtext="Rec.p20Code" view-flag="2"></mycombo>
        </div>
        <label class="col-sm-1 col-md-2 col-form-label">Přepočet MJ na KG:</label>
        <div class="col-sm-2 col-md-2">
            <mynumber asp-for="Rec.p10RecalcUnit2Kg" decimal-digits="3"></mynumber>
        </div>


    </div>



    <mystitky entity="p10MasterProduct" asp-for="@Model.TagPids" tagnames="@Model.TagNames" taghtml="@Model.TagHtml"></mystitky>


    <div class="form-row">
        <textarea asp-for="Rec.p10Memo" class="form-control" placeholder="Podrobný popis"></textarea>
        <span asp-validation-for="Rec.p10Memo" class="text-danger"></span>
    </div>

    <div class="form-row" style="margin-top:10px;">
        <label class="col-sm-2 col-md-3 col-form-label">Produkt slouží pro řízení uživatelské SW licence:</label>
        <div class="col-sm-10 col-md-9">
            <select class="form-control" asp-for="Rec.p10SwLicenseFlag">
                <option value="0"></option>
                <option value="1">SW režim 1 [1]</option>
                <option value="2">SW režim 1 [2]</option>

            </select>
        </div>
    </div>



</div>
}

@Html.DisplayFor(m => m.Rec, "~/Views/Shared/_MyTimestamp.cshtml")



