@model p10RecordViewModel

@{
    ViewData["Title"] = "Master produkt";
    Layout = "~/Views/Shared/_LayoutModal.cshtml";
    if (Model.Rec == null) return;
}

@addTagHelper *, UI

<h4>Produkt [Master]</h4>
@using (Html.BeginForm())
{

    @Html.EditorFor(m => m.Toolbar, "~/Views/Shared/_MyToolbar.cshtml")
    @Html.HiddenFor(m => m.Rec.pid)

<div class="modal_record_container">

    <div class="form-row">
        <label class="col-sm-1 col-md-2 col-form-label">Název:</label>
        <div class="col-sm-9 col-md-8">
            <input class="form-control" asp-for="Rec.p10Name" />
            <span asp-validation-for="Rec.p10Name" class="text-danger"></span>
        </div>
        <div class="col-sm-2 col-md-2">
            <input class="form-control" asp-for="Rec.p10Code" placeholder="Kód" />
            <span asp-validation-for="Rec.p10Code" class="text-danger"></span>
        </div>
    </div>


    <div class="form-row" style="margin-top:10px;">
        <label class="col-sm-1 col-md-2 col-form-label">Typ produktu:</label>
        <div class="col-sm-4 col-md-4">
            <select asp-for="Rec.p10TypeFlag" class="form-control">
                <option value="Zbozi">Zboží (1)</option>
                <option value="Polotovar">Polotovar (2)</option>
                <option value="Vyrobek">Výrobek (3)</option>
                <option value="Surovina">Surovina (4)</option>
                <option value="Obal">Balící materiál (5)</option>
                <option value="Etiketa">Etiketa (6)</option>

            </select>


        </div>
        <label class="col-sm-1 col-md-1 col-form-label">Aktuální stav:</label>
        <div class="col-sm-6 col-md-5">
            <mycombo entity="b02Status" asp-for="Rec.b02ID" selectedtext="Rec.b02Name" param1="p10"></mycombo>
        </div>
    </div>
    <div class="form-row" style="margin-top:10px;">
        <label class="col-sm-1 col-md-2 col-form-label">Receptura:</label>
        <div class="col-sm-11 col-md-10">
            <mycombo entity="p13MasterTpv" asp-for="Rec.p13ID" selectedtext="Rec.p13Name"></mycombo>
        </div>
    </div>
    <div class="form-row" style="margin-top:10px;">
        <label class="col-sm-1 col-md-2 col-form-label">Měrná jednotka (MJ):</label>
        <div class="col-sm-3 col-md-3">
            <mycombo entity="p20Unit" asp-for="Rec.p20ID" selectedtext="Rec.p20Code" view-flag="2"></mycombo>
        </div>
        <label class="col-sm-1 col-md-2 col-form-label">Přepočet MJ na VJ:</label>
        <div class="col-sm-2 col-md-2">
            <mynumber asp-for="Rec.p10RecalcUnit2Kg" decimal-digits="3"></mynumber>
        </div>


    </div>
    <div class="form-row" style="margin-top:10px;">
        <label class="col-sm-1 col-md-2 col-form-label">Výrobní měrná jednotka (VJ):</label>
        <div class="col-sm-3 col-md-3">
            <mycombo entity="p20Unit" asp-for="Rec.p20ID_Pro" selectedtext="Rec.p20CodePro" view-flag="2"></mycombo>
        </div>
        <label class="col-sm-1 col-md-1 col-form-label">Kód obalu:</label>
        <div class="col-sm-2 col-md-2">
            <input class="form-control" asp-for="Rec.p10PackagingCode" />
            <span asp-validation-for="Rec.p10PackagingCode" class="text-danger"></span>
        </div>


    </div>
    <div class="form-row" style="margin-top:10px;">
        <label class="col-sm-1 col-md-2 col-form-label">Měsíční prodej:</label>
        <div class="col-sm-3 col-md-3">
            <mynumber asp-for="Rec.p10SalesPerMonth" decimal-digits="0"></mynumber>
        </div>
        <label class="col-sm-1 col-md-1 col-form-label">Paleta ks:</label>
        <div class="col-sm-2 col-md-2">
            <mynumber asp-for="Rec.p10UnitsPerPalette" decimal-digits="0"></mynumber>
        </div>
    </div>
    <div class="card">
        <div class="card-header">Dávka</div>
        <div class="card-body py-1">
            <div class="form-row" style="margin-top:10px;">
                <label class="col-sm-1 col-md-2 col-form-label">Výrobní dávka:</label>
                <div class="col-sm-2 col-md-2">
                    <mynumber asp-for="Rec.p10Davka" decimal-digits="0"></mynumber>
                </div>
                <label class="col-sm-1 col-md-1 col-form-label">Min.:</label>
                <div class="col-sm-2 col-md-2">
                    <mynumber asp-for="Rec.p10DavkaMin" decimal-digits="0"></mynumber>
                </div>
                <label class="col-sm-1 col-md-1 col-form-label">Max.:</label>
                <div class="col-sm-2 col-md-2">
                    <mynumber asp-for="Rec.p10DavkaMax" decimal-digits="0"></mynumber>
                </div>

            </div>
        </div>
    </div>



    <mystitky entity="p10MasterProduct" asp-for="@Model.TagPids" tagnames="@Model.TagNames" taghtml="@Model.TagHtml"></mystitky>


    <div class="form-row">
        <textarea asp-for="Rec.p10Memo" class="form-control" placeholder="Podrobný popis"></textarea>
        <span asp-validation-for="Rec.p10Memo" class="text-danger"></span>
    </div>





</div>
}

@Html.DisplayFor(m => m.Rec, "~/Views/Shared/_MyTimestamp.cshtml")



