@model j02PreviewViewModel
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_LayoutModal.cshtml";
    if (Model.Rec == null) return;

    var _fullname = Model.Rec.j02FirstName + " " + Model.Rec.j02LastName;
}



@Html.HiddenFor(m => m.Rec.pid)
    
    <div class="modal_record_container">


        <div class="form-row">
            <label class="col-sm-1 col-md-2 col-form-label">Jméno:</label>
            <div class="col-sm-11 col-md-10">
                <span class="val-readonly">@(_fullname)</span>

            </div>

        </div>
        <div class="form-row">
            <label class="col-sm-1 col-md-2 col-form-label">E-mail:</label>
            <div class="col-sm-11 col-md-10">
                <span class="val-readonly">@(Model.Rec.j02Email)</span>


            </div>

        </div>
        @Html.Raw(Model.Rec.TagHtml)

        @if (Model.UserProfile != null)
        {
            <div class="form-row">
                <label class="col-sm-1 col-md-2 col-form-label">Uživatel:</label>
                <div class="col-sm-11 col-md-10">
                    <span class="val-readonly">@(Model.UserProfile.j03Login)</span>


                </div>

            </div>
            <div class="form-row">
                <label class="col-sm-1 col-md-2 col-form-label">Aplikační role:</label>
                <div class="col-sm-11 col-md-10">
                    <span class="val-readonly">@(Model.UserProfile.j04Name)</span>


                </div>

            </div>
            <div class="form-row">
                <label class="col-sm-1 col-md-2 col-form-label">Last Ping:</label>
                <div class="col-sm-11 col-md-10">
                    <span class="form-control">@Model.UserProfile.j03PingTimestamp</span>


                </div>

            </div>
        }

        <div class="form-row">
            <label class="col-sm-1 col-md-2 col-form-label">Firma/Subjekt:</label>
            <div class="col-sm-11 col-md-10">

                <span class="val-readonly">@(Model.Rec.p28Name)</span>
            </div>

        </div>
        <div class="form-row">
            <label class="col-sm-1 col-md-2 col-form-label">Vlastník záznamu:</label>
            <div class="col-sm-11 col-md-10">
                <span class="val-readonly">@(Model.Rec.RecordOwner)</span>

            </div>

        </div>

    </div>

@Html.DisplayFor(m => m.Rec, "~/Views/Shared/_MyTimestamp.cshtml")



