@model j02PreviewViewModel
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";

    var _fullname = Model.Rec.j02FirstName + " " + Model.Rec.j02LastName;
}



@Html.HiddenFor(m => m.Rec.pid)

    <div class="modal_record_container">
        <div class="btn-group">
            <a asp-action="Index" asp-controller="TheGrid" class="btn btn-light" asp-route-pid="@Model.Rec.pid" asp-route-entity="j02">Grid</a>
        </div>
        <div class="btn-group">
            <a asp-action="Record" class="btn btn-light" asp-route-pid="@Model.Rec.pid" asp-route-entity="j02">Upravit</a>
        </div>
        <div class="form-row">
            <label class="col-sm-1 col-md-2 col-form-label">Jméno:</label>
            <div class="col-sm-11 col-md-10">
                <input class="form-control" asp-for="@_fullname" readonly="readonly" />

            </div>

        </div>


    </div>

@Html.DisplayFor(m => m.Rec, "~/Views/Shared/_MyTimestamp.cshtml")


<h1>Prostor pro 1:N přehledy z plánování, výroby apod.</h1>

